/* these are the default anchor styles*/
a {
    color: #565347;
    text-decoration:none;
    border-bottom:1px dotted #81785A;
}
a:hover {
    color:#820000;
    border-color:#820000;
    border-bottom-style:solid;
}
a:visited {
    color:#79455C
}