.antibiogram {
padding:1em;
}
.antibiogram table {
border-collapse:collapse;
}
.antibiogram th {
padding:.2em;
vertical-align:top;
border:1px solid #000;
}
.antibiogram td {
padding:.2em;
vertical-align:top;
border:1px solid #000;
}
table#anaerobes {
background-color:#d3e4de;
}
table#campy {
background-color:#cdacbf;
}
table#candida {
background-color:#e2c8c9;
}
table#gramNegative {
background-color:#d2c6ce;
}
table#gramPositive {
background-color:#ffffcc;
}
table#staph {
background-color:#e6e4f1;
}
table#strepEntero {
background-color:#c8cde1;
}
table#tuber {
background-color:#ccccff;
}
