
#banner {
    height : 286px;
    _width : 730px;
    position : relative;
    overflow : hidden
}
#banner img {
    display : block
}
.banner-nav-content {
    width : 100%;
    position : absolute;
    bottom : 0
}
#banner .banner-nav {
    float : left;
    margin-bottom : 0;
    margin-left : 5px;
    height : 46px;
    padding-top : 29px;
    width : 150px;
}
#banner li {
    list-style : none outside none;
    float : left;
    margin-left : 10px;
}
.banner-nav a {
    display : block;
    width : 18px;
    height : 18px;
    background-image : url(/././resources/images/bannerButtonOff1.png);
    border-bottom : none
}
.banner-nav .banner-nav-active,
.banner-nav a:hover {
    background-image : url(/././resources/images/bannerButtonOn1.png)
}
.banner-content {
    float : left;
    padding-top : 8px;
    color : white;
    font-weight : bolder;
    -webkit-text-shadow : 1px 1px 1px black;
    -moz-text-shadow : 1px 1px 1px black;
    text-shadow : 1px 1px 1px black;
}