
#banner {
    height : 286px;
    _width : 730px;
    position : relative;
    overflow : hidden
}
#banner .bannerBackground {
    display : block
}
.banner-content {
    position : relative;
    top : -286px;
    height : 286px
}
#banner .banner-nav {
    position : absolute;
    bottom : 18px;
    left : 5px
}
#banner li {
    list-style : none outside none;
    float : left;
    margin-left : 10px;
}
.banner-nav a {
	background: url("../images/sprite-all.png") no-repeat
		scroll 0px -160px transparent;
    width : 18px;
    height : 16px;
	padding: 0;
	border-bottom : none;
	display : block;
}
.banner-nav .banner-nav-active,
.banner-nav a:hover {
	background: url("../images/sprite-all.png") no-repeat
		scroll 0px -200px transparent;
}