#banner {
	margin-left: 6px;
	margin-top: 12px;
}

#banner .bannerBackground {
	display: block;
	background-color: #333333;
}

#banner .banner-content {
	background-color: #333333;
	color: #ffffff;
	height: 235px;
	margin-top: -4px;
}

#banner .banner-content h4 {
	margin: 0 12px 12px 12px;
	padding-top: 12px; color : #ffffff;
	font-family: 'Source Sans Pro', Arial, Helvetica, clean, sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	background-image:none;
	padding-bottom: 0;
}

#banner .banner-content p {
	margin: 12px 12px 12px 12px;
	font-family: 'Source Sans Pro', Arial, Helvetica, clean, sans-serif;
	line-height: 1.6em;
}

#banner .banner-content a {
	color: #ffffff;
}

#banner .banner-nav {
	position: absolute;
	bottom: 18px;
	left: 5px;
}

#banner li {
	list-style: none outside none;
	float: left;
	margin-left: 10px;
}

.banner-nav a {
	background: url("../images/sprite-all.png") no-repeat scroll 0px -160px
		transparent;
	width: 18px;
	height: 16px;
	padding: 0;
	border-bottom: none;
	display: block;
}

.banner-nav .banner-nav-active,.banner-nav a:hover {
	background: url("../images/sprite-all.png") no-repeat scroll 0px -200px
		transparent;
}