
#bassettContent p {
    text-align: justify;
}
#bassettContent h1{
    position: static;
}
#bassettContent a{
    border-bottom: 0px;
}

.profileImage{
    clear : both;
    float : right;
    height: 175px;
    margin: 0.5em 1em 1em;
    position : relative;
    text-align: center;
}
      
.fixed a{
    text-decoration: none;
}


/*********** Multi IMAGES VIEW CSS **********/

div.bassett-images{
    clear:both;
    padding-left:45px;
}

div.bassett-images div{
    padding :5px;
    padding-top: 15px;
    padding-bottom :30px;
    float: left;
}

#bassettContent .hr{
    border-bottom:1px solid #ccc;
    padding:0px;
    padding-bottom:7px;
    float:none;
}

#bassettContent .image-text{
    padding:0px;
    padding-top:3px;
}

div.paging{
    float:right;
    vertical-align:middle;
    clear:both;
}

div.paging img{
    padding:0px;
    padding-right:3px;
    padding-top:1px;
}

div.paging #page-number{
    color:#666;
    padding-right:5px;
    padding-left:5px;
}

/*********** IMAGE VIEW CSS **************/


div.bassett-image{
    clear:both;
    width:100%;
}

div.bassett-image table{
    margin-right: 5px;
    margin-bottom :30px;
    text-align: center;
}

div.bassett-image td{
    vertical-align:middle;
    padding: 7px;
}

div.bassett-image td#image{
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-right:20px
}

div.bassett-image td#diagram-image{
    vertical-align: top;
    border-right:1px solid #ccc;
}

div.bassett-image td#legend-image{
    border-bottom:1px solid #ccc;
}

div.bassett-image table table{
    margin-left:15px;margin-top:15px;
}

div.bassett-image table table table{
    margin:0px;
}

div.bassett-image table table td{
    padding: 0px;
    padding-top: 3px;
    padding-left: 2px;
    text-align: left;
    vertical-align: top;
}

div.bassett-image table table td.legend-title{
    font-weight:bold;
    text-align: center;
    padding-bottom :7px;
}

div.bassett-image table table td.legend-sub-title{
    text-align: center;
    padding-bottom :5px;
    font-style:italic;
}

div.bassett-image table table td.legend-description{
    text-align: justify;
    padding-bottom: 15px;
}

#larger-view-link{
    padding-right:10px;
    float:right;
}


#bassett-number{
float:left;
}


#second-region{
    padding-top:7px;
    clear:both
}

#bassett-subtitle{
    font-size:0.9em;
    color:#968672;
}

.legend-title{
padding-top:7px;
}
/* COMMON TO THE TWO IMAGE VIEW  */

img.newWinIcon{
    padding-left :3px;
}

#bassettContent hr{
    border: 0px;
    background-color: #ccc;
    height: 1px;
    clear:both;
}

.choice{
    float:left;
    color:#1C4B70;
}

.choice a{
    color:#1C4B70;
}

.choice span{
    color:#1C4B70;
    text-decoration:underline;
}


/********  Larger View ***********/

#new-window a{
    color:#1C4B70;
    text-decoration:none;
    font-size:10px;
    margin-right: 10px;
    float:right
}        