.look-here{
    position:absolute;
    left:-200px;
    top:-120px;
    border:4px #DADAD8 solid;
    background-color:#fff;
    text-align:center;
    font-weight:bold;
    padding:1em;
    color:#820000;
}

.look-here .look-here-arrow{
    background-image:url("/././resources/images/icons-sprite2.png");
    background-position: -460px -90px;
    width:68px;
    height:50px;
    position:absolute;
    right:-60px
}