#bookmark-instructions {
	border: 1px solid #DADAD8;
}

#bookmark-instructions .hd {
	font-weight: bold;
	background-color: #e8e8e8;
	height: 11px;
}

#bookmark-instructions .hd div {
	background-image: url("/././resources/images/icons-sprite3.png");
	height: 24px;
	width: 202px;
	margin: auto;
	text-align: center;
	padding: 5px;
}

#bookmark-instructions-hide,.yui3-accordion-item.yui3-accordion-item-active #bookmark-instructions-show
	{
	display: none;
}

#bookmark-instructions-show,.yui3-accordion-item.yui3-accordion-item-active #bookmark-instructions-hide
	{
	display: block;
}

#bookmark-instructions-hide {
	background-position: 0 -347px;
}

#bookmark-instructions-show {
	background-position: 0 -309px;
}

#bookmark-instructions .module {
    padding: 2em 2em 1em 2em;
}

/*hide IE bookmarklet instructions, made visible via javascript (lane-ie.js)*/
#bookmarkletIE {
	display: none
}

/* Graphics to replace css button for Bookmark on Lane. CSS button doesn't allow to bookmark in IE. Text that appears on the css button, also appears on the toolbar. This is to fix both. */
#bookmarkletNotIE .bookmark-on-lane {
	cursor: pointer;
	height: 31px;
	width: 326px;
	display: inline-block;
	background-image: url("/././resources/images/icons-sprite3.png");
	background-repeat: no-repeat;
	background-position: -396px -233px;
	color: transparent;
	margin-bottom: 1em;
}

#bookmarkletIE .bookmark-on-lane {
	cursor: pointer;
	height: 31px;
	width: 326px;
	display: inline-block;
	background-image: url("/././resources/images/icons-sprite3.png");
	background-repeat: no-repeat;
	background-position: 0 -233px;
	color: transparent;
	margin-bottom: 1em;
}