/* hover styles for #favorites currently in lane-nav.css */
#favorites li {
	float: none;
	border-left: none;
	margin: 0;
	padding: 1px 5px;
}

#bookmark-link {
    cursor: pointer;
    background-image: url("/././resources/images/icons-sprite.png");
    background-position: 0 0;
    background-repeat:no-repeat;
    display: inline-block;
    height: 16px;
    width: 26px;
    position: absolute;
    margin-left:5px
}

#bookmark-link.active,
#bookmark-link.bookmarking {
background-position: 0 -26px
}

#bookmark-link.successful {
background-position: 0 -53px
}

#bookmarks-editor  {
	margin-top: 1.5em;
	}

#bookmarks-editor fieldset {
	border: 1px #DADAD8 solid;
	background-color: #F4F5EF;
	padding: 5px 15px;
}

#bookmarks-editor button {
	display: inline-block;
	margin: 5px;
	padding: 5px 12px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #444444 !important;
	background-color: #edede5;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafbf8), to(#dadad4) );
	background: -moz-linear-gradient(#fafbf8, #dadad4);
	/*filter necessary to display gradient in IE*/
	filter: progid: DXImageTransform.Microsoft.gradient (startColorstr ='#fafbf8', endColorstr ='#dadad4' );
	border: 1px solid #dadad9;
	text-transform:capitalize
}

#bookmarks-editor button:hover {
	border: 1px solid #9e9d98;
	-moz-box-shadow: 1px 1px 1px 1px #e8e8e8;
	-webkit-box-shadow: 1px 1px 1px 1px #e8e8e8;
	box-shadow: 1px 1px 1px 1px #e8e8e8;
}

#bookmarks-editor li {
	list-style-image: none;
	list-style-type: none;
	border-bottom: 1px #DADAD8 solid;
	margin-left: 0;
	padding: 12px;
}

#bookmarks-editor input {
	margin-right: 12px;
}

#bookmarks-editor input[type='text'] {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	padding: 5px;
	border: solid 2px #C9C9C9;
	width: 25em;
}