#look-here{
    display:none;
    position:absolute;
    left:-200px;
    top:-35px;
    border:4px #DADAD8 solid;
    background-color:#fff;
    text-align:center;
    font-weight:bold;
    padding:1em;
    color:#820000;
    z-index:1;
}

#look-here .look-here-arrow{
    background:url("/././resources/images/icons-sprite2.png") no-repeat scroll -460px -90px transparent;
    width:68px;
    height:50px;
    margin-right:-70px;
    margin-bottom:-120px;
    float:right;
}

/*IE7 shaded border on top of #look-here*/
.sb_tb {
    _z-index : -1
}