#bookmark-instructions .yui3-accordion-item-hd {
    text-align: center;
    font-weight:bold;
}
#bookmark-instructions-hide,
.yui3-accordion-item.yui3-accordion-item-active #bookmark-instructions-show {
    display:none;
}
#bookmark-instructions-show,
.yui3-accordion-item.yui3-accordion-item-active #bookmark-instructions-hide {
    display:block;
}