/* hover styles for #favorites currently in lane-nav.css */
#favorites li{
    float:none;
    border-left:none;
    margin:0;
    padding:1px 5px
}
#bookmark-link{
    cursor:pointer;
    padding-left:5px;
}
#bookmark-link.active {
    color:blue;
}
#bookmark-link.bookmarking {
    color:orange;
}
#bookmark-link.successful {
    color:green;
}
#bookmark-link.failed {
    color:red;
}
#bookmarks-editor fieldset{
    border:1px #DADAD8 solid;
    background-color:#F4F5EF;
    padding:5px 15px
}
#bookmarks-editor button{
    border:1px #DADAD8 solid;
    background-color:#FAFAF8;
    padding:5px;
    margin-right:20px;
    border-radius:3px;
    cursor:pointer;
    font-family:Georgia;
    color:#414141
}
#bookmarks-editor button:hover{
    background-color:#F5F5F3;
    color:#111111
}
#bookmarks-editor li{
    list-style-image:none;
    list-style-type:none;
    border-bottom:1px #DADAD8 solid;
    margin-left:0;
    padding:12px
}
#bookmarks-editor input{
    margin-right:12px
}
#bookmarks-editor input[type = 'text']{
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 8px;
    padding:5px;
    border:solid 2px #C9C9C9;
    width:25em
}