/*#bookmarks h3 a {
    text-transform : none;
    float : right;
    display : block
}
#bookmarks .remove input,
.yui3-bookmarks-remove {
    background : none;
    border : none;
    border-bottom : 1px dotted #81785A;
    float : right;
    color : #1C4B70;
    clear : right
}
#bookmarks .remove input:hover,
.yui3-bookmarks-remove:hover {
    color : #820000;
    border-color : #820000;
    border-bottom-style : solid;
    cursor : pointer
}
/\* IE 6 & 7 need this to retain list bullets . . . *\/
#bookmarks .remove {
    border : 1px solid white
}
#bookmarks h4 {
    text-align : center;
    font-size : 1.1em
}
#bookmarks .add,
#bookmarks .yui3-bookmarks-edit {
    text-align : right
}
#bookmarks label {
    float : left
}
#bookmarks input[type = "text"] {
    width : 80%;
    margin-bottom : 2px
}
.yui3-bookmarks-hide {
    display : none
}*/