#shd ul {
border:1px solid #c6c6c6;
border-top:none
}
#shd ul li {
border-top:1px dotted #c6c6c6
}
#ft {
border-top:1px solid #C1C1C1;
}
#ft li {
border-left:1px dotted #C1C1C1;
}
#gft li {
border-left:1px dotted #818181;
}
#search fieldset, #ft li:first-child, #gft li:first-child, #otherPortalOptions {
border:none;
}
#leftColumn div, #rightColumn div {
border-bottom:1px solid #c1c1c1;
}
#leftColumn  {
border-right:1px solid #c1c1c1;
}
#rightColumn div {
border-left:1px solid #c1c1c1;
}
#hd {
border-bottom: 1px solid #c1c1c1;
}
.bgTab, #eLibraryTabs li, #browseTabs li {
border: 1px solid #cccccc;
}
.activeTab, li.eLibraryTabActive {
border:1px solid #99987a;
}
div.fMainBox {
border:1px solid #9C9A90;
border-top-width: 4px;
}
#popInContent {
border-bottom:1px solid #9C9A90;
border-top: 4px solid #9C9A90;
}
#otherPortalOptions ul {
border:1px solid #999;
}
div.wrapperBox {
border:1px solid #ccc;
}
div.aGeneralBox {
border: 1px solid #ccc;
}
#rightColumn .aGeneralBox {
border-top:none;
}
object#featureSlider div.aGeneralBox img {
border: 1px solid #ccc;
}
.yui-tt { 
border:1px solid #CCCCCC;
}
.yui-panel .hd {
border:1px white solid;
border-bottom: 1px black solid;
}
#popupContainer {
border:1px solid black;
}
fieldset {
border: 1px solid #c1c1c1;
}