.business-card .yui3-g [class *= 'yui3-u']{
    font-family: 'Fjord One', serif;
}

.business-card {
    margin-top: 12px;
    padding: 12%;
    line-height: 1.6em;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #333333;
    box-sizing: border-box;
    position: relative;
}

.business-card h3{
   text-transform: uppercase;
    font-family: 'Fjord One', serif;
    color: #ffffff;
    text-align: center;
    background-image: none;
}


.business-card li {
    border-bottom: none;
}

.business-card:after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.business-card a, .business-card a .fa {
    color: #FFF;
}
