/* styles for css buttons */
/*gray button*/
.gray-btn {
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #444444 !important;
	background: #edede5;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafbf8), to(#edede5) );
	background: -moz-linear-gradient(#fafbf8, #edede5);
	/*filter necessary to display gradient in IE*/
	filter: progid: DXImageTransform.Microsoft.gradient (startColorstr ='#fafbf8', endColorstr ='#edede5' );
	border: 1px solid #dadad9;
	margin: 5px;
}

.gray-btn:hover {
	-moz-box-shadow: 1px 1px 1px 1px #e8e8e8;
	-webkit-box-shadow: 1px 1px 1px 1px #e8e8e8;
	box-shadow: 1px 1px 1px 1px #e8e8e8;
	border: 1px solid #9e9d98;
}

.gray-btn span {
	display: inline-block;
	padding: 7px 12px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* red button */
.red-btn {
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff !important;
	background: #e82c2e;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e82c2e), to(#990000) );
	background: -moz-linear-gradient(#e82c2e, #990000);
	/*filter necessary to display gradient in IE*/
	filter: progid: DXImageTransform.Microsoft.gradient (startColorstr ='#e82c2e', endColorstr ='#990000' );
	border: 1px solid #990000;
	margin: 5px;
}

.red-btn:hover {
	border: 1px solid #ff0000;
	background-color: #990000;
	background-image: -moz-linear-gradient(center top, #e82c2e, #820000);
	background: -webkit-gradient(linear, center top, from(#e82c2e)to(#820000) );
	/*filter necessary to display gradient in IE*/
	filter: progid: DXImageTransform.Microsoft.gradient (startColorstr ='#e82c2e', endColorstr = '#820000' );
	color: #ffffff;
	-moz-box-shadow: 1px 1px 1px 1px #e8e8e8;
	-webkit-box-shadow: 1px 1px 1px 1px #e8e8e8;
	box-shadow: 1px 1px 1px 1px #e8e8e8;
}

.red-btn span {
	display: inline-block;
	padding: 7px 12px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* orange button */
.orange-btn {
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff !important;
	background: #F0AF00;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0AF00), to(#ed6b03) );
	background: -moz-linear-gradient(#F0AF00, #ed6b03);
	filter: progid: DXImageTransform.Microsoft.gradient (startColorstr ='#F0AF00', endColorstr ='#ed6b03' );
	border: 1px solid #ed6b03;
	margin: 5px;
}

.orange-btn:hover {
	border: 1px solid #ff9900;
	background-color: #f9790a;
	background-image: -moz-linear-gradient(center top, #fc8c09, #d15f03);
	background: -webkit-gradient(linear, center top, from(#fc8c09), to(#d15f03) );
	/*filter necessary to display gradient in IE*/
	filter: progid: DXImageTransform.Microsoft.gradient (startColorstr ='#fc8c09', endColorstr ='#d15f03' );
	color: #ffffff;
	-moz-box-shadow: 1px 1px 1px 1px #e8e8e8;
	-webkit-box-shadow: 1px 1px 1px 1px #e8e8e8;
	box-shadow: 1px 1px 1px 1px #e8e8e8;
}

.orange-btn span {
	display: inline-block;
	padding: 7px 12px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* medium gray button */
.mgray-btn {
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #444444 !important;
	background: #dcdcdc;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dcdcdc), to(#9d9fa2) );
	background: -moz-linear-gradient(#dcdcdc, #9d9fa2);
	filter: progid: DXImageTransform.Microsoft.gradient (startColorstr ='#dcdcdc', endColorstr ='#9d9fa2' );
	border: 1px solid #9d9fa2;
	margin: 5px;
}

.mgray-btn:hover {
	border: 1px solid #414042;
	background-color: #f9790a;
	background-image: -moz-linear-gradient(center top, #D6DDD3, #666666);
	background: -webkit-gradient(linear, center top, from(#D6DDD3), to(#666666) );
	/*filter necessary to display gradient in IE*/
	filter: progid: DXImageTransform.Microsoft.gradient (startColorstr ='#D6DDD3', endColorstr ='#666666' );
	color: #ffffff;
	-moz-box-shadow: 1px 1px 1px 1px #e8e8e8;
	-webkit-box-shadow: 1px 1px 1px 1px #e8e8e8;
	box-shadow: 1px 1px 1px 1px #e8e8e8;
}

.mgray-btn span {
	display: inline-block;
	padding: 7px 12px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* styles for grey buttons in sprite*/
.button {
	display: block;
	font-size: 0;
	color: white;
	background-image: url(/././resources/images/sprite-but-off1.gif);
	background-repeat: no-repeat;
	height: 27px;
	width: 147px;
	margin: 5px 0;
	border: none;
}

.button:hover {
	background: transparent url(/././resources/images/sprite-but-on1.gif);
	border: none;
	color: white;
}

.events.button {
	color: white;
}

.button.directions-maps,.button.direction-maps:hover {
	background-position: -25px -318px;
	margin: 10px 0;
}

.button.all-classes,.button.all-classes:hover {
	background-position: 11px -220px;
	width: 156px;
	margin: 15px 0
}

.button.subscribe {
	background-position: -25px -70px;
	background-color: transparent;
	cursor: pointer;
}

.button.sched-support,.button.sched-support:hover {
	background-position: -25px -318px;
	width: 162px;
	margin: 7px 0 0 0;
	height: 48px;
}

.bookmarklet {
	background-position: -25px -529px;
	background-color: transparent;
	cursor: pointer;
	height: 36px;
	width: 173px;
}

.bookmarklet:hover {
	background-position: -25px -529px;
	background-color: transparent;
	cursor: pointer;
	height: 36px;
	width: 173px;
}

.info {
	background-position: -250px -61px;
	background-color: transparent;
	cursor: pointer;
	height: 23px;
	width: 22px;
	display: inline-block;
}

.info:hover {
	background-position: -250px -61px;
	background-color: transparent;
	cursor: pointer;
	height: 23px;
	width: 22px;
}

/*separate buttons - need to be combined into sprite*/
.button.livechat,.button.livechat:hover {
	background-position: 13px -19px;
	margin: 10px 0;
}

#infoLiteracy {
	background-image: url(/././resources/images/infoLiteracy1.png);
	display: block;
	width: 161px;
	height: 70px;
	background-repeat: no-repeat;
	margin: 5px auto;
	font-size: 0;
	text-indent: -1000px;
	border-bottom: none
}

#infoLiteracy:hover {
	background-position: 0 -105px
}

/*see all button on ej and search pages*/
#seeAll {
	background-image: url(/././resources/images/seeall-but-off.gif);
	border-bottom: none;
	float: right;
	height: 26px;
	position: relative;
	color: white;
	font-size: 0;
	top: -6px;
	margin: 0 0 -12px 5px;
	width: 95px;
}

#seeAll:hover {
	background-image: url(/././resources/images/seeall-but-on.gif);
}