/* rules for styling markup for images with captions */

.captioned-img {
    text-align : center;
}
.captioned-img.left {
    float : left;
    margin-right : 1em
}
.captioned-img.right {
    float : right;
    margin-left : 1em
}
.captioned-img div {
    padding : 0 5px
}