/* rules for styling markup for images with captions */

.captioned-img {
    text-align : center;
}
.captioned-img.left {
    float : left;
    margin-right : 1em;
}
.captioned-img.right {
    float : right;
    margin-left : 1em;
}
.captioned-img div {
    font-size : .9em;
    font-family : Georgia, 'Times New Roman', Times, serif;
    color : #666666;
    padding : 0 5px;
}
.captioned-img a {
    border-bottom : none;
    cursor : pointer;
}
.captioned-img div a {
    border-bottom : 1px dotted #81785A;
    font-size : 10px
}
.captioned-img div a:hover {
    border-bottom : 1px solid #820000;
}

/*light box related rules*/
.yui3-lightbox-content .captioned-img {
    padding : 18px;
    background-color : #F7F3E7;
    -moz-border-radius :5px;
    -webkit-border-radius:5px;
}
.yui3-lightbox-content img {
    padding : 11px;
    background-color : white;
    border : 1px #B7B7AD solid
}