.class{
    margin: 12px 0 60px;
}
.class .date{
    background-color: #009abb;
    width: auto;
    padding: 0 12px;
    box-sizing: border-box;
}
.class .month-day{
    padding-top: 24px;
}
.class .year{
    font-size: 24px;
    font-weight: 700;
}
.class h3 a{
    color: #8c1515;
}
.class .time{
    margin: 12px 0;
}

.youtube-class{
	padding-top: 20px;
	padding-left: 12px;
}

.youtube-class .youtube-thumbnail img{
	width: 223px;
}
 