html {
    color:black;
}
/* styles to keep - they correspond to CY YUI grid */
p, span, td {
    color: #333;
/* #3f3c30; */    
}
.red {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 1.1em;
}
.warning, .new-warning {
    color: #820000;
    font-weight:bold;
}
.new-warning {
    font-size:.8em;
}
.grey {
    color: #999999;
}
.hours {
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:0.9em;
}
.bold-warning, .weekday {
    font-weight:bold;
    font-size: 12px;
}
.red, .weekday {
    padding-bottom:0;
    margin-bottom: 0;
}
.small-print {
    font-size: .8em;
}
/* styles for a new book section on the index page */
.new-book {
    overflow: visible;
    height: auto;
}
.new-book img {
    float: left;
    padding-right: 1em;
}
/* Delete the style below when the content is finalized */
.olya-content-notes {
    color:#0C0;
    font-weight: bold;
}