.contentModule .hd, .contentModuleIndex .hd, .contentModule-wide .hd {
    background-color:#800000;
    background-image:url(/././images/sprite-vert.gif);
    background-position:0 -412px;
    height:15px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
}

.mainModule .contentModuleIndex .bd {
    border:none;
    padding:0;
}

.contentModule .bd, .contentModule-wide .bd {
    background-image:url(/././graphics/backgr/left-column-back.gif);
    background-repeat:repeat-x;
    padding:0.5em 1em;
}

.contentModule-wide {
    margin-right: 1em;
}

/* search specific */
.search .contentModule {
    width:709px;
}
.search .contentModule .bd {
    border:3px solid #B2A77A;
    min-height:600px;
    height:auto !important;
    height:600px;
}
/* end search specific */

.contentModule .bd ul li {
        background-position:0 -1192px;
}