.dropdown > *:first-child {
    cursor:pointer;
}
.dropdown-content {
    display:none;
    position:absolute;
    border:1px solid #dadad9;
    border-top:none;
    background:white;
    background:linear-gradient(white,rgb(232,232,232));
    border-radius:0 0 3px 3px;
    box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-content{
    display:block
}