
/*styles for classes on homepage*/

.date{
    text-transform: uppercase;
    text-align: right;
    color: white;
    padding: 4px 4px 20px;
    box-sizing: border-box;
}
.time{
    font-weight: bold;
}
.date.grandrounds-date{
    background-color: #09425a;
}
.date.lane-date{
    background-color: #009abb;
}
.date.healthlibrary-date{
    background-color: #80982a;
}
.date.cme-date{
    background-color: #b96d12;
}