.type1 .even, .type1 .odd {
    margin-left:0;
    list-style:none;
    font-size:11px !important;
    margin-bottom:5px;
}
.type1 li li {
    font-size:12px;
}
.type1 .even.expanded, .type1 .odd.expanded, .type1 .even.yui3-accordion-item-active, .type1 .odd.yui3-accordion-item-active {
    background-color:#DBD2B3;
}
.type1 .odd {
    background-color:#fcf9f2;
}
.type1 .even {
    background-color:#f6f3e5;
}
.type1 h4 {
    color:#3F3C30;
    font-family:inherit;
    font-size:12px;
    font-weight:bold;
}
.type1 h5 {
    text-transform:uppercase;
    font-size:11px;
    font-weight:400;
    border-bottom:5px #820000 solid;
    color:#820000;
    padding-bottom:2px;
    letter-spacing:1.4px;
    font-family:Georgia,"Times New Roman",Times,serif;
}
.type1 .alt {
    color:#575347;
    border-bottom-color:#575347;
}
.type1 .hide, .type1 .show {
    border-bottom:1px dotted #81785A;
    color:#565347;
    cursor:pointer;
}
.type1 .hide {
    display:none;
}
.type1 .expanded .show, .type1 .yui3-accordion-item-active .show {
    display:none;
}
.type1 .expanded .hide, .type1 .yui3-accordion-item-active .hide {
    display:inline;
}
.yui3-js-enabled .type1 .details {
    display:none;
}
.yui3-js-enabled .type1 .details.yui3-accordion-item-bd {
    display:block;
}
/*for IE6 doen't know about .details > div*/
.type1 .details .child {
    background-color:white;
    border:16px solid #DBD2B3;
    padding:16px 16px 0;
}
.type1 .details > div {
    background-color:white;
    border:16px solid #DBD2B3;
    padding:8px 16px 0;
}
.type1 .details p {
    font-size:12px;
    line-height:18px;
}
/* the following to make sure class="weak" takes precedence:*/
.type1 .details .weak {
    font-size:11px;
    line-height:normal;
}
.type1 .details .extra {
    float:right;
    font-size:larger;
    margin-left:30px
}
.type1 .extra p {
    line-height:8px;
}
.type1 .extra div {
    font-size:150%;
    font-weight:bold;
}
.type1 .extra img {
    float:left;
    margin-right:10px;
}
.type1 .yui-ge, .type1 .yui-gc, .type1 .yui-gf {
    line-height:18px;
    padding:8px 4px 8px 16px;
}
