
#favorites ul{
    display:none;
    background-color:white;
    position:absolute;
    border:1px solid #dadad9;
    border-top:none;
    padding:6px 0;
    z-index:2;
    background-image:url(../images/sprite-vertall.png);
    background-position:0 bottom;
    background-repeat:repeat-x;
    -webkit-border-radius:0 0 3px 3px;
    -moz-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
    -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
}