
#feedbackLink {
    position : fixed;
    top : 50%;
    right : 0;
}
#feedbackLink a {
    display : block;
    background-image : url(/././resources/images/feedback-vertical-off.png);
    width : 31px;
    height : 110px;
    border-bottom : none
}
#feedbackLink a:hover {
    background-image : url(/././resources/images/feedback-vertical-on.png);
}

.yui3-feedback-item {
    display : none
}
.yui3-feedback-item-active {
    display : block
}
.yui3-lightbox #feedback {
    width : 750px;
    border : 10px solid #7C786C;
    -webkit-border-radius : 12px;
    -moz-border-radius : 12px;
    border-radius : 12px;
    background-color : #F6F3E5;
    /*TODO: update this image url when finalized*/
    background-image : url(/././samples/feedback/feedbackBg1.png);
    background-position : top;
    background-repeat : repeat-x;
    padding : 20px 20px 40px;
}
#feedback h2 {
    text-align : left;
    margin-left : 15px;
    font-size : 32px;
    text-shadow : 1px 3px 3px white
}
#feedback li {
    list-style: none outside none
}
#feedbackMenu {
    text-align : left;
    margin-top : 40px;
    font-family : Georgia;
    font-size : 16px
}
#feedbackMenu li {
    padding : 10px 15px
}
#feedbackMenu a,
#feedbackMenu a:visited {
    border-bottom : none;
    color : #585347
}
.yui3-lightbox #feedbackItems {
    background-color : white;
    border : 1px solid #7C786C;
    box-shadow:-5px 5px 5px gray
}
.yui3-feedback-menu-active {
    background-color : white;
    border : 1px solid #7C786C;
    border-right : none;
    width : 225px;
    box-shadow : -5px 5px 5px gray
}
/*#instantHelp {
    margin-top : 50px
}
#instantHelp h3 {
    font-size : 14px;
    letter-spacing : 1.1px;
    color : white;
    border-bottom : none
}*/
#feedback form {
    padding : 20px;
    text-align : left
}
.mainFeedback {
    color : #585347;
    font-family : Georgia;
    font-size : 18px;
    font-weight : bold
}
#feedback textarea {
    width : 100%
}

#feedback input[type="submit"] {
    background-image : url(/././resources/images/submit-feedback-off.png);
    border : none;
    font-size : 0;
    display : block;
    width : 223px;
    height : 43px
}

#feedback input[type="submit"]:hover {
    background-image : url(/././resources/images/submit-feedback-on.png);
    cursor : pointer
}