
#feedbackLink {
    position : fixed;
    top : 45%;
    right : 0;
    z-index : 1
}
/* IE6 doesn't do position : fixed, this class is added via lane-ie.js*/
#feedbackLink.ie6Feedback {
    position : absolute;
}
#feedbackLink a {
    display : block;
    background-image : url(/././resources/images/icons-sprite3.png);
    background-position: -699px 0px;
    width : 31px;
    height : 110px;
    border-bottom : none
}
#feedbackLink a:hover {
    background-image : url(/././resources/images/icons-sprite3.png);
    background-repeat: no-repeat;
    background-position: -654px 0px;
}

.yui3-feedback-item, .yui3-purchase-item {
    display : none
}
.yui3-feedback-item-active, .yui3-purchase-item-active {
    display : block
}
.yui3-lightbox #feedback {
    width : 750px;
    border : 10px solid #7C786C;
    -webkit-border-radius : 12px;
    -moz-border-radius : 12px;
    border-radius : 12px;
    background-color : #EFE7D7;
    background-image : url(/././resources/images/feedbackBg1.png);
    background-position : bottom;
    background-repeat : repeat-x;
    padding : 20px 20px 40px;
}
#feedback, #feedback select, #feedback option {
    color : #585347;
    font-family : Georgia;
    font-size : 14px;
}
#feedback h2 {
    text-align : left;
    margin-left : 15px;
    font-size : 32px;
    text-shadow : 1px 3px 3px white
}
#feedback li {
    list-style : none outside none
}
#feedbackMenu {
    text-align : left;
    margin-top : 40px;
    font-size : 16px;
    /*IE6 fix*/
    _overflow : hidden
}
#feedbackMenu li {
    padding : 10px 15px
}
#feedbackMenu a,
#feedbackMenu a:visited {
    border-bottom : none;
    color : #585347
}
.yui3-lightbox #feedbackItems {
    background-color : white;
    border : 1px solid #7C786C;
    -webkit-box-shadow : -5px 5px 5px gray;
    -moz-box-shqdow : -5px 5px 5px gray;
    box-shadow : -5px 5px 5px gray
}
.yui3-feedback-menu-active {
    background-color : white;
    border : 1px solid #7C786C;
    border-right : none;
    width : 225px;
    box-shadow : -5px 5px 5px gray
}
#feedback form {
    padding : 20px;
    text-align : left
}
#feedback .mainFeedback {
    font-size : 18px;
    font-weight : bold
}

.feedbackSubmit {
    background-color : transparent;
    background-image : url(/././resources/images/submit-feedback-off.png);
    border : none;
    display : block;
    width : 223px;
    height : 43px;
    margin : 0 auto;
    cursor : pointer
}

.feedbackSubmit:hover {
    background-image : url(/././resources/images/submit-feedback-on.png);
}


.feedbackText {
    padding : 9px;
    margin-bottom : .5em;
    border : solid 2px #C9C9C9;
    outline : 0;
    font : normal 13px / 100%Arial, Verdana, sans-serif;
    background : #FFFFFF;
    width : 100%;
    *width : 95%;
    _width : 95%;
    -moz-box-sizing : border-box;
    -ms-box-sizing : border-box;
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
}

/*a couple of IE6 fixes*/
#feedbackItems .yui-g .yui-u .feedbackText {
    *width : 90%;
    _width : 90%
}
#feedback .yui-gd .first {
    _overflow : hidden
}

#feedback textarea {
    height : 150px;
    line-height : 150%;
}

#feedback input:hover,
#feedback textarea:hover,
#feedback input:focus,
#feedback textarea:focus {
    border-color : #9d9b94;
}

#feedback label {
    display : block;
    margin-top : .5em
}


#feedback input,
#feedback textarea,
#feedback select {
    box-shadow : rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow : rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow : rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

/* .incorrect is for the invalid for text inputs */
#feedback .incorrect {
    background-color : #F0E8D8;
    color : #920000;
    background-image : url(/././resources/images/required.png);
    background-repeat : no-repeat;
    background-position : right center
}
#feedback select {
	border: 2px solid #C9C9C9;
	width : 100%;
	height : 37px;
	padding : 6px;
	margin-top : 24px
}
#purchaseMenu {
    margin : 9px 0 40px;
}
#purchaseMenu li {
    float : left
}
#purchaseMenu a {
    display : block;
	border: 2px solid #C9C9C9;
	color: #585347;
	padding: 4px 50px;
	margin-right : 12px
}
#purchaseMenu a:hover {
	background: #E6E4DC;
	border-color: #9D9B94;
	color: #585347;
}