
/*--------------ALL forms within lightbox-----------------------------------------------------*/

#feedback form,#subscribe form {
	padding: 20px;
	text-align: left;
}
#feedback label, #subscribe label {
	display: block;
	margin-top: .5em;
}
#subscribe input,#subscribe textarea,#subscribe select,#feedback input,#feedback textarea,#feedback select
	{
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
}
#feedback textarea {
	height: 150px;
	line-height: 150%;
}
.feedbackText {
	padding: 9px;
	margin-bottom: .5em;
	border: solid 2px #C9C9C9;
	outline: 0;
	font: normal 13px/100% Source Sans Pro, Arial, Helvetica, clean, sans-serif;
	background: #FFFFFF;
	width: 100%;
	*width: 95%;
	_width: 95%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#feedback select,#subscribe select {
	border: 2px solid #C9C9C9;
	width: 100%;
	height: 37px;
	padding: 6px;
	margin-top: 24px;
}
#subscribe input:hover,#subscribe textarea:hover,#subscribe input:focus,#subscribe textarea:focus,#feedback input:hover,#feedback textarea:hover,#feedback input:focus,#feedback textarea:focus
	{
	border-color: #9D9B94;
}

/*-------------------------submit button is the same for all forms in the lightbox-----------------------------------*/

.submit-btn {
	text-align: center;
}

/*-------------------------persistent login--------------------------------------------------------------------------*/

#persistent label{
	display: inline-block;
	font-weight: bold;
	margin-left: 3px;
	margin-bottom: 18px;
	}

#shibboleth-links {
	text-align:center;
	margin: 36px -36px 0-36px;
}

#shibboleth-links .organization{  
	text-align:center;
	margin-top:6px;
	padding:6px 0px 6px 0px;
	background-color:  rgb(236, 241, 242);
}

#shibboleth-links .organization li{
	display: inline-block;
	border-bottom: none;
	padding: 3px 6px 3px 6px;
	}

#shibboleth-links .organization a{
	display: block;
	border: 1px solid #ddd;
	padding:12px 3px 12px 3px;
	background-color: white;
}

#shibboleth-links .organization p.selected{
	width: 120px;
	height: 30px;
	margin-left: 9px;
	margin-top: 14px;
	background-image: url('/graphics/buttons/redirect.gif');
	}

#shibboleth-links .organization span{
	display: block;
	width: 170px;
	height: 146px;
	background-color:  white;
	background-repeat: none;
	background-image: url('/graphics/logos/organizations.png');
}

#shibboleth-links .organization a#Stanford span{
background-position: 14px -51px;
}
#shibboleth-links .organization a#SHC span{
background-position: 14px -51px;
}
#shibboleth-links .organization a#LPCH span{
background-position: center -103px;
}

#persistent #login {
	position: inherit;
}

/*-------------------------feedback widget--------------------------------------------------------------------------*/
#feedback .mainFeedback /*looks the same as h4*/ {
	font-size: 1.8em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	margin-bottom: .2em;
	color: #820000;
}
#feedback li {
	list-style: none outside none;
}

#feedbackMenu /*tabs on the left */ {
	text-align: left;
	margin-top: 40px;
	/*IE6 fix*/
	_overflow: hidden
}
#feedbackMenu li {
	padding: 10px 15px;
}
.yui3-lightbox #feedbackItems {
	background-color: white;
	border: 2px solid #fff;
	box-shadow: rgba(152, 152, 152, 5) 0px 0px 6px;
	-moz-box-shadow: rgba(152, 152, 152, 5) 0px 0px 6px;
	-webkit-box-shadow: rgba(152, 152, 152, 5) 0px 0px 6px;
	/* For IE 8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#989898')";
	/* For IE 5.5 - 7 */
	filter: progid :   DXImageTransform.Microsoft.Shadow (   Strength =   3,
		Direction =   135, Color =   '#989898' );
}
.yui3-feedback-item,.yui3-purchase-item {
	display: none;
}
.yui3-feedback-item-active,.yui3-purchase-item-active {
	display: block;
}
.yui3-feedback-menu-active {
	background-color: white;
	width: 225px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border-right: none;
	box-shadow: rgba(152, 152, 152, 5) -4px 0px 6px;
	-moz-box-shadow: rgba(152, 152, 152, 5) -4px 0px 6px;
	-webkit-box-shadow: rgba(152, 152, 152, 5) -4px 0px 6px;
	/* For IE 8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#989898')";
	/* For IE 5.5 - 7 */
	filter: progid :   DXImageTransform.Microsoft.Shadow (   Strength =   3,
		Direction =   135, Color =   '#989898' );
}

/*--------------suggestion for purchase styles--------------------------------------------*/
#purchaseMenu {
	margin: 9px 0 40px;
}
#purchaseMenu li {
	float: left
}
#purchaseMenu a {
	display: block;
	border: 2px solid #C9C9C9;
	padding: 4px 50px;
	margin-right: 12px;
}
#purchaseMenu a:hover {
	background: #F4F5EF;
	border-color: #9D9B94;
	color: #585347;
}
/*-------------------  .incorrect is for the invalid for text inputs-------------------------*/
#feedback .incorrect {
	background-color: #F4F5EF;
	color: #8C1515;
	border: 2px solid #820000;
	display : block;
	font-weight: bold;
}


/*------contentForm is due for cleanup - remove once the new css and widget is implemented----------*/
.contentForm legend {
    border : 1px solid #C1C1C1;
    color : #444444;
    font-size : 95%;
    font-weight : bold;
    padding : 0.3em 1em;
    text-align : left;
}
.contentForm fieldset {
    margin-bottom : 1.2em;
    padding : 1em;
    border : 1px solid #C1C1C1;
}
.fieldLabel {
    background-color : #F2F3ED;
    border : 1px dotted #C1C1C1;
    float : left;
    margin-right : 10px;
    padding : 5px;
    text-align : right;
    width : 30%;
}
.requiredField,
.validatedField {
    padding : 5px;
    font-size : 1.5em;
}
.requiredField {
    color : #990000;
}
.validatedField {
    color : green;
}
.fieldRow {
    clear : both;
}
