#sb {
    padding-top:94px;
}
h1 {
    position:absolute;
    left:224px;
    top:16px;
    font-family:FrutigerLTStdLightCn,"Arial Narrow",Arial,Tahoma,"Trebuchet MS",sans-serif;
    font-size:24px;
    letter-spacing:.1em;
    color: #820000;
}
h1 span {
    color:black;
}
#subHeading {
    font-size:11px;
    text-transform:uppercase;
    display:block;
    letter-spacing:normal;
}
#som {
    display:block;
    height:50px;
    left:18px;
    position:absolute;
    top:22px;
    width:202px;
    text-indent:-9000px;
}
#som:hover {
    background-position:0 -600px;
}
#som {
    background-image:url(/././images/sprite.gif);
    background-position:0 -500px;
}
#som:hover {
    background-position:0 -600px;
}
#login, #libraryContact {
    position:absolute;
    font-size:10px;
    right:1em;
}
#login {
    top:0.8em;
}
#libraryContact {
    top: 63px;
}
#libraryContact li {
    float:left;
    padding:0 7px;
    background-image:none;
    border-left:1px dotted #C1C1C1;
}
#libraryContact li:first-child {
    border-left:none;
}

#beta-icon {
    top: 15px;
 position:absolute;
    font-size:.8em;
	font-weight:bold;
	left: 455px;
	color:#0000FF;
}

#beta-icon p{
    font-size:.8em;
	color:#0000FF;
	margin-top: 0;
}