#laneHeader{
   /* background-color:white*/
}
#laneHeader .centered{
    position:relative;
}
h1 {
    font-size: 26px;
    padding: 24px 0 24px 212px;
	color: #820000;
}

h1 span {
	color: black;
}

h1 a {
	border-bottom: none;
	color: #820000;
}

h1 a:visited {
	color: #820000;
}

#som,h1 a:hover {
	text-decoration: underline;
	border-bottom-style: none;
}

#som {
	display: block;
	height: 50px;
	position: absolute;
	top: 22px;
	width: 203px;
	text-indent: -9000px;
	background-image: url(../images/sprite-all.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

#som:hover {
	background-position: 0 -80px;
}

#login {
	position: absolute;
	right: 0;
	top: 0.8em;
	vertical-align: text-bottom;
}

#libraryContact {
	top: 62px;
	white-space: nowrap;
	position: absolute;
	right: 0;
}

#libraryContact li,#login li {
	float: left;
	padding: 0 12px;
}

#libraryContact .live-chat {
	padding-left: 50px;
}

#libraryContact .live-chat-inactive {
	display: none;
}
/* live chat link in the body of the homepage */
.content .live-chat-inactive {
	display: none;
}
