h1,h3,h4 {
	font-family: 'Source Sans Pro', Arial, Helvetica, clean, sans-serif;
}
h2 {
	font-weight: 400;
	font-size: 28px;
	font-family: 'Fjord One', serif;
	color: #666666;
	padding-top: 25px;
	text-align:center;
}
.content h2:after,
.content h2:before{
    content:"";
    display:inline-block;
    width:20%;
    height:10px;
    background:url(../images/header-border.png) no-repeat 0 0;
    margin:0 12px;
}
.content h2:before{
    -webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1)
}
h3, h4 {
	color: #8c1515;
	display: block;
	font-size: 20px;
	line-height: 1.2em;
	margin-bottom: .2em;
    background-image:url(../images/header-border.png);
    background-repeat:no-repeat;
    background-position:bottom left;
    padding-bottom:12px;
	
}
h5 {
	color: black;
	font-weight: bold;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	margin-bottom: .2em;
	font-size: 1.1em;
}