#highlightedResources {
	margin-top: 12px;
	line-height: 1.6em;
	background-color: #333333;
	padding: 10px;
	box-shadow: 1px 1px 3px .2px rgba(0, 0, 0, 0.1);
}
#highlightedResources h3 {
	text-transform:uppercase;
	color: #ffffff;
}
#highlightedResources li {
	list-style: none inside none;
	width:138px;
	margin-left: 0;
	float:left;
	clear:none;
}
#highlightedResources li:after{
    border-bottom: none;
    content: "";
    display: none;
    position: static;
}

#highlightedResources:after{
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

#highlightedResources a {
	color: #FFF;
}