/* styles for the history portal*/
.histchapterLetter
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
    width: 100%;
	padding: 0px 0px 0px 0px;
	border: 0px;
    clear: both;
}

.histchapterTopLeftLetter
{
	width: 35px;
	height: 79px;
	vertical-align: top;
}

.histchapterTopLetter
{
	height: 79px;
	vertical-align: top;
			
}

.histchapterTopRightLetter
{
	width: 70px;
	height: 79px;
	vertical-align: top;
	
}
.histchapterLeftLetter
{
	width: 35px;
	vertical-align: top;
	margin-top: 0px;
}


.histchapterRightLetter
{
	width: 70px;
	vertical-align: top;

}


.histchapterBottomLeftLetter
{
	width: 35px;
	height: 32px;
	vertical-align: bottom;

}


.histchapterBottomLetter
{
	height: 32px;
}


.histchapterBottomRightLetter
{
	width: 70px;
	height: 32px;
	vertical-align: bottom;

}

/* styles for the history portal plain letter background*/
.histchapterTopLeftNoFeather
{
	width: 35px;
	height: 35px;
	vertical-align: top;
}

.histchapterTopNoFeather
{
	height: 35px;
	vertical-align: top;
			
}

.histchapterTopRightNoFeather
{
	width: 70px;
	height: 35px;
	vertical-align: top;
	
}
.image {
	margin: 0 0 7px 0;
}

.imageFloatRt {
	float: right;
	margin: 0 0 7px 15px;
}

.imageFloatLft {
	float: left;
	margin: 0 15px 7px 0;
}

.imageCaption {
	margin: 7px 7px 7px 7px;
	font-size: 1.0em;
	color: #8a604f;
}
