/*styles for redesigned home page*/
/*correct margin for banner and highlightedResources*/
.noMarginContent {
    position : relative;
    margin : -10px -15px 0 -20px
}
#lastRow .module {
    border : 1px solid #CCCCCC;
    -moz-border-radius-bottomright : 25px;
    -webkit-border-bottom-right-radius : 25px;
    border-radius : 0 0 25px 0;
    padding : 1em;
    height : 220px
}
#lastRow .bd {
    margin-top : 0
}
#lastRow h4 {
    font-size : 14px;
    margin-bottom : 1em
}
#lastRow h4 a {
    border-bottom : none
}
/*classes section*/
.yui-gf div.first .events .yui-gd div.first {
    border-left : medium none;
    font-family : Georgia, "Times New Roman", Times, serif;
    margin-top : 0;
    padding-bottom : 5px;
    text-align : center;
    width : 22px;
}
.yui-gf div.first .events .yui-gd .yui-u {
    border-left : 1px solid #EAE9E6;
    font-size : 13px;
    line-height : 15px;
    margin-bottom : 10px;
    margin-top : 5px;
    padding-left : 11px;
    font-family : Georgia, "Times New Roman", Times, serif;
}
.events {
    margin-bottom : 20px
}
.events a {
    border-bottom : none
}
.events .time {
    color : #575347
}
.button.all-classes,
.button.all-classes:hover {
    background-position : 72px -220px;
    width : 100%;
}
/*grand rounds section*/

.content .grandrounds li {
    list-style : none inside none;
    font-size : 14px;
    font-family : Georgia, "Times New Roman", Times, serif;
    margin-left : 0;
    text-align : center;
    padding : 11px 0 28px;
    background-image : url(/././resources/images/grandroundsItemBg1.png);
    background-position : bottom center;
    background-repeat : no-repeat
}
.grandrounds a {
    border-bottom : none
}

/* module with shadow on bottom*/
.bd.bottomShadow {
    margin-top : 0;
    background-image : url(/././resources/images/bottomShadow1.png);
    background-position : bottom;
    padding-bottom : 15px
}
