.drop-shadow {
    padding:6px 7px 8px 6px;
    background-repeat:no-repeat
}
.ds1 {
    background-image:url(/././resources/images/imgbg1.gif)
}
.ds2 {
    background-image:url(/././resources/images/imgbg2.gif)
}
.ds3 {
    background-image:url(/././resources/images/imgbg3.gif)
}
.ds4 {
    background-image:url(/././resources/images/imgbg4.gif)
}
.ds5 {
    background-image:url(/././resources/images/imgbg5.gif)
}
.ds6 {
    background-image:url(/././resources/images/imgbg6.gif)
}