.drop-shadow {
    padding:10px;
    background-repeat:no-repeat
}
.drop-shadow-1 {
    background-image:url(/././resources/images/imgbg1.gif)
}
.drop-shadow-2 {
    background-image:url(/././resources/images/imgbg2.gif)
}
.drop-shadow-3 {
    background-image:url(/././resources/images/imgbg3.gif)
}
.drop-shadow-4 {
    background-image:url(/././resources/images/imgbg4.gif)
}
.drop-shadow-5 {
    background-image:url(/././resources/images/imgbg5.gif)
}
.drop-shadow-6 {
    background-image:url(/././resources/images/imgbg6.gif)
}