/** LANE additions to iui **/
body {
    background:url('/././images/m/lane-bg.png');
    background-position-x: 0;
    background-position-y: 102px;
    background-repeat: no-repeat;
}

body > ul > li {
    font-size: 18px;
}

body > ul > li a {
    color:#0C4C72;
    /*color:SteelBlue*/;
}
    
.panel > ul li  {
    list-style: none;
}

.loadingMask {
    opacity: .1;
}

#loading {
    position: absolute;
    overflow: hidden;
    display:none;
    top: 12px;
    right: 60px;
}

#laneSearch fieldset {
    padding-top:0;    
}

#searchLink {
    position: absolute;
    top: 16px;
    left: 10px;
}
#searchLink img {
    width:20px;
}

.footer {
    border:none;
    font-size:10px;
    color:gray;
}

.footer  a {
    background:none;
    display: inline;
}

.suCopy {
    position:absolute;
    bottom:0;
    left:10px;
    font-size:6px;
}

#searchInput {
    padding-left:24px;
    padding-right:24px;
}

#searchCancel {
    position:absolute;
    top:16px;
    right:12px;
    display:none;
}

#searchTag {
    padding-left:22px;
}
#pico input {
    padding-left:2px;
    margin:0 0 10px 0;
}
#login .row span {
    padding-left:140px;
}

#results {
    padding:0;
}
#results li {
    color:gray;
    font-size:14px;
}
#results li a {
    background:none;
}
#results li.rHead {
    font-size:12px;
    text-align:center;
}
#results li.rHead strong {
    color:black;
    font-style:italic;
}
#results li a.more, li.more {
    text-align:right;
    font-size:10px;
    background:url('/././images/m/listArrow.png') no-repeat scroll right center transparent;
}
div.absInfo {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}
.pubAuthor, .pubInfo {
    font-size:10px;
}
.pubInfo {
    font-weight:bold;
}
.rDesc {
    padding-top:10px;
}
.a2z li {
    font-size:20px;
}