#laneNav {
    position:absolute;
    top:144px;
    width:100%;
    height:30px;
/* IE6 doesn't get width 100% right */
    _width:989px;
    background-image:url(/././images/main-nav-bg.gif);
}
.yui3-js-enabled #laneNav.clinical {
    top:174px;
}
#laneNav li {
    float:left;
}
#laneNav a {
    color:black;
    padding:7px 20px;
    text-decoration:none;
    border-bottom:none;
    display:block;
    font-weight:bold;
    font-size:13px;
}
#laneNav li:hover a, #laneNav .hover a, #laneNav .active a {
    background-color:white;
}
#laneNav li:hover ul a, #laneNav .hover ul a, #laneNav .active ul a {
    background-color:transparent;
}
#laneNav ul {
    display:none;
    background-color:white;
    position:absolute;
    border:1px #D6D5C7 solid;
    border-top:none;
    padding-bottom:6px;
    z-index:2;
    background-image: url(/././images/menu-bg.gif);
    background-position: 0 100%;
    background-repeat: repeat-x;
}
#laneNav li:hover ul, #laneNav .hover ul {
    display:block;
}
#laneNav ul li {
    float:none;
    width:190px;
    padding:2px 0 2px 20px;
}
#laneNav ul a {
    display:inline;
    font-weight:normal;
    font-size:12px;
    padding:0;
    color: #565347;
    border-bottom:1px dotted #81785A;
}
#laneNav ul a:hover {
    color:#820000;
    border-color:#820000;
    border-bottom-style:solid;
}
#qlinks {
    margin:6px 0 0 35px;
}
#laneNav #specialties-menu {
    width:340px;
}
#laneNav #specialties-menu li {
    float:left;
    width:150px;
}