#laneNav {
    position : absolute;
    top : 144px;
    width : 100%;
    height : 46px;
    /* IE6 doesn't get width 100% right */
    _width : 989px;
    background-image : url(/././resources/images/laneNavBg1.png);
}
.yui3-js-enabled #laneNav.clinical {
    top : 174px;
}
#laneNav li {
    float : left;
}
#laneNav a {
    color : #3C3623;
    padding : 14px;
    text-decoration : none;
    border-bottom : none;
    display : block;
    font-size : 15px;
    text-shadow : 0 1px 0 #DEDCB4;
    font-family : Georgia, 'Times New Roman', Times, serif;
}
#laneNav li:hover a,
#laneNav .hover a,
#laneNav .active a {
    background-color : white;
}
#laneNav li:hover ul a,
#laneNav .hover ul a,
#laneNav .active ul a {
    background-color : transparent;
}
#laneNav ul {
    display : none;
    background-color : white;
    position : absolute;
    border : 1px #D6D5C7 solid;
    border-top : none;
    padding : 6px 0;
    z-index : 2;
    background-image : url(/././resources/images/menu-bg.gif);
    background-position : 0 100%;
    background-repeat : repeat-x;
    border-radius : 0 0 5px 5px;
}
#laneNav li:hover ul,
#laneNav .hover ul {
    display : block;
}
#laneNav ul li {
    float : none;
    width : 190px;
    padding : 2px 0 2px 20px;
}
#laneNav ul a {
    display : inline;
    font-weight : normal;
    font-size : 12px;
    padding : 0;
    color : #1C4B70;
    border-bottom : 1px dotted #81785A;
    font-family : arial, helvetica, clean, sans-serif;
    text-shadow : none
}
#laneNav ul a:hover {
    color : #820000;
    border-color : #820000;
    border-bottom-style : solid;
}
#qlinks {
    margin : 6px 0 0 32px;
}
#laneNav #specialties-menu {
    width : 350px;
}
#laneNav #specialties-menu li {
    float : left;
    width : 155px;
}
