#laneFooter {
    background-color: #8C1515;
    margin-top:10px;
    padding-top:17px;
}
#laneFooter h3{
    font-size:16px;
    font-weight:300;
    padding:0;
    line-height:24px;
    text-transform:none;
}
#laneFooter li,#laneFooter h3 {
    border-bottom: 1px solid #902827;
}
#laneFooter a {
    border-bottom : none;
    color: white
}
#laneFooter li {
    font-size:12px;
    line-height:24px;
}
