#laneFooter {
    position : relative;
    background-color : rgb(111,0,0);
    padding : 29px;
    margin-top:10px
}
#laneFooter a {
    border-bottom : none;
    letter-spacing : .5px;
    color: white
}
#laneFooter ul {
    padding-top : 3px;
}
#laneFooter li {
    padding : 1.5px 0;
}

#socialMedia {
    position:absolute;
    right: 16px;
    top: 100px;
    width:170px;
}
#socialMedia a {
	height: 25px;
	width: 26px;
	margin-left:8px;
	display: inline-block;
	background-image: url("../images/sprite-all.png");
	background-repeat: no-repeat;
}
.facebook {
	background-position: -600px -600px;
}

.facebook:hover {
	background-position: -600px -640px;
}
.twitter {
	background-position: -640px -600px;
}
.twitter:hover {
	background-position: -640px -640px;
}
.googleplus {
	background-position: -760px -600px;
}
.googleplus:hover {
	background-position: -760px -640px;
}
.flickr {
	background-position: -680px -600px;	
}
.flickr:hover {
	background-position: -680px -640px;	
}
.youtube {
	background-position: -560px -600px;
}
.youtube:hover {
	background-position: -560px -640px;
}
.makegift {
	background-image: url("../images/sprite-all.png");
	background-repeat: no-repeat;
	background-position: -600px -520px;
	position:absolute;
    right: 15px;
    top: 25px;
    display:block;
    height: 59px;
	width: 164px;
}
