/* this file contains mostly yui grid customization and nesting error corrections */
#custom-doc {
    width:76.92em;
    *width:75.07em;
    min-width:1000px;
    margin:auto;
    text-align:left;
    position:relative;
    top:34px;
}
.yui-gf .yui-gb .yui-u {
    width:32%
}
.yui-ge div.yui-gd .yui-g div.yui-u, .yui-ge .yui-gf .yui-g .yui-u {
    width:49%;
}
.yui-u .yui-g, .yui-u .yui-gd {
    width:100%
}
.content {
    margin:15px 15px 0 20px;
}
.yui-ge .yui-u {
    width:199px;
}
.yui-ge div.first {
    width:713px;
}
.yui-ge .yui-gf div.first {
    width:156px;
}
.yui-ge .yui-gf .yui-u {
    width:521px;
}