/* this file contains mostly yui grid customization and nesting error corrections */
.content {
    margin:10px 15px 0 20px;
}
/* customizations */
.yui-ge .yui-u .leftColumn,
.content .yui-gf .leftColumn {
    width : 156px;
}
.yui-ge .yui-u .middleColumn {
    width : 540px;
}
.content .yui-ge .rightColumn {
    width : 230px;
}
.content .yui-ge .leftGrids {
    width : 700px;
}
.content .yui-gf .rightGrids {
    width : 785px;
}
/* nesting error corrections */
.yui-gf .yui-g,
.yui-u .yui-g {
    width : 100%
}
.yui-ge div.first {
    width : 74.2%;
}
.yui-gc div.first {
    width : 66%;
}

.yui-gc .yui-u {
    margin-left : 1.99%;
    width : 32%;
}
.yui-u .yui-gb .yui-u {
    width : 32%;
}
/* next two rules for a specific case laneclasses.html, two column nested grid */
.type1 .yui-gf .yui-u {
    width : 74.2%;
}
.type1 .yui-gf div.first {
    width : 24%;
}
 /*style moved from redesign-june-2011.css*/
.noMarginContent {
    position : relative;
    margin : -10px -15px 0 -20px
}