#custom-doc {
    width:76.92em;
    *width:75.07em;
    min-width:1000px;
    margin:auto;
    text-align:left;
    position:relative;
    top:34px;
}
.yui-gf .yui-gb .yui-u {
    width:32%
}
.yui-ge div.yui-gd .yui-g div.yui-u {
    width:49%;
}
.yui-u .yui-g {
    width:100%
}