/* this file contains mostly yui grid customization and nesting error corrections */
#custom-doc {
    width:76.92em;
    *width:75.07em;
    min-width:1000px;
    margin:auto;
    text-align:left;
    position:relative;
    top:34px;
}
.content {
    margin:10px 15px 0 20px;
}
/* customizations */
.yui-ge .yui-u .leftColumn, .content .yui-gf .leftColumn {
    width:156px;
}
.yui-ge .yui-u .middleColumn {
    width:521px;
/*
      border-left:1px solid #E6E4DB;
  padding-left:18px;
 */
}
.content .yui-ge .rightColumn {
    width:199px;
}
.content .yui-ge .leftGrids {
    width:713px;
/*
      border-right:1px solid #E6E4DB;
  padding-right:20px;
 */
}
.content .yui-gf .rightGrids {
    width:760px;
}
/* nesting error corrections */
.yui-gf .yui-g, .yui-u .yui-g {
    width:100%
}
.yui-ge div.first {
    width:74.2%;
}
.yui-gc div.first {
    width:66%;
}
.yui-gc .yui-u {
    margin-left:1.99%;
    width:32%;
}
.yui-u .yui-gb .yui-u {
    width:32%;
}
/* next two rules for a specific case laneclasses.html, two column nested grid */
.type1 .yui-gf .yui-u {
    width:74.2%;
}
.type1 .yui-gf div.first {
    width:24%;
}
/* add a new custom 10:90 grid */
.lane-gg .yui-u {
    width:89%;
}
.lane-gg div.first {
    width:10%;
    float:left;
}
.lane-gg:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}