#liaisonDepartments {
    position:relative;
}
#liaisonDepartments {
    display:none;
    position:absolute;
    top:20px;
	left: -200px;
    z-index:2;
	width: 900px;
	background: #333;
}
#liaisonDepartments:hover ul, #liaisonDepartments.hover ul {
    display:block;
	
}

#liaisonDepartments ul li {
    line-height: 1.5em;
  }

#liaisonDepartments .column1 {
	   margin-top: 0;
	position:absolute;
	left: 0;
	
	
}

#liaisonDepartments .column2 {
    margin-top: 0;
	position:absolute;
	left: 300px;
  }
