/* these are the default list styles */
ol li {
	list-style-type: decimal;
	list-style-position: inside;
}

ul {
	margin-bottom: 12px;
	margin-top: 0;
	list-style: none;
	padding-left: 12px;
}

li {
	border-bottom: solid 1px #f0f4f5;
	padding: 6px 0;
	margin-right: 12px;
}

li:last-child {
	border-bottom: none;
}