/* these are the default list styles */

/*this is the first column*/
div.yui-ge>div.yui-u.first>div.yui-gf>div.yui-u.first li {
    font-size:11px;
    line-height:12px;
    padding-bottom:5px;
}
/*this is the middle column*/
div.yui-ge>div.yui-u.first>div.yui-gf>div.yui-u li {
    font-size:inherit;
    line-height:inherit;
    padding-bottom:0.2em;
}
/*this is the right column*/
div.yui-ge>div.yui-u li {
    font-size:11px;
    line-height:12px;
    padding-bottom:5px;
}
ol {
    list-style-type:decimal;
    list-style-position:inside;
}
.content ul {
    margin-bottom:10px;
}
.content li {
    list-style-image:url(/././images/raquo.gif);
    list-style-type:disc;
    list-style-position:outside;
    margin-left:15px;
}