/*these are the default list styles*/
ul {
    font-size:11px;
}
li {
    background-image:url(/././images/sprite.gif);
    background-position:0 -1194px;
    background-repeat:no-repeat;
    padding:2px 0 1px 14px;
}
ol li {
    list-style-type:decimal;
    list-style-position:inside;
}