/* these are the default list styles */
ol li {
    list-style-type:decimal;
    list-style-position:inside;
}
dt {
    margin-top:.5em;
    font-weight:bold;
}
.content ul {
    margin-bottom:10px;
}
.content ul li {
    list-style-image:url(/././resources/images/raquo.gif);
    list-style-type:disc;
    list-style-position:outside;
    margin-left:15px;
}
/*this is the first column*/
.content .leftColumn li, .content .rightColumn li {
    font-size:11px;
    line-height:12px;
    padding:2.5px 0;
}
/*this is the middle column*/
.content .middleColumn li {
    padding-bottom:0.2em;
}
