/* display : block for button behavior with background-image*/
.live-chat a {
    display : block;
    background-repeat : no-repeat;
}
#libraryContact .live-chat a {
    background-image : url(/././resources/images/chat-top-off.gif);
    padding-left : 26px;
    border-bottom : none
}
#libraryContact .live-chat a:hover {
    background-image : url(/././resources/images/chat-top-on.gif)
}
#libraryContact .live-chat-inactive {
    display : none
}
#libraryContact span {
    border-bottom : 1px dotted #81785A
}
#libraryContact a:hover span {
    border-bottom : 1px solid #820000
}
.content .live-chat-inactive, .content .live-chat a {
    width : 161px;
    height : 70px;
    background-image : url(/././resources/images/liveChat1.png);
    margin : 5px auto
}
.content .live-chat-inactive {
    background-position : 0 -210px
}
.content .live-chat a {
    font-size : 0;
    text-indent : -1000px;
    border-bottom : none
}

.content .live-chat a:hover {
    background-position : 0 -105px
}

.content .live-chat-inactive a {
    visibility : hidden
}