html{
    background-color:#ecf1f2
}
#main{
    text-align:left;
    position:relative;
    margin-top:50px
}

.centered{
    position:relative;
    width:76.07em;
    min-width:989px;
    margin:auto;
}

.content {
    color: #333333;
    background-color:white;
    position:relative;
    margin-top:12px;
}