html{
    background-color: #ecf1f2;
}

#main{
    text-align: left;
    position: relative;
    margin-top: 50px;
}

.centered{
    position: relative;
    margin: 0 5%;
    min-width: 989px;
}

.content {
    color: #333333;
    position: relative;
    margin-top: 12px;
}