/* This file has rules that don't seem to fit anywhere else */
body, select,input,button,textarea{
	font-family: 'Source Sans Pro', Arial, Helvetica, clean, sans-serif;
}
p {
	margin-bottom: 10px;
}

strong {
	font-weight: bold
}

em {
	font-style: italic
}

.inputHint {
	color: #808080
}

.more {
	text-transform: uppercase;
	text-align: right;
	border-bottom: 1px solid #EAE9E6;
	border-top: 1px solid #EAE9E6;
	clear: left;
	letter-spacing: 1px;
	padding: 3px
}

.more.classes {
	border-top: none;
	padding: 6px;
}

.more a {
	border: none;
}
/* used for pubmed and highly accessed article lists */
.citationList li {
	list-style: decimal;
	margin-bottom: 1em
}

.rss-link {
	float: right;
	background-image: url(../images/sprite-all.png);
	background-position: -41px -240px;
	height: 15px;
	width: 15px;
	font-size: 0;
	text-indent: -10000px;
	display: block;
	margin-top: 4px;
	border-bottom: none;
}

.rss-link:hover {
	background-position: -41px -280px;
	border-bottom: none;
}

.announce {
	text-align: center;
	background-color: #F4F5EF;
	margin-left: -1.3em;
	margin-right: -0.9em;
	border-top: 1px solid #dadad9;
	border-bottom: 1px solid #dadad9;
	border-left: none;
	border-right: none;
}

#class-title {
	font-size: 1.8em
}

/*table on ejpw_list.html*/
.password-table table {
	border-collapse: collapse;
	background-color: #fff;
}

.password-table th {
	padding: .7em;
	vertical-align: top;
	border: 1px solid #ccc;
}

.password-table td {
	padding: .7em;
	vertical-align: top;
	border: 1px solid #ccc;
}

.password-table table th {
	background-color: #e6e8d5;
	font-weight: bold;
	font-size: 1.1em;
}

/*scroll window on portals to display article feed, such as rheumatology*/
.scroll-window {
	height: 400px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*styles for redesigned main elements on the landing pages*/
.detailInfo {
	color: #999;
	font-size: 10px;
}

.content .calendar li {
	height: 64px;
	float: left;
	margin: .2em;
	padding: .5em;
	list-style: none inside none;
	margin-left: 0;
	background-color: #d6d5c7;
	margin-bottom: 0;
	-webkit-border-radius: 0 0 0 19px;
	-moz-border-radius: 0 0 0 19px;
	border-radius: 0 0 0 19px;
	border: 2px #ffffff solid;
}

.calendar li p {
	line-height: normal;
	font-weight: normal;
	margin-top: .5em;
}

#portalList .empty-cell {
	background-color: white;
	border-bottom: medium none;
	display: block;
	margin: 1px;
	padding: 15px;
	width: 200px;
}
.seminar {
    padding-bottom:15px;
}
