/* This file has rules that don't seem to fit anywhere else */
body, select, input, button, textarea {
    font-family: 'Source Sans Pro', sans-serif;
}
/*yui-cssgrids sets this to sans-serif, needs to be 'Source Sans Pro'*/
.yui3-g [class*='yui3-u'] {
	font-family: 'Source Sans Pro', sans-serif;
}

.scaled-image {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}

/*.close is the X close box on popups and feedback*/
.close {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    font-size: 22px;
}

.close.fa:hover {
    color: #79455C;
}

p {
    margin-bottom: 12px;
    font-size: 14px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.inputHint {
    color: #808080;
}

.more a {
    margin-right: 6px;
    font-size: 14px;
}

.center {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.rss-link {
    float: right;
}

.rss-link .fa {
    color: black;
}

.announce {
    text-align: center;
    background-color: #80982a;
    border: none;
    padding: 12px;
    font-family: 'Fjord One', serif;
    color: #fff;
    font-size: 20px;
    text-shadow: 0.07em #000;
    margin-bottom: 12px;
}

/*scroll window on portals to display article feed, such as rheumatology*/
.scroll-window {
    height: 400px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*styles for redesigned main elements on the landing pages*/
.detailInfo {
    font-size: 12px;
}

hr {
    color: #dddddd;
    border-top: 1px solid;
    margin-bottom: 12px;
}

.nomodule {
    margin: 12px 0 24px;
    line-height: normal;
    font-size: 14px;
}

/*to make a highlighted note on the right of the module, similar to history site*/
.feature {
    padding-left: 12px;
}

.feature h3 {
    background-color: #556222;
    background-image: none;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 12px;
    padding: 6px 6px 22px 6px;
    text-transform: uppercase;
}

.course-reserves-instructor {
    float: right;
    margin-top: 13px;
    line-height: 13px;
    font-size: 13px;
    color: #333;
}
