/* This file has rules that don't seem to fit anywhere else */
p {
    line-height : 18px;
    margin-bottom : 10px
}
.content {
    color : #3F3C30;
    font-size : 12px
}
strong {
    font-weight : bold
}
em {
    font-style : italic
}
.term {
    font-style : italic
}
.inputHint {
    color : #808080
}
.more {
    text-transform : uppercase;
    text-align : right;
    border-bottom : 1px solid #EAE9E6;
    border-top : 1px solid #EAE9E6;
    clear : left;
    font-size : 9px;
    letter-spacing : 1px;
    padding : 3px
}
.more.classes {
    border-top : none;
    font-size : 10px;
    padding : 6px
}
.more a {
    border : none;
}
/* used for pubmed and highly accessed article lists */
.citationList li {
    list-style : decimal;
    margin-bottom : 1em
}
.divider {
    text-align : center
}
.rss-link {
    float : right;
    background-image : url(/././resources/images/rss.png);
    height : 13px;
    width : 13px;
    background-repeat : no-repeat;
    font-size : 0;
    text-indent : -1000px;
    display : block;
    margin-top : 6px
}
.rss-link:hover {
    background-image : url(/././resources/images/rss_over.png);
    border-bottom : none
}
.red-text {
    color : #820000
}
.announce {
    color : #820000;
    font-family : Georgia, 'Times New Roman', Times, serif;
    font-size : 1.3em;
    line-height : 1.5em;
    background-color : #F6F3E5;
    border : 1px solid #EEE3C1;
    margin : 0 0 20px;
    padding : 20px
}
#mphoneAd,
#ipadAd {
    width : 988px;
    position : absolute;
    left : 6px;
    top : -35px;
    z-index : 2;
    text-align : center;
    background-color : #d5672e
}
#mphoneAd {
    height : 114px
}
#ipadAd {
    height : 45px
}
#mphoneAd a,
#ipadAd a {
    color : #fff;
    font-weight : bold;
    border-bottom : none
}
#mphoneAd div {
    color : #fff;
    padding-top : 10px;
    font-size : 200%
}
#ipadAd div {
    color : #fff;
    margin-top : 4px;
    font-size : 150%
}
#class-title {
    font-size : 1.8em
}
.live-chat-inactive {
    display : none
}