/* This file has rules that don't seem to fit anywhere else */
p {
  line-height:18px;
  margin-bottom:10px;
}
.content {
  color:#3F3C30;
  font-size:12px;
}
strong, em {
  font-weight:bold;
}
em {
  color:#820000;
}
.inputHint {
  color:#808080;
}
.more {
  text-transform:uppercase;
  text-align:right;
  border-bottom:1px solid #EAE9E6;
  border-top:1px solid #EAE9E6;
  clear:left;
  font-size:9px;
  letter-spacing:1px;
  padding:3px;
}
.more a {
  border:none;
}
#beta-heading {
  color:#333333;
  font-size:14pt;
  font-weight:bold;
  position:relative;
  top:-7px;
}