.module {
    margin-bottom:1em;
}
.module .bd {
    margin-top:13px;
}
/*.module:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both;
    visibility:hidden;
}*/
.module-img {
    float:left;
    margin-right:1em;
}
.module-ul {
    float:left;
    width:75%;
}
.module-ul-narrow {
    float:left;
    width:49%;
}