.module {
    margin-top:12px;
    line-height : 1.6em;
    background-color:white;
    padding:10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px .2px rgba(0,0,0,0.1);
}

.module .bd {
	margin-top: 13px;
}

.module:after,.module .after, .module .bd:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.module-img {
	float: left;
	margin-right: 1em;
}

.module-ul {
	float: left;
	width: 75%;
}

.module-ul-narrow {
	float: left;
	width: 49%;
}

/* book covers in 2 columns*/
.core-covers {
	float: left;
	width: 47%;
	margin-bottom: 13px;
	margin-right: 1em;
}
/* book covers in 3 columns*/
.core-covers-3 {
	float: left;
	width: 31%;
	margin-bottom: 13px;
	margin-right: 1em;
}
/* module with shadow on bottom*/
.shadow {
}
.bottomShadowWide {
    display:none;
}
.border {
    border-right : 1px solid #eae9e6;
    padding-bottom : 15px;
    padding-right: 15px;
}

.popular-shadow {
    background-color : #F4F5EF;
    border: 1px solid #dadad9;
    padding : 1em 1em 2em 2em;
    /*width : 85%;
    margin-bottom : 2em;
    margin-top : 1.5em;*/
}
.popular-shadow .bd {
    margin-bottom : 2.5em;
}


.module-form  /*module inside the feedback widget to  keep the margins*/{
margin-right:15px;
}

.module-links-narrow {
    float : left;
    width : 60%;
}
/*only one style for the left column nav remain to keep the current page link bold*/
.sectionMenu em {
    font-style:normal;
    font-weight:bold;
    color:#820000;
}

.landing{
    padding:0
}
.landing img{
    display:block;
    width:100%
}
.landing h3{
    color:white;
    background-color:#8c1515;
    background-image:none;
    margin:0;
    padding:10px 0;
    text-align:center;
    font-size:18px;
    line-height:19.8px;
}
.landing p{
    padding:10px;
    margin:0;
}
.landing ul{
    padding:10px 0;
    margin:0 10px;
    border-top:1px solid #dddddd;
}
.landing ul li{
    list-style-image:none;
    list-style:none;
}