#browseTabs li {
    background-image:none;
    border:1px solid #CDCFBE;
    float:left;
    font-family:Georgia;
    font-size:14px;
    padding:10px 21px;
    width:13.8px;
}
#browseTabs li:hover {
    border: 1px solid #820000;
    cursor:pointer;
}
#browseTabs .browseTabs-long {
    width: 92px;
}