#browseTabs li {
    float:left;
    background-image:none;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 1.1em;
    border: 1px solid #cdcfbe;
    background-color:#E6E7E2;
    background-image:url(/././graphics/buttons/sprite-but-off.gif);
    background-position:-26px -370px;
background-repeat:repeat-x;
width: 32px;
height: 32 px;
padding:7px;
width:32px;
white-space:nowrap;
}


#browseTabs li:hover {
    border: 1px solid #820000;
    cursor:pointer;
}


#browseTabs .browseTabs-long {
    width: 92px;
}

#browseTabs li a {
    margin-left: 10px;
}

#browseTabs  {
      margin: .5em 0 .5em 0;
    width: 450px;
	padding-bottom: 12em;
   /* background-image: url(/././graphics/buttons/ej-letters-off.gif);
    background-repeat: no-repeat; background-position: 0;*/
   
  
    
}
/*.all-classes-button:hover {
    background: transparent url(/././graphics/buttons/sprite-but-on.gif);
    background-repeat: no-repeat;
    background-position: -23px -220px;
}
}*/

.alert-box {
    display: block;
    width: 430px;
    clear:left;
padding-top:1em;
}

.alert-box div {
    display: block;
    width: 405px;
 padding:1em 1em 1em 1em;
 border: 3px solid #cdcfbe;
 position:relative;
 height: 200px; 
 margin-bottom:2em;
}




.alert-box div h4 {
    color:#820000;
    
}