/*table on ejpw_list.html*/
.password-table table {
    border-collapse: collapse;
    background-color: #fff;
}

.password-table th {
    padding: .7em;
    vertical-align: top;
    border: 1px solid #ccc;
}

.password-table td {
    padding: .7em;
    vertical-align: top;
    border: 1px solid #ccc;
}

.password-table table th {
    background-color: #e6e8d5;
    font-weight: bold;
    font-size: 1.1em;
}
