
#persistent {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-user-select: none;
	background-color: white;
	width: 400px; 
	height: auto;
	padding: 30px;
	text-align: center;
	border: 1px solid #9e9d98;
}

#persistent #hd {
    color: #414042;
    font-weight : bold;
    line-height : 1.4em;
    font-size : 1.1em;
    padding-bottom: 2em;;
}

#persistent #ft {
	text-align: right;
	padding-right: 30px;
	margin-top: .7em;
}

#persistent #login {
	position: inherit;
}