.popular {
    margin-top: 12px;
    padding: 60px;
    line-height: 1.6em;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #333333;
}
.popular h3 {
    text-transform: uppercase;
    font-family: 'Fjord One', serif;
    color: #ffffff;
    text-align:center;
    background-image: none;
}

.popular li {
    border-bottom: none;
}

.popular:after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.popular a {
    color: #FFF;
}
