.popular:before {
    background-color: #8c1515;
    border-radius: 50px;
    font-family: 'FontAwesome';
    content: "\f005";
    display: block;
    height: 48px;
    position: relative;
    width: 48px;
    margin: -26px auto 20px auto;
    margin-top: -84px;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
    line-height: 48px;
}

.popular {
    margin-top: 12px;
    padding: 12%;
    line-height: 1.6em;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #333333;
    box-sizing: border-box;
}

.popular h3 {
    text-transform: uppercase;
    font-family: 'Fjord One', serif;
    color: #ffffff;
    text-align: center;
    background-image: none;
}

.popular li {
    border-bottom: none;
}

.popular:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.popular a, .popular a .fa {
    color: #FFF;
}