/*firefox does pushes content down to next page without this:*/
.module{
    padding-top: 8px;
    line-height: 16px;
}
#main{
    margin-top:0
}
form,
input,
#somHeader,
#feedbackLink,
#laneNav,
#libraryContact,
#login,
#banner,
#laneFooter,
#lane-subfooter,
#sm-footer,
#searchFormContainer{
    height:0;
    display:none
}
#popInContent.active{
    border:0
}
