#feedbackLink, #laneNav,#libraryContact,#login,#banner,#highlightedResources,#laneFooter,#searchFormContainer {
    display: none;
}

#popInContent.active {
    border:none;
}

.hvrTrig,.hoverTrigger {
    background-color: #F2F3ED;
    padding: 10px;
    border: 2px solid
}

.hvrTarg,.hvrTrig .hvrTarg,.hoverTrigger .hvrTarg {
    display: block
}