/*styles for redesigned pages*/
/*correct margin for banner and highlightedResources*/
/*TODO: many styles inline style attributes in html pages for redesigned pages*/
.noMarginContent {
    position : relative;
    margin : -10px -15px 0 -20px
}
/* module with shadow on bottom*/
.bd.bottomShadow {
    margin-top : 0;
    background-image : url(/././resources/images/bottomShadow1.png);
    background-position : bottom;
    background-repeat : no-repeat;
    padding-bottom : 15px
}
#portalList {
    padding : 11px;
    background-color : #e6e4dc;
    /*requred for IE < 8:*/
    *height:404px
}
#portalList:after {
    content : ".";
    display : block;
    height : 0;
    font-size : 0;
    clear : both;
    visibility : hidden;
}
#portalList li {
    float : left;
    list-style : none inside none;
    margin-left : 0
}
#portalList a {
    display : block;
    width : 200px;
    padding : 15px;
    border-bottom : none;
    background-color : white;
    font-size : 15px;
    font-family : Georgia, 'Times New Roman', Times, serif;
    margin : 1px
}
#portalList a:hover {
    background-color : #e6e4dc
}
