.resourceListPagination{
    font-size:13px;
}
.view-by{
    position:relative;
    white-space:nowrap;
}
.view-by .dropdown {
    position:absolute;
    right:0;
    top:-4px;
}
.pagingLabels {
    padding:0 12px;
}
.labelTitle{
    display:inline-block;
    width:156px;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align:bottom;
    padding-left:4px;
    box-sizing:border-box;
}