#yui-history-iframe {
    position:absolute;
    top:0; left:0;
    width:1px; height:1px;
    visibility:hidden;
}
.tooltips, #search-content-counts, #findIt, #spellCheck, #queryMapping {
    display:none;
}
#queryMapping span {
    padding-right:25px;
}
.search a, .search a:visited {
    color: #1C4B70;
}
.search a:hover {
    color:#820000;
    border-bottom:1px solid #820000;
}
#searchResults a, #searchResults a:visited {
    color: #565347;
}
#searchResults a.primaryLink {
    font-size:16px;
    color: #1C4B70;
}
#searchFacets {
    margin-top:5px;
    background-color:#fff; /* IE needs for opacity animation */
}
#searchFacets a {
    border-bottom:none;
}
#searchFacets .facetHeader {
    text-transform:uppercase;
    font-weight:bold;
    list-style-image:url(/././resources/images/raquo.gif);
    list-style-type:disc;
}
#searchFacets .facetIndent {
    margin-left:30px;
    list-style-image:none;
    list-style-type:disc;
}
#searchFacets li, #searchResults li {
    list-style-image:none;
    list-style-type:none;
}
#searchFacets ul, #searchResults ul {
    padding-bottom:10px;
}
#searchFacets li.current a {
    color:#9a0003;
}
#searchFacets li.inactiveFacet, #searchFacets li.inactiveFacet a {
    color:#666666;
}
#popInContent {
    display:none;
    position:relative;
    overflow:hidden;
    background-color: #F6F3E5;
    border: 1px solid #EEE3CC;
    margin-left: 180px;
    margin-top: -10px;
    padding: 7px;
    white-space: nowrap;
    width: 772px;
    _margin-right:-15px;
    _width: 773px;
}
#popInContent .popInLabel {
    color:#FF6600;
    padding-right:25px;
    padding-left:10px;
}
.hitCountPopIn#popInContent {
    margin-left:305px;
    margin-top:-54px;
    margin-bottom:24px;
    width:647px;
    _width:648px;
}
#searchResults {
    margin-top:30px;
}
#searchResults li {
    margin-left:0;
}
#searchResults ul {
    padding:5px;
}
#searchResults .showAbstract{
    margin-left:20px;
}
#searchResults .hvrTarg {
    display:none;
    margin-top:5px;
    padding:2px;
    border-top:1px dotted #CCCCCC;
}
.hvrTrig, .hvrTrig a {
    cursor:help;
}
.sourceLink {
    color:#666666;
}
.pmid {
    font-weight:bold;
}
.results-nav {
    background-color:#F7F3E5;
    padding:10px 5px 24px;
    font-size:11px;
}
.rightSearchTips {
    margin-top:40px;
    padding:20px;
    background-color:#edecdf;
}
.rightSearchTips h4 {
    text-align:center;
    color:#333;
    font-size:18px;
}
/* used for successful metasearch links on hybrid pages */
.searchSuccess {
    font-weight:bold;
}
.searchTerms {
    text-transform:none;
    font-weight:bold;
    font-style:italic;
}
.utdCMEnote {
    color:#820000;
}