#searchFormContainer {
    margin-top: 46px;
    background-color: #8C1515;
}
#search{
    padding: 30px 0;
}
#searchFields {
    position: relative;
}
#selectAndInput {
    background-color: white;
    float: left;
    position: relative;
}
#searchSource {
    width: 124px;
}
#searchTerms {
    width: 566px;
    border: 0 none;
    height: 46px;
    box-sizing: border-box;
    margin-left: 8px;
    font-size: 14px;
}
.search-button {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 10px;
}
.search-button .fa {
    color: #007c92;
    font-size: 24px;
}
#searchTools {
    position: absolute;
    right: 278px;
    bottom: 7px;
    font-size: 12px;
    font-weight: 600;
}
#searchTools i {
    color: white;
    font-size: 9px;
}
.picoFields {
    background-color: white;
    height: 46px;
    margin-bottom: 12px;
    width: 712px;
    display: none;
}
.picoFields.active {
    display: block;
}
.picoFields input {
    border-width: 0;
    /* Mobile Safari: remove rounded corners and input shadow */
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 13px 0;
    width: 178px;
    text-align: center;
    border-right: 1px rgb(220,220,220) solid;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 14px;
}
.picoFields #clinicalO {
    border-right: none;
}
#search input:focus {
    outline-style: none;
}
.searchReset .fa-times-circle {
    color: #8c1515;
}

.searchReset .fa-times-circle:hover {
    color: #428bca;
}
.searchReset {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 40px;
    top: 15px;
}
.searchReset.active {
    display: block;
}
#searchFormContainer a{
    color: white;
}

.search-indicator {
    visibility: hidden;
    position: absolute;
    right: 216px;
    bottom: 36px;
}
.search-indicator-active {
    visibility: visible;
}
#searchTips {
    position: absolute;
    bottom: 7px;
    font-size: 12px;
    font-weight: 600;
}
#searchTips i{
    color: white;
    font-size: 9px;
}

/* pubmed, uptodate, dynamed links inside the form: */

.qlinks {
    position: absolute;
    right: 0;
    bottom: 7px;
}

.qlinks li {
    padding: 0 5px;
    display: inline-block;
    border-right: 1px dotted #C1C1C1;
}

.qlinks li:last-child {
    border-right: none;
}

