#yui-history-iframe {
    position:absolute;
    top:0; left:0;
    width:1px; height:1px;
    visibility:hidden;
}
.tooltips, #search-content-counts, #findIt, #spellCheck, #queryMapping {
    display:none;
}
#findIt span:first-child, #spellCheck span:first-child, #queryMapping span:first-child {
    font-weight:bold;
    color:#820000;
    text-transform:uppercase;
}
#queryMapping span {
    padding-right:10px;
}
.search a, .search a:visited {
    color: #0C4C72;
    border-bottom:none;
  }
.search a:hover {
    color:#820000;
    border-bottom:1px solid #820000;
}
#searchResults a.primaryLink {
    font-size:16px;
    border-bottom:1px dotted #0C4C72;
}
#searchResults a.primaryLink:hover {
    border-bottom:1px solid #820000;
}
#searchFacets {
    margin-top:10px;
    /* conflict with middleColumn border ... wait to hear from OG
    padding-right:20px;
    border-right:1px solid #edecdf;
    */
    background-color:#fff; /* IE needs for opacity animation */
}
#searchFacets .facetHeader {
    text-transform:uppercase;
    font-weight:bold;
    list-style-image:url(/././images/raquo.gif);
    list-style-type:disc;
}
#searchFacets .facetIndent {
    margin-left:30px;
    list-style-image:none;
    list-style-type:disc;
}
#searchFacets li, #searchResults li {
    list-style-image:none;
    list-style-type:none;
}
#searchFacets ul, #searchResults ul {
    padding-bottom:10px;
}
#searchFacets li.current a {
    color:#9a0003;
}
#searchFacets li.inactiveFacet, #searchFacets li.inactiveFacet a {
    color:#666666;
}
#searchOptions {
    background-color:#edecdf;
    padding:10px;
}
#optionsToggle {
    background-position:0px 0px;
    background-repeat:no-repeat;
    padding-left:15px;
    margin-left:-5px;
}
#optionsToggle.closed {
    background-image:url(/././graphics/buttons/accord-minus-close.gif);
}
#optionsToggle.open {
    background-image:url(/././graphics/buttons/accord-plus-open.gif);
}
#optionsToggle a {
    font-weight:bold;
}
#popInContent {
    padding-bottom:5px;
    border-bottom:1px solid #edecdf;
    white-space:nowrap;
    display:none;
}
#searchResults {
    margin-top:20px;
}
#searchResults li {
    margin-left:0;
}
#searchResults li div {
    margin-left:20px;
}
.sourceLink {
    color:#666666;
}
.pmid {
    font-weight:bold;
}
.resultsNav {
    text-align:center;
    padding-bottom:20px;
}
.resultsNav a {
    padding:10px;
    border-bottom-style:none;
}
.resultsNav a.active {
    color:#808080;
    font-size:20px;
}
.rightSearchTips {
    margin-top:20px;
    padding:20px;
    background-color:#edecdf;
}
.rightSearchTips h4 {
    text-align:center;
    color:#333;
    font-size:18px;
}
/* used for successful metasearch links on hybrid pages */
.searchSuccess {
    font-weight:bold;
}

