
#imageList {
	/*requred for IE < 8:*/
	*height: 404px;
	text-align: center;
}

#imageList:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

#imageList li {
	float: left;
	list-style: none inside none;
	margin: 20px 15px 0px 15px;
	display: block;
	height: 195px;
}

#imageList img{
	max-width: 200px;
	max-height: 120px;
	}


#imageList a {
	border-bottom: none;
}



#imageList div:last-child {
	width: 190px;
	height: 50px;
	margin-top:10px;
	margin-bottom: 20px;
}

#imageList a:hover {
	background-color: #e6e4dc
}

#searchImageTitle {
	margin-top: 40px;
	margin-bottom: 10px;
}

#image{
	width: 200px;
	height: 125px;
	display: table-cell;
	vertical-align: middle;
}



#copyright{
	margin-bottom: 15px;
	font-size: inherit;
}

#copyright a:last-child{
	margin-left: 50px;	
}

