#yui-history-iframe {
    position:absolute;
    top:0; left:0;
    width:1px; height:1px;
    visibility:hidden;
}
.tooltips, #search-content-counts, #findIt, #spellCheck, #queryMapping, #showPubMedStrategies {
    display:none;
}
#findIt.active, #spellCheck.active, #queryMapping.active {
    display:inline;
}
#queryMapping span, #spellCheckLink, #findItLink {
    padding-right:25px;
}
.primaryLink {
    font-size:16px;
}
#searchFacets .facetHeader {
    text-transform:uppercase;
    font-weight:bold;
    margin-top: 1em;
}
#searchFacets .facetIndent {
    padding-left:30px;
}
.current-facet a {
    color:#9a0003;
}
.inactiveFacet, .inactiveFacet a {
    display:none;
}
.popInContent {
    display:none;
    position:absolute;
    top:55px;
    left:216px;
    width:762px;
    overflow:hidden;
    background-color: #F4F5EF;
    border: none;
    padding: 7px 0 7px 10px;
    white-space: nowrap;
    box-sizing:border-box;
}
.popInContent .popInLabel {
    color:#FF6600;
    padding-right:25px;
}
#spellCheck .popInLabel {
    padding-right:5px;
}
.popInContent.active {
    display: block;
}
.popInContent.hitCountPopIn {
    border: 1px solid #E6E4DC;
    top:55px;
    width:auto;
}
#searchResults {
    padding-top:10px;
}
.lwSearchResults li {
    margin-bottom:10px;
    padding:5px;
}

/* abstract and description related styles*/
.description {
    display:none;
    position:relative;
    top:-1px;
    background-color: #F2F3ED;
    border:1px solid;
    padding:12px;
}
.descriptionTrigger {
    cursor:pointer;
}
li.active .descriptionTrigger {
    background-color: #F2F3ED;
    border:1px solid;
    padding:0 12px;
    border-bottom-color:#F2F3ED;
    display:inline-block;
    position:relative;
    z-index:1;
}
li.active .description {
    display:block
}
/*.hoverTrigger class added by javascript (also removes .hvrTrig)*/
.lwSearchResults .showAbstract {
    margin-left:20px;
}
.hvrTrig:hover .showAbstract, .active .showAbstract {
    display:none
}
.hvrTarg {
    display:none;
    margin-top:5px;
    padding:2px;
    border-top:1px dotted #CCCCCC;
}
.hoverTrigger, .hoverTrigger a {
    cursor:help;
}
.hvrTrig:hover, .hoverTrigger.active {
    background-color: #F2F3ED;
    padding:4px;
    border:1px solid
}

.hvrTrig:hover .hvrTarg, .hoverTrigger.active .hvrTarg {
    display:block
}

.hoverTrigger.active {
    cursor:default
}
.hoverTrigger.active a {
    cursor:pointer
}

.citation{
    font-size:11px;
}
.resultInfo span {
    margin-right:24px;
}
.results-nav {
    background-color:#F7F3E5;
    padding:10px 5px 24px;
    font-size:11px;
}
.searchTerms {
    text-transform:none;
    font-weight:bold;
    font-style:italic;
}
.rightSearchTips {
    padding:0 12px;
    white-space:nowrap;
}

.rightSearchTips .heading {
    font-weight: bold;
    padding: 10px 0 5px;
    border-bottom: solid 1px rgb(144,144,144);
    margin-bottom:4px;
}

.rightSearchTips ul {
    padding-left:0;
}
.content .rightSearchTips li {
    padding:3px 0 2px;
    border-bottom:none
}
