.yui3-searchselect {
    display:inline
}
.yui3-searchselect-content {
    opacity:0;
}
.yui3-searchselect-selected {
    margin: 2px;
    padding: 6px 3px;
    position:absolute;
}
.yui3-searchselect-selected span {
    display:inline-block;
    background-image: url(/././resources/images/sprite-all.png);
    background-repeat: no-repeat;
    background-position: 3px -277px;
    padding: 6px 8px;
}