.sectionMenu .hd {
    background-image:url(/././images/backgr/sectionMenuHd.gif);
    background-repeat:repeat-x;
    border:1px solid #C3C4AD;
    height:13px;
    margin-bottom:1px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
	   color:#565347;
    text-align:right;
	padding-right:7px;
	font-size: 9px;
}
.sectionMenu .bd .simpleModuleExpandyleft .bd {
   background-image: url(/././graphics/backgr/left-column-back.gif);
	padding-bottom: 1em;
}
.sectionMenu li {
    padding:0.3em 0.25em 0.25em 2em;
    background-image:url(/././images/sprite.gif);
    background-position:12px -1190px;
    background-repeat:no-repeat;
}
  .sectionMenu .current {
   
	border: 1px solid #C3C4AD;
	
	/* background-color:#d6d6c2;
	margin-left; -10px;
	margin-right: -10px;
	padding-left:10px;*/
	
}

/*.simpleModuleExpandyleft .bd ul li:hover */