.solrFacets.module {
    border: none;
    background-color: inherit;
    box-shadow: none;
}

.solrFacets li {
    overflow: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    clear: right;
}

.solrFacets li.facetHeader {
    height: 20px;
    border-bottom: 1px solid #e6e4dc;
    cursor: pointer;
}

.solrFacets {
    opacity: 0;
}

.facetBrowse {
    min-width: 500px;
    padding: 25px 50px;
}

.facetBrowse .s-pagination {
    padding-top: 25px;
    float: none;
    text-align: center;
}

#searchFacets .solrFacet.facetHeader {
    text-transform: none;
}

.facetCount {
    float: right;
    padding-right: 5px;
}

.facetCount i.fa-times-circle {
    padding: 0 10px;
    color: #222;
}

.facetCount i.fa-times-circle:hover {
    color: #007C92;
}

/* solr-specific mods for search suggestions ... move to search.css if keep */
.solr.popInContent {
    top: -45px;
    left: 0;
    min-width: 690px;
}

.solr #queryMapping span, .solr #spellCheckLink, .solr #findItLink {
    font-weight: bold;
}