.solrFacets li {
    overflow: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.solrFacets li.facetHeader {
    height: 20px;
    border-bottom: 1px solid #e6e4dc;
    cursor: pointer;
}

.solrFacets li.facetHeader:after {
    color: grey;
    content: ">";
    float: right;
    font-size: 1.25em;
    line-height: normal;
    text-transform: none;
    transition-property: transform;
    transition-duration: 0.3s;
}

.solrFacets li.facetHeader.open:after {
    transition-property: transform;
    transition-duration: 0.3s;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.solrFacets li.facetHeader.openIE:after {
    content: "v";
}

.solrFacets {
    opacity: 0;
}

.facetBrowse {
    min-width: 500px;
    padding: 25px 50px;
}

.facetBrowse .s-pagination {
    padding-top: 25px;
    float: none;
    text-align: center;
}

#searchFacets .solrFacet.facetHeader {
    text-transform: none;
}

.facetCount {
    float: right;
    padding-right: 5px;
}

.facetCount i.fa-times-circle {
    padding: 0 10px;
    color: #222;
}

.facetCount i.fa-times-circle:hover {
    color: #007C92;
}

/* solr-specific mods for search suggestions ... move to search.css if keep */
.solr.popInContent {
    top: -45px;
    left: 0;
    min-width: 690px;
}

.solr #queryMapping span, .solr #spellCheckLink, .solr #findItLink {
    font-weight: bold;
}