#somNav2 {
    font-size : 0.9em;
    border-top : none;
    padding : 5px 0;
    text-align : center
}
#somNav2 li {
    border-color : #818181;
    padding : 0 14px 0 14px;
    border-left : 1px dotted #C1C1C1;
    display : inline;
    background-image : none
}
#somNav2 li:first-child {
    border-left : none
}
#irtBrand span {
    background-image : url(/././resources/images/sprite.gif);
    background-position : -54px -800px;
    display : inline-block;
    height : 14px;
    text-indent : -9000px;
    width : 17px
}
#somNav2 a {
    color : #1C4B70
}
#somNav2 a {
    border-bottom : none
}
#somNav2 a:hover {
    text-decoration : underline;
    border-bottom-style : none
}