#somNav2 {
	font-size: 0.7em;
	padding: 5px 0;
	text-align: center;
}

#somNav2 li {
	padding: 0 14px 0 14px;
	display: inline;
}

#irtBrand span {
	background-image: url(/././resources/images/sprite-all.png);
	background-position: -760px -680px;
	display: inline-block;
	height: 14px;
	text-indent: -9000px;
	width: 17px;
}

#somNav2 a {
    color: #1C4B70;
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
}

#somNav2 a:hover {
	color: #820000;
    border-color: #820000;
    border-bottom: 1px solid #820000;
}