
 .yui3-lightbox #subscribe {
    -webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-user-select: none;
	background-color: white;
	width: 400px; 
	height: auto;
	padding: 30px;
	text-align: center;
	border: 1px solid #9e9d98;
 }
#subscribe form {
    text-align: left;
}
#subscribe label {
    display: block;
    margin-top: .5em;
}
#subscribe  input, #subscribe  textarea, #subscribe  select {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 0 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
}
#subscribe select {
	border: 2px solid #C9C9C9;
	width : 100%;
	height : 37px;
	padding : 6px;
	margin-top : 24px
}
#subscribe input:hover,
#subscribe textarea:hover,
#subscribe input:focus,
#subscribe textarea:focus {
    border-color : #9d9b94;
}