/*th, td {
    padding:.5em;
    border:1px solid #ccc;
    vertical-align:top;
}
th {
    font-weight:bold;
}*/


table {
  border-collapse: separate;
  border-spacing: 0;
}
th,
td {
  padding: 6px;
}
thead {
  background: #09425a;
  color: #fff;
}
tbody tr:nth-child(even) {
  background: #fff;
}
td {
  border-bottom: solid 1px #f1f1f1;
  border-right: solid 1px #f1f1f1;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}