.yui3-tooltip-content {
    padding: 10px;
    max-width: 300px;
    border: 1px solid #9e9d98;
    background-color: #F2F3ED;
    text-align: left;
}
.yui3-tooltip {
    position: absolute;
}
.yui3-tooltip-hidden {
    visibility: hidden;
}
.yui3-tooltip-trigger {
    cursor: pointer;
}
.yui3-tooltip-content p:last-child {
    margin-bottom: 0;
}
