/target/
/scripts/
/.settings/
/.classpath
/.project
/.springBeans
/application.properties
/config/
/.scannerwork/
/archive/
/javamelody/
/xerces/
/xspec-master/
*.code-workspace
.vscode
.gitignore
launch.json
src/main/resources/config/application.properties
src/main/java/edu/stanford/irt/laneweb/servlet/binding/user/RequestAttributeUserFactory.java
