/* default template CSS */

#pageContainer {
	position: relative;
	width: 100%;
	min-width: 800px;
	max-width: 1200px;
}

#pageHolder {
	display: block;
	color: #000;
}

* html #pageContainer {
	border-left: 800px solid #fff;
}

* html #pageHolder {
	display: inline-block;
	/*float: left;*/
	position: relative;
	margin-left: -800px;
}

#somLogoContainer {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 138px;
	height: 46px;
	border: 0px;
	border-bottom: 1px solid #ddd;
	padding: 0px;
	margin: 0px;
	z-index: 5;
	background: white;
}

#somLogoContainer img {
	position: relative;
	top: 0px;
	left: 16px;
}
/*
#somLogoBottomBorder {
	position:absolute;
	top: 39px;
	left: 1px;
	width: 138px;
	height: 1px;
	font-size: 1px;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
	z-index: 5;
}
*/
#outsideSiteLinksContainer {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	border: 0px; 
	border-left: 2px solid #fff; /* added to preserve width with searchContainer */
	padding: 0px;
	margin: 0px;
	margin-bottom: 7px;
	z-index: 4;
}

#topLinks {
	position: relative;
	top:0px;
	left: 185px;
}

#siteLinksContainer {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	border: 0px; 
	border: 1px solid #900; /* added to preserve width with searchContainer */
	padding: 0px;
	padding-bottom: 1px;
	margin: 0px;
	color: white;
	background-color: #900;
	font-weight: 700;
}

#siteLinks span { /* necessary to avoid leaping links, as when disabled */
	margin: 0px;
	margin-left: 17px;
	margin-right: 10px;
	padding: 0px;
	border: 0px;
	vertical-align: -7%;
}

#siteLinks a, #siteLinks a:link, #siteLinks a:hover, #siteLinks a:active, #siteLinks a:visited{
	color: white;
}

#siteLinks a:hover, #siteLinks a:active {
	text-decoration: underline;
}

#askUsContainer {
	float: right;
	width: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	padding-right: 10px;
}

#askUsContainer img {
	margin: 0px;
	border: 0px;
	padding: 0px;
	vertical-align: -25%;
}

/* askUsText is necessary to accomodate link removal on the askus.html page*/
#askUsText {
	color: white;
	vertical-align: -5%;
}

#askUsContainer a:link, #askUsContainer a:visited, #askUsContainer a:hover, #askUsContainer a:active {
	color: white;
}

#searchContainer {
	 position: relative;
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 border: 1px solid #ddd;
	 border-top: 0px;
	 margin: 0px;
	 margin-bottom: 1px;
	 padding: 0px;
	 padding-top: 20px;
	 padding-bottom: 5px;
	 background: #ddc url(/././images/templates/default/gradient.gif) repeat-x top left;
	 text-align: center;
	 font-weight: 700;
	 z-index: 2;
}

#searchContainerTopBorder {
	position: absolute;
	top: -1px;
	left: 0px;
	height: 1px;
	width: 100%;
	font-size: 1px;
	border-top: 1px solid #ddd;
	z-index: 6;
}

#topCurve {
	position: absolute;
	top: -1px;
	left: 135px;
	width: 60px;
	height: 29px;
	z-index: 8;
}

#searchContainerTopRightRoundedCorner {
	position: absolute;
	top: -1px;
	right: -1px; /* compensate for 1px borders on left and right */
	width: 11px;
	height: 11px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	z-index: 8;
}

#laneConnexContainer{
	float: left;
	padding: 0px;
	margin: 0px;
	border: 0px;
	margin-top: 20px;
	padding-left: 17px; /* IE misconstrues margin-left on floats, hence use padding */
	width: 160px;
	height: 27px;
	z-index: 6;
	background: transparent;
}

#searchFormContainer {
	margin: 0 auto;
	padding-right: 40px; /* compensate for visual perception of uneven display due to top curve and laneconnex float */
	height: auto;
	color: #222;
	vertical-align: middle;
	z-index: 50;
}

.searchText {
	margin: 0 5px;
	vertical-align: middle;
}

#searchFormSubmitButton {
	width:55px;
	height: 24px;
	vertical-align: middle;
	border:0px;
	margin: 0px;
	padding: 0px;
	background: transparent url(/././images/templates/default/go.gif) no-repeat top center;
}

#displaySearchTaglineText {
	margin: 0 auto;
	padding: 0px;
	color: #555;
	font-weight:400;
}

#searchTaglineText {
	display: none;
}
/* a container div need for img b/c of IE not displaying img otherwise when absolutely positioned.*/
#irtLogoContainer {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

select, input {
	font-family: verdana, geneva, sans-serif; /* needed for some browsers */
}


/* homepage template CSS */

#collage {
	 position: relative;
	 left: 0px;
	 top: 0px;
	 width: 100%;
	 height: 57px;
	 margin-top: 1px;
	 text-align: right;
}

#panoramicView {
	 position: relative;
	 left: 0px;
	 top: 0px;
	 width: 100%;
	 height: 57px;
	 overflow: hidden;
	 background: url(/././images/templates/default/collage.jpg) repeat-x top left;
	 z-index: 5;
}

#rightPanorama {
	position: absolute;
	top:0px;
	right: -2px; /* compensate for 1px border on each side of 100%width elements above*/
	width: 469px;
	height: 57px;
	padding:0px;
	margin: 0px;
	border: 0px;
	z-index: 6;
}
