#main {
    font-size: 80%;
}
#main table {
    font-size: 1em;
}
#highlights {
	float: right;
	width: 175px;
	background: #EDE7D3; 
	border: 1px #5f6123 solid;
	margin-left:1em;
}

#sidebar div {
	background: #FFFFFF; 
    border: 1px #5f6123 solid;
    margin-bottom:1em;
}
#sidebar p, #highlights p {
	padding:5px;
	margin:5px;
}
#sidebar h5 {
	padding-left:3px;
	margin-left:3px;
	padding-bottom:0;
	margin-bottom:0;
}

#sidebar h4 {
	font-style: normal;
    color: #5f6123; 
	text-transform: uppercase;
	background: #EDE7D3;
    padding: .25em;
    margin:0;
}
#highlights h4 {
	font-style: normal;
    color: #5f6123; 
	padding-left: .25em;
	padding-right: .25em;
	padding-top: .25em;
    padding-bottom: .1em;
    margin:0;
}
#highlights ul{
    padding-top: 0;
    margin-top:0;
	margin-left:.3em;
	padding-left:.3em;
	margin-bottom:.2em;
	padding-bottom:.2em;
	list-style:none;
	
}
#sidebar ul  {
	margin:.3em;
	padding:.3em;
	list-style:none;
}
#sidebar li {
	padding-left: .6em;
	background-image: url(/beta/images/irt/list-background-arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#highlights li {
	padding-left: .5em;
	background-image: url(/beta/images/irt/list-background-arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
ol li {
	background-image: none;
	padding-left: 0;
}
ul ul {
	margin-left:1em;
}
ul  {
	margin-left:0em;
	padding-left:0em;
	list-style:none;
}
li {
	padding-left: .6em;
	background-image: url(/beta/images/irt/list-background-line.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.proxy {
	font-weight: normal;
}
.keywordresult {
	color: #000000;
	font-weight: bold;
}

.define {
	color: #666666;
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 0;
	margin-top: 0;
}

h1 {
    font-size: 1.5em;
    font-weight:normal;
	color: #003163; 
}
h2 {
    font-family: arial, helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #003163;
}
h3 {
    font-size: 1em;
	font-weight: bold;
	color: #003163;
	font-family: verdana, arial, helvetica, sans-serif;
}
h4 {
    font-size: 1em;
	font-weight: bold;
	color: #666633;
}

h5 {
    font-size: 1em;
	padding-bottom: 0;
	margin-bottom:0;
	padding-top: .5em;
	margin-top: .5em;
}
#searchresults { padding: 1px;}
#searchresults h3 { color: #003163; margin:1em 0 0 0;}
#searchColumnRight { float:right; width:45%; margin-left: 1em; }
#searchresults ul { margin:0;padding:0 }
#searchHeader {background-color:#E7F0F9;padding:.5em;width:100%}

#searchResults h3 { color: #003163; margin:1em 0 0 0;}
.searchColumn { float:left; width:49%;margin:0;padding:0}
#searchResults ul { margin:0;padding:0 }

.newsItem * {margin:0;}
.newsItem p {margin-bottom:1.5em;}

#faq dt { font-weight:bolder }
#faq dd { padding:0;margin:0 0 1em 0;text-indent:1em }
a {
	color: #990000;
	/*ask Charles why no "text-decoration: underline;" here */
}
a:link {
	color: #990000;
	text-decoration: underline;
}
a:visited {
	color: #500000;
	text-decoration: underline;
}
a:hover {
	color: #003366;
	text-decoration: underline;
}
a:active {
	color: #003399;
	text-decoration: underline;
}

#breadcrumb td {
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	font-size: 60%;
}
#breadcrumb a {
    text-decoration: none;
    color: #990000;
}
#breadcrumb a:hover {
	color: #003366;
}
#breadcrumb a:active {
	color: #003399;
}
#breadcrumb a:visited {
	color: #990000;
}

#footer {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 55%;
}
th {
	text-align: left;
}
span.bolded {
    font-weight: bolder;
}
#debug {
background-color:#EDE7D3;border:1px black solid;padding:1em;overflow:auto;clear:both;margin-top:1em;
}
/* ---------------------------------------------------------------- */
/* NN4.x-specific rules */

.ns4 {font-weight: bold; font-size: 125%;
  border: 1px solid white; padding: 0.25em;}

/* ---------------------------------------------------------------- */
/* The following styles will be ignored by NN4.x */
/*/*/

*.ns4 {display: none;}


.visible ul, .hidden:hover ul {font-size:75%;font-weight:bolder;font-family:Arial, Helvetica, sans-serif;display:block;position:absolute;border:1px #990000 solid;margin:26px 0 0 0;padding:0;background-color:white;}
.hidden ul {display:none}
.visible li, .hidden:hover li {display:block;margin:0;padding:0;background-image:none;white-space:nowrap;border-bottom:1px #990000 solid;}
.visible li a, .hidden li a {margin:0;display:block;width:100%;text-decoration:none;color:black;padding:2px 7px 2px 0px;}
.visible li a:hover, .hidden li:hover {color:black;background-color:#EEEED0;text-decoration:none;}
.visible li a:visited {color:black;text-decoration:none;}

/*end of Lane standard*/
body {
    font-family: arial, helvetica, sans-serif;
		font-size: 80%;
    background-color: #fff;
		width: 98%;
		min-width: 75em;
		max-width: 180em;
    margin: 5 5 0 5;
}

#headerContainer {
	position: relative;
	top: 0px;
	left: 0px;
	width:100%;
	border: 0px;
	padding:0px;
	margin:5px;
	margin-bottom: 0px;
	overflow: hidden;
}

#somLogoContainer {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 138px;
	height:20em;
	border: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 2;
	background: white;
}

#outsideSiteLinksContainer {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2em;
	overflow: hidden;
	border: 0px; 
	border-bottom: 2px solid white;
	padding: 0px;
	margin: 0px;
	color: white;
	font-size: 0.8em;
	background: #900 url(/beta/images/new/redcornerTR.gif) no-repeat top right;
}
/*
#redCornerTL {
	position:relative; 
	top:0px; 
	left: 0px; 
	width: 19px; 
	height: 15px; 
	padding:0px; 
	margin: 0px; 
	border: 0px; 
	display: inline;
}
*/

#redCornerTL {
	position:relative; 
	top: 0px;
	left: 138px;
	width: 85%;
	height: 2em;
	overflow: hidden;
	border: 0px; 
	padding: 0px;
	margin: 0px;
	color: white;
	text-align: center;
	vertical-align: middle;
	/*display: inline;*/
	background: transparent url(/beta/images/new/redcornerTL.gif) no-repeat 0px 0px;
}

ul#outsideSiteLinks {
	margin: 0px;
	padding: 0px;
	width: 70em;
	list-style: none;
	display: inline;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

ul#outsideSiteLinks *{
	margin: 0px;
	padding: 2px;
	border: 0px;
	color: white;
	display: inline;
	list-style: none;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	background-image: none;
}

#laneConnexContainer{
	position:absolute;
	top:45px;
	left: 0px;
	width: 171px;
	height: 35px;
	padding:0px;
	margin: 0px;
	border: 0px;
	z-index: 6;
	background: transparent;
}

#behindLaneConnexContainer{
	position:absolute;
	top:76px;
	left: 0px;
	width: 170px;
	height: 5em;
	padding:0px;
	margin: 0px;
	border: 0px;
	border-left: 1px solid #ddd;
	z-index: 3;
	background: #ddc url(/beta/images/new/searchGradient.jpg) repeat-x top left;
}

#panoramicView {
	 position: relative;
	 left: 0px;
	 top: 0px;
	 width: 100%;
	 height: 56px;
	 overflow: hidden;
	 background: url(/beta/images/new/leftPanorama.jpg) repeat-x top left;
	 text-align: right;
	 z-index: 1;
}

#rightPanorama {
	position:relative;
	top:0px;
	right: 0px;
	text-indent: 180px;
	width: 230px;
	height: 56px;
	padding:0px;
	margin: 0px;
	border: 0px;
	display: inline;
}

#searchContainer {
	 position: relative;
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 height: auto;
	 border: 1px solid #ddd;
	 border-top: 0px;
	 margin: 0px;
	 padding: 0px;
	 background: #ddc url(/beta/images/new/searchGradient.jpg) repeat-x top left;
	 text-align: center;
	 font-weight:700;
	 letter-spacing: 1px;
	 z-index: 3;
}
/*
#searchLinksContainer {
	position:relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2em;
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
	text-indent: 100px;
	text-align: center;
	vertical-align: top;
}
*/

ul#searchDbs {
	clear: both;
	height: 3em;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style: none;
	text-align: center;
	text-indent: 150px;
	background: yellow;
	margin-bottom: 20px;
}

ul#searchDbs li {
	display: inline;
	position: relative;
	top: 0px;
	left: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	background-image: none;
	text-indent: 0px;
}
/*
ul#searchDbs li *{
	height: 2.5em;
	margin: 0px;

	border: 0px;
	padding: 0px;
	border-right: 1px solid #996;
	font-size: 80%;
}
*/
ul#searchDbs a:link, ul#searchDbs a:visited, ul#searchDbs a:hover, ul#searchDbs a:active {
	height: 1em;
	margin: 0px;
	border: 0px;
	padding: 0px;
	border-right: 1px solid #996;
	font-size: 80%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right:10px;
	vertical-align: bottom;
	text-decoration: none;
}

ul#searchDbs a:hover, ul#searchDbs a:active {
	color: black;
	/*background: red;*/
	background-image: url(/beta/images/new/searchLinkRolloverBg.jpg);
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position:  0px -1px;
}

/*
a.searchLink,  a.searchLink:link,  a.searchLink:visited, a.searchLink:hover, a.searchLink:active {
	position: relative;
	top: 0px;
	color: #900;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 1px;
	vertical-align: middle;
	text-decoration: none;
	background: none;
}

.searchLinkText {
	margin: 5px;
	padding: 5px;
	vertical-align: bottom;
	background: none;
}

a.searchLink:hover, a.searchLink:active {
	font-weight: 800;
	background: url(/beta/images/new/searchLinkRolloverBg.jpg) repeat fixed left top;
	overflow: hidden;
	z-index: 30;
}

.searchLinkDivider, .searchLinkDividerEnd {
	position: relative;
	top: -2px;
	height: 2.5em;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid #996;
	vertical-align: top;
}

.searchLinkDividerEnd {
	border-right: 0px solid transparent;
}
*/
#searchFormContainer {
	position: relative;
	top: 0px;
	left: 0 px;
	padding-top: 2px;
	width: 75em;
	color: #222;
	vertical-align: middle;
}

#searchForm {
	margin:0px;
	padding: 0px;
	border: 0px;
	height: auto;
}

#searchForm select {
	 width:15em;
	 height: auto;
	 font-size: 80%;
	 margin:0 px;
	 padding: 0px;
	 vertical-align: middle;
}

.searchText {
	margin: 0 5px;
	vertical-align: middle;
}

#searchQuery {
	 width: 30em;
	 height: auto;
	 font-size: 80%;
	 margin:0px;
	 padding: 0px;
	 vertical-align: middle;
}

#searchContainerRoundedCorners {
	position:relative;
	top: 1px;
	left: 1px;
	width:100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
	text-align: left;
	background: url(/beta/images/new/searchBR.gif) no-repeat top right;
}

#searchCornerBL {
	position:relative;
	top:0px;
	left: -2px;
	width: 17px;
	height: 17px;
	padding:0px;
	margin: 0px;
	border: 0px;
	display: inline;
}

#searchFormSubmitButton {
	width:55px;
	height: 24px;
	vertical-align: middle;
	border:0px;
	margin: 0px;
	padding: 0px;
	background: transparent url(/beta/images/new/go.jpg) no-repeat top center;
}

#breadCrumb {
	margin: 0px 0px 0px 30px;
	overflow: hidden;
}

#breadCrumb a:link, #breadCrumb a:visited, #breadCrumb a:active, #breadCrumb a:hover  {
	text-decoration: none;
}

#contentBody {
	position: relative;
	top:2px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	z-index: 3;
}

.leftSideBarComponent {
	/*position: relative;
	top: 0px;
	left: 0px;*/
	width: 14em;
	height: auto;
	margin-top: 15px;
	margin-right: 15px;
	padding: 0px;
	border: 1px solid #ddd;
	color: #900;
	font-size: 80%;
	overflow: hidden;
}

.leftSideBarTitle {
	padding: 2px;
	text-align: center;
	color: white;
	background: #996;
	font-size: 85%;
	font-weight: 800;
	border-bottom: 3px solid #dda;
}

.sideBarContent {
	padding: 3px;
	text-indent: 10px;
	text-align: left;
}

.rightSideBarComponent {
	/*position: relative;
	top: 0px;
	right: 1px;*/
	width: 18em;
	height: auto;
	margin-top: 15px;
	margin-left: 15px;
	padding: 0px;
	border: 1px solid #ddd;
	color: #900;
	font-size: 80%;
	overflow: hidden;
}

.rightSideBarTitle {
	padding: 2px;
	text-align: center;
	color: #900;
	background: beige;
	font-size: 85%;
	font-weight: 800;
	border-bottom: 3px solid #dda;
}

.sideBarContent h2 {
	display: none;
}
