/*#contentBody {font-size:85%;}*/

/* t, r, b, l */
.hide {
	display: none;
}
.indent {
	padding-left: 1.6em;
}
.keywordresult {
	color: #000000;
	font-weight: bold;
}

/* searchHeader styles used across eLibrary and incremental pages */
.searchHeader {
	margin-left:0;
	/*margin-bottom: 1px;*/
	margin-bottom:0.7em;
}
#searchHeaderTable {
	width:100%;
	border-spacing:0px;
}
.searchHeaderTitle {
/*	
	margin-top: -2px;
	font-size:1.25em;
*/
	padding-left: 1.6em;
	font-weight: bold;
	white-space: nowrap;
}
.searchHeaderMiddle {
	background-color:#e7e2cd;
	padding:0.6em 1.25em 0.6em 0.6em;
	white-space: nowrap;
/*	width:30%; */
}
.searchHeaderRight {
	background: url(/././images/templates/default/searchHeaderTopRight.gif) top right no-repeat;
	background-color:#e7e2cd;
	padding:0.6em 1.25em 0.65em 0.6em;
	white-space: nowrap;
	margin-left:-1px;
/*	width:30%; */
}
.searchHeaderLeft {
	background: url(/././images/templates/default/searchHeaderTopLeft.gif) top left no-repeat;
	background-color:#e7e2cd;
	padding:.6em 0.2em 0.65em 0em;
	white-space: nowrap;
/*	width:30%; */
}

#tabTip h3 {
	color: #980202;
	font-weight:bold;
	font-style: italic;
	margin-top: 2px;
	margin-bottom: 10px;
}
#tabTip{
	position:absolute;
	top:200px;
	width:150px;
	right: 0px;
	padding-top:1px;
	padding-left:5px;
	padding-bottom:5px;
	padding-right:5px;
	border: 1px solid #99987a;
	background: #e0e0d1;
}
/* ryan I'm throwing these in temporarily.... -Pam */
#tabTip h2 {
	color: #40668c;
	font-size: 1.5em;
	font-weight:bold;
	text-align:center;
	margin-top: 2px;
	margin-bottom: 10px;
}
#tabTip h4 {
	color: #444;
	font-size: 1.1em;
	font-weight:bold;
	font-style: italic;
	margin-bottom: 0;
	padding-bottom:0;
}
#tabTip p {
	padding-top: 0;
	margin-top:0;
}
/* popInContent styles used for did you mean, sfx, suldb content (eLibrary and incremental) */
.popInContent {
	/*clear: both;*/
	border-top: 1px solid #99987a;
	background: #e0e0d1;
	padding-top: 0.5em;
	padding-right:0em;
	padding-bottom:0.5em;
	padding-left:2.25em;
	/*margin-top: -0.25em;*/
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: -2.25em;
	border-top: 5px solid #99987a;
	border-right: 1px solid #99987a;
	border-left: 1px solid #99987a;
	border-bottom: 1px solid #99987a;
}
div#eLibrarySearchResults {
/*
	background: #f6f4ec;
	border-top: 1px solid #99987a;
	width: 97%;
	padding-bottom:10.25em;
	font-size: 85%;
*/
	/*padding-top: 0.25em;*/
	padding-right:0em;
	padding-left:2.25em;
	/*margin-top: 0.35em;*/
	margin-bottom: 14.5em;
}

/*div#eLibrarySearchResults h3{
	font-size: 1em;
	font-weight: bold;
	color: #003163;
}*/

#eLibraryTabContainer{
	/*margin-top: 2px;*/
        min-width:850px;
        white-space:nowrap;
}
#eLibraryTabs {
	display: inline;
	white-space: nowrap;
}

#eLibraryTabs div:hover {
	text-decoration: underline;
}
.eLibraryTab {
	background: #d3cebf;
	cursor: pointer;
	color: #980202;
	position:relative;
	float: left; 
	text-align: center;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	/*
	padding-top: 0.25em;
	padding-right: 0.7em;
	padding-bottom: 0.25em;
	padding-left: 0.7em;
	*/
	margin-right: 2px;
	/*margin-bottom: 0px;*/
/*
	display: inline;
	white-space: nowrap;
*/
}


.eLibraryTabActive {
	background: #99987a;
	cursor: default;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
/*	font-size: 100%;*/
	position:relative;
	float: left; 
	text-align: center;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	/*
	padding-top: 0.25em;
	padding-right: 0.7em;
	padding-bottom: 0.25em;
	padding-left: 0.7em;
	*/
	margin-right: 2px;
	/*margin-bottom: 0px;*/
}

span.tabHitCount {
	color: #393838;
}

.eLibraryTabActive span.tabHitCount {
	color: #ffffff;
}

#metaSearchResultsContainer {
	float:left;
	position:relative;
	text-align: center;
}
.metaSearchResults {
	background-color:#ecece8;
	cursor: pointer;
	color: #980202;
	position:relative;
	float: left;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
/*
	padding-top: 0.25em;
	padding-right: 0.7em;
	padding-bottom: 0.25em;
	padding-left: 0.7em;
*/
	margin-left: 0px;
	margin-right: 1px;
	/*margin-bottom: 0px;*/
}
.metaSearchResultsRightCorner {
	background: url(/././images/templates/default/metaSearchResultsRight.gif) top right no-repeat;
	background-color:#ecece8;
	cursor: pointer;
	color: #980202;
	position:relative;
	float: left;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
/*
	padding-top: 0.25em;
	padding-right: 0.7em;
	padding-bottom: 0.25em;
	padding-left: 0.7em;
*/
	margin-left: 0px;
	margin-right: 1px;
	/*margin-bottom: 0px;*/
}

div#incrementalSearchResults{
/*	width: 92%; */
	padding-top: 0em;
	padding-right:0em;
	padding-bottom:2.25em;
	padding-left:2.25em;
	margin-top: -0.25em;
	margin-bottom: 0.5em;
}
div#incrementalSearchResults ul  {
	margin-left:0em;
	padding-left:0em;
	list-style:none;
}
div#incrementalSearchResults li {
	padding-left: .6em;
	background-image: url(/images/list-background-line.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-bottom: .2em;
}
.searchColumn3 { float:left; width:31%;margin:0;padding:0}
/* used on incremental results page to make micromedex static result look like incremental */
p.micromedex {
        padding-left: .6em;
        background-image: url(/images/list-background-line.gif);
        background-repeat: no-repeat;
        background-position: 0 0;
        margin-bottom: 0.15em;
}
p.micromedex a:link, p.micromedex a:visited {
	text-decoration: none;
}
/*CY's search results*/
dt {font-weight:bolder}
dd {margin:0; padding:0 0 0 2em}
.provider {color:gray}
dl ul {padding:0;margin:0;list-item-position:outside;list-style:none;}
dl li {background-image:none;}

/*
#searchResults h3 { color: #003163; margin:1em 0 0 0;}
.searchColumn { float:left; width:49%;margin:0;padding:0}
#searchResults ul { margin:0;padding:0 }
#searchHeader, .searchHeader {background-color:#E7F0F9;padding:.5em;width:97%;margin-bottom:1em;}
*/
