
.basic-card {
    padding-top: 18px;
}

.basic-card img {
  width: 100%;
  height: auto;
  margin-bottom: 28px;
}


.basic-card i {
    display: inline-block;
    margin-bottom: 18px;
}


.basic-card p {
    margin-bottom: 38px;
}

.basic-card .btn {
    display: block;
    width: fit-content;
    margin-top: 12px;
}
