/* COMMON TO THE TWO IMAGE VIEWS  */
 #bassettContent td {
    border: none;
    width: 50%;
}
.choice {
    float: left;
    padding: 10px ;
}

#paging span {
    margin-left: 10px;
}

#bassett-title-header {
    margin-left: 10px;
    margin-top: 12px;
}

#bassett-menu li:nth-child(n + 6) {
    display: none;
}

#bassett-menu li:nth-child(n + 2) {
    cursor: pointer;
}

#bassett-menu li:nth-child(n + 2) a {
    display: block;
}

.region span {
    color: black;
    float: right;
}

.region .enabled a, .region .enabled span {
    color: white;
}

/* Multi IMAGES VIEW */
.bassett-images, .paging, .bassett-image {
    clear: both;
}

.see-all {
    float: right;
}

.bassett-images div {
    padding: 0 0 30px 19px;
    float: left;
}

#bassettContent .hr {
    padding: 0 0 7px 0;
    float: none;
}

#bassettContent .image-text {
    padding: 3px 0 0 0;
}

.bassett-error{
    color: red;
    padding-bottom: 10px;
    display: none;
}

/* IMAGE VIEW */
.legend-title {
    padding-top: 7px;
    color: #820000;
    font-size: 1.8em;
}

#bassett-number {
    font-weight: bold;
    margin-top: 1em;
    margin-left: 12px;
}

#second-region {
    color: #999999;
    font-size: 0.625em;
    padding-left: 12px;
}

.bassett-image table {
    margin-bottom: 30px;
    text-align: center;
    vertical-align: middle;
}

.bassett-image td#image {
    vertical-align: middle;
}

.bassett-image td#legend-image , .bassett-image td#legend {
	padding-top: 20px;
}

.bassett-image td#diagram-image, .bassett-image td#legend-image {
    vertical-align: top;
}

.bassett-image td#legend-image img, .bassett-image td#image img {
    width: 90%;
}

#legend table {
    width: 100%;
}

#legend td {
    padding: 3px 0 0 2px;
    text-align: left;
    vertical-align: top;
}

#legend .legend-title, #legend .legend-sub-title {
    text-align: center;
}

#legend .legend-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    color: #3f3c30;
}


#legend .legend-sub-title {
    padding-bottom: 5px;
    font-style: italic;
}

#legend .legend-description {
	padding: 9px;
    padding-bottom: 15px;
}

#legend table table td{
	padding-left: 9px;
}

#legend table td:first-child {
	width: 5%;

}
#legend table td:nth-last-of-type() {
    width: 95%;
}

