.bookcover {
    float: right;
    height: 112px;
    visibility: hidden;
    width: 80px;
}

.bookcover-active {
    visibility: visible;
}

.module-img, .bookcover.module-img {
    float: left;
    margin-right: 1em;
}
.bookcover.module-img {
    height: 81px;
    width: 59px;
}
