/* favorites dropdown from the main navigation bar */
.favorites .dropdown-content {
    background-color: #f0f4f5;
    padding: 18px 27px 12px;
    border: none;
    font-weight: initial;
    line-height: initial;
    right: 0px;
    white-space: nowrap;
    z-index: 2;
}

.favorites .dropdown-content a.manageBookmarks.btn,
.favorites .dropdown-content a.manageBookmarks.btn:hover {
    color: white;
    border: none;
    background-color: #8C1515;
    margin-top: 28px;
    text-align: center;
}

.favorites li {
    letter-spacing: initial;
    margin: 18px 0;
}

.favorites a {
    color: black;
}

.favorites .dropdown-content a {
    font-weight: 600;
}

.favorites .dropdown-content #bookmarks a {
    font-weight: normal;
}

/* Bookmark Manager button on .favorites drop-down */
.manageBookmarks {
    font-size: 0.8125em;
}

.favorites.dropdown .fa-bookmark.shake {
    animation: bookmarks-shake 0.5s;
    animation-iteration-count: 6;
}

@keyframes bookmarks-shake {
    0% {
        transform: rotate(0deg);
    }

    4% {
        transform: rotate(-5deg);
    }

    8% {
        transform: rotate(-10deg);
    }

    12% {
        transform: rotate(-15deg);
    }

    16% {
        transform: rotate(-20deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    24% {
        transform: rotate(-30deg);
    }

    28% {
        transform: rotate(-25deg);
    }

    32% {
        transform: rotate(-20deg);
    }

    36% {
        transform: rotate(-15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    44% {
        transform: rotate(-5deg);
    }

    48% {
        transform: rotate(0deg);
    }

    52% {
        transform: rotate(5deg);
    }

    56% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(15deg);
    }

    64% {
        transform: rotate(20deg);
    }

    68% {
        transform: rotate(25deg);
    }

    72% {
        transform: rotate(30deg);
    }

    76% {
        transform: rotate(25deg);
    }

    80% {
        transform: rotate(20deg);
    }

    84% {
        transform: rotate(15deg);
    }

    88% {
        transform: rotate(10deg);
    }

    92% {
        transform: rotate(5deg);
    }

    96% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

/* .bookmark-link: "Add to My Bookmarks" star button on most links */
.bookmark-link {
    cursor: pointer;
    display: inline-block;
    height: 17px;
    width: 26px;
    box-sizing: content-box;
    position: absolute;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    line-height: 17px;
    background-color: white;
    background-image: linear-gradient(to right, white, #ccc);
    font-size: 0.8125em;
}

.bookmark-link .fa {
    color: gray;
}

.bookmark-link.active .fa,
.bookmark-link.bookmarking .fa {
    color: #b40d1a;
}

/* HTML template for each bookmark editor */
#bookmark-editor-template {
    display: none;
}

/* styles for bookmark editors (div around li) on /favorites.html */
.bookmark-editor {
    cursor: move;
    margin: 2px 0;
}

.bookmark-editor:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .24);
    transition: box-shadow .5s;
}

.bookmark-editor:nth-child(even) {
    background: #fff;
}

.bookmark-editor:nth-child(odd) {
    background: #f0f4f5;
}

.bookmark-editor-active label,
.bookmark-editor-active input,
.bookmark-editor-active button {
    display: inline;
}

#my-bookmarks {
    scroll-margin-top: 4em;
    margin-bottom: 0;
}

/* main form on /favorites.html */
#bookmarks-editor {
    /* overscroll to show h2 ... change links to #my-bookmarks instead? */
    scroll-margin-top: 8em;
}

#bookmarks-editor ul {
    padding-left: 0;
    background-color: white;
}

#bookmarks-editor input {
    box-shadow: rgba(0, 0, 0, .1) 0 0 8px;
    margin-right: 12px;
    padding: 5px;
    border: solid 2px #c9c9c9;
    width: 100%;
}

#bookmarks-editor .close {
    position: absolute;
    right: 25px;
    top: unset;
    width: auto;
}

/* Add Bookmarks toggle at top of /favorites.html form */
.addBookmarkContainer {
    margin: 15px 0;
    text-align: right;
}

.addBookmarkContainer a {
    background-color: #f0f4f5;
    padding: 3px 12px;
}

.addBookmarkContainer i {
    color: black;
    margin-left: 10px;
}

.addBookmarkContainer button {
    border: 0;
    background: #f0f4f5;
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
    color: #007c92;
}

.addBookmarkContainer .fa-angle-up {
    display: none;
}

.addBookmarkContainer.active .fa-angle-up {
    display: inline-flex;
}

.addBookmarkContainer.active .fa-angle-down {
    display: none;
}

/* li container holding bookmark, editor */
li.bookmark-editor-content {
    padding: 10px 12px;
    display: flex;
}

.bookmark-editor-content a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    font-size: 1.125em;
}

.bookmark-editor-content.active a,
.bookmark-editor-content.active .actions {
    display: none;
}

.bookmark-editor-content .editContainer {
    display: none;
    color: #666;
    align-items: start;
    width: 100%;
    margin-top: -5px;
}

.bookmark-editor-content.active .editContainer {
    display: flex;
}

.bookmark-editor-content .editContainer .btn {
    padding: 3px 0;
    width: 95px;
}

.bookmark-editor-content .editPanel {
    width: 69%;
    display: flex;
}

.bookmark-editor-content .editPanel .editItem:first-child {
    padding-left: 0;
}

.bookmark-editor-content .editPanel:last-child {
    width: 29%;
    margin: 26px 25px 0;
}

.bookmark-editor-content .editItem {
    width: 51%;
    padding: 12px;
}

.bookmark-editor-content .editItem label {
    display: inline-block;
    min-width: 45px;
}

.bookmark-editor-content .editPanel:last-child .editItem {
    text-align: center;
}

.bookmark-editor-content .actions {
    white-space: nowrap;
}

.bookmark-editor-content .actions button,
.bookmark-editor-content .close button {
    margin: 0 15px;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.bookmark-editor-content .actions button i {
    color: #333;
}

.bookmark-editor-content .actions button i:hover {
    color: #666;
}

.bookmark-editor-content .actions button i:active {
    color: #000;
}

/* next two are for the login required lightbox popup */
.bookmark-login {
    text-align: center;
    padding: 30px;
    width: 460px;
    box-sizing: border-box;
    background-color: white;
}

.bookmark-login-heading {
    color: #414042;
    font-weight: bold;
    font-size: 0.875em;
    padding-bottom: 28px;
}

@media (max-width : 1100px) {
    .manageBookmarks {
        font-size: 1em;
    }
}

@media (max-width : 812px) {
    .favorites li {
        margin: 9px 0;
    }

    #bookmarks-editor .close {
        right: 10px;
    }

    .bookmark-editor-content .editItem {
        width: 100%;
        padding-left: 0;
    }

    .bookmark-editor-content .editPanel {
        width: 55%;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .bookmark-editor:hover {
        box-shadow: none;
    }
}