/*class button for mimicing SOM buttons.  See markup at:
http://lane.stanford.edu/samples/button-css.html
 */
.btn {
	background-color: #8C1515;
    border: 2px solid #8C1515;
	padding: 8px 24px;
	border-radius: 8px;
	color: #F0F0F0;
	cursor: pointer;
	animation-duration: 0.3s;
	font-size: 18px;
	font-family: 'Source Sans Pro', serif;
	font-weight: bold;
	line-height: 1;
	display: inline-block;
}

.btn:link{
	text-decoration: none;
}

/* I do not like to use the !important but in this case I thought it is making sense  because it will
overwrite any other class ( outline, alt ) if the button is disabled */
.btn.disabled {
	color: #F0F0F0 !important;
    background-color: #666666 !important;
    border-color: #666666 !important;
	cursor: not-allowed !important;
	text-decoration: none !important;
	animation-name: none !important;
}

.btn.disabled .icon{
	color: #F0F0F0 !important;
    background-color: #555 !important;
}


.btn:hover {
	background-color: #6F1111;
	border-color: #6F1111;
}

.btn:hover span .icon {
    color: #6F1111;
}

@keyframes  button-primary-active {
	from {  background-color:#6F1111;}
    to {background-color: #430A0A;}
}

.btn:active {
	animation-name: button-primary-active;
	background-color: #430A0A;
	border-color: #430A0A;
}

.btn:active span .icon{
	color: #430A0A;
}

.btn.outline, .btn span .icon {
    color: #8C1515;
    background-color: #F0F0F0;
    border-color:  #8C1515;
}

.btn.outline:hover, .btn.outline span .icon {
    color: #F0F0F0;
    background-color: #8C1515;
}

.btn.outline:hover span .icon{
    color: #8C1515;
}

@keyframes  button--primary-outline-active {
    from {  background-color:#8C1515; }
    to { background-color: #6F1111; }
}

.btn.outline:active {
    animation-name: button-primary-outline-active;
    background-color: #6F1111;
}

.btn.alt {
	background-color: #007C92;
	border-color: #007C92;
}

.btn.alt:hover {
	background-color: #005766;
	border-color: #005766;
}

.btn.alt:hover span .icon{
    color: #005766;
}

@keyframes  button-secondary-active {
	from { background-color:#005766; }
	to { background-color: #002B33;	}
}

.btn.alt:active {
	animation-name: button-secondary-active;
	background-color: #002B33;
	border-color: #002B33;
}

.btn.alt:active span .icon{
    color: #002B33;
}

.btn.alt.outline, .btn.alt span .icon {
	color: #007C92;
	background-color: #F0F0F0;
	border-color: #007C92;

}

.btn.alt.outline:hover, .btn.alt.outline span .icon{
	color: #F0F0F0;
	background-color: #007C92;
}

 .btn.alt.outline:hover span .icon{
        color: #007C92;
 }

@keyframes  button--secondary-outline-active {
	from { background-color:#007C92; }
	to { background-color: #005766;	}
}

.btn.alt.outline:active {
	animation-name: button-secondary-outline-active;
	background-color: #005766;
}

.btn span .icon{
    border-radius: 12px;
    font-size: 13px;
    height: 24px;
    width: 24px;
    padding: 4px;
    box-sizing: border-box;
    margin-right: 6px;
    line-height: 15px;
}

.btn span .icon, .btn.outline:hover span .icon, .btn.alt.outline:hover span .icon{
    background-color: #F0F0F0;
}



.button {
	font-size: 16px;
	font-weight: 400;
	padding: 5.25px 10.5px;
	border: 1px #cccccc solid;
	border-radius: 3.5px;
	cursor: pointer;
	background-color: #f1f1f1;
	display: inline-block;
}

.button:hover {
	border-color: #adadad;
}

.button span {
	background-color: #007c92;
	color: #ffffff;
	padding: 7px 12px 7px 7px;
	border-radius: 4px;
	margin-right: 6px;
	display: inline-block;
}

.button span .icon {
	background-color: #ffffff;
	border-radius: 12px;
	font-size: 13px;
	height: 24px;
	width: 24px;
	padding: 4px;
	box-sizing: border-box;
	margin-right: 6px;
	line-height: 15px;
}

.button .icon {
	color: #007c92;
	text-align: center;
}

.button * {
	vertical-align: middle;
}

.button.alt1 span {
	background-color: #8c1515;
}

.button.alt1.waitlist span {
	background-color: #b96d12;
}

.button.alt1 .icon {
	color: #8c1515;
}

.button.alt2 {
	background-color: #8c1515;
	width: 100%;
	color: white;
	padding: 9px;
	border: 1px solid #8c1515;
	border-radius: 9px;
}