.calendars {
    display: table;
    width: 100%;
    color: white;
    background-color: #09425a;
}
.calendars ul {
    display: table-row;
}

.calendars li {
    width: 14.285714%;
    display: table-cell;
    padding: 6.5px;
    border-right: 2px solid #ecf1f2;
    border-bottom: 10px solid #ecf1f2;
}

.calendars li:last-child {
    border-right: none;
    border-bottom: 10px solid #ecf1f2;
}

.calendars p {
    margin-top: .5em;
}
