.class {
    margin: 12px 0 60px;
    position: relative;
    /* this z-index and the .class .date:before rules related to case 119823 involved with getting
       the date box the same height as the class information*/
    z-index: 0;
    min-height: 200px;
}

.class:last-child {
    margin-bottom: 0;
}

.class .pure-u-7-24 {
    background-color: #009abb;
    padding: 6px 0 24px;
}

.class .pure-g .pure-u-17-24 {
    padding-left: 24px;
}

.class .date {
    padding: 0 12px;
}

.class .month-day {
    padding-top: 6px;
    margin-bottom: 0;
}

.class .year {
    font-size: 1.5em;
    font-weight: 700;
}

.class .time {
    margin: 12px 0;
}

.location {
    text-align: right;
}

.location i {
    margin-right: 4%;
    margin-left: 3px;
}

.location, .location a, .location .fa-solid {
    color: white;
}

.venue {
    position: relative;
    margin-top: 60px;
    font-size: 0.8125em;
}

.venue-link {
    position: absolute;
    bottom: 0;
    box-sizing: content-box;
    width: inherit;
    padding-left: 9px;
}

.class .seats {
    padding-top: 6px;
}

.instructor {
    margin-bottom: 20px;
}

.register {
    min-height: 68px;
}

.register div:first-child {
    position: absolute;
    bottom: 0;
}

.register a {
    margin-bottom: 6px;
}

.remaining-seats {
    height: 26px;
}

@media ( max-width :1100px) {
    .class {
        margin: 12px 0 51px;
    }
    .class .pure-g {
        background-color: #eee;
    }
    .class .pure-g .pure-u-17-24 {
        padding: 6px;
    }
    .class .pure-u-7-24 {
        padding: 0;
        margin-bottom: 12px;
    }
    .class .date {
        background-color: #009abb;
    }
    .class .venue {
        margin-top: 0px;
    }
    .register {
        position: relative;
        margin-bottom: 15px;
    }
    .register i, .location {
        display: none;
    }
    .instructor {
        margin-top: -17px;
        display: inline-flex;
        line-height: 3.6em;
    }
    .instructor div {
        padding-left: 6px;
    }
}