

.contacts-choice a, .contacts-choice a:visited, .contacts-choice a:active,
	.contacts-choice a:hover {
	color: black;
}

.contacts-choice a .fa {
	color: #ccc;
}

.contacts-choice {
	display: flex;
	white-space: nowrap;
}

.contacts-choice li, .contacts-choice  li:last-child {
	flex: 1 1 auto;
	margin: 3px;
	border: 1px solid #ccc;
	border-radius: 9px;
}

.sfp-journal-button a, .sfp-other-button a ,  .sfp-book-button a{
    text-align: center;
	display: block;
	width: 100%;
	height: 100%;
}


#liaisons, #docxpress, #ejp, #sfp-book, #sfp-journal, #sfp-other {
	display: none;
}

:target ~ #laneaskus {
	display: none;
}

#liaisons:target, #docxpress:target, #ejp:target, #sfp-book:target,
	#sfp-journal:target, #sfp-other:target {
	display: block;
}

#liaisons:target .liaisons-button, #laneaskus:target .laneaskus-button,
	#docxpress:target .docxpress-button, #liaisons:target .liaisons-button span,
	#laneaskus:target .laneaskus-button span, #docxpress:target .docxpress-button span,
	#liaisons:target .liaisons-button .fa, #laneaskus:target .laneaskus-button .fa,
	#docxpress:target .docxpress-button .fa, #ejp:target .ejp-button,
	#ejp:target .ejp-button span, #ejp:target .ejp-button .fa,
	#sfp-journal:target .sfp-journal-button, #sfp-journal:target .sfp-journal-button  span, #sfp-journal:target .sfp-button,#sfp-journal:target .sfp-button span,
	#sfp-other:target .sfp-other-button, #sfp-other:target .sfp-other-button span, #sfp-other:target .sfp-button, #sfp-other:target .sfp-button span,
	#sfp-book:target .sfp-book-button,  #sfp-book:target .sfp-book-button span , #sfp-book:target .sfp-button,  #sfp-book:target .sfp-button span {
	background-color: #007C92;
	color: white !important;
	border: 1px solid #007C92;
}

@media ( max-width : 812px) {
	.contacts-choice span {
		font-size: 12px;
	}
	.content .contacts-choice li {
		padding: 6px 13px;
	}
	ul.contacts-choice {
		white-space: unset;
	}
}