.su-design section.content>div.centered:first-of-type {
    margin: 0;
    padding: 0;
}

.su-design section.content {
    max-width: 2300px;
}

.su-design .footer-organizations {
    margin-top: 0;
}


.basic-card {
    margin-top: 18px;
}

.basic-card img,
.centered-basic-card img {
    width: 100%;
    height: auto;
    margin-bottom: 28px;
}


.basic-card i,
.centered-basic-card i {
    display: inline-block;
    margin-bottom: 18px;
}

.basic-card p,
.centered-basic-card {
    margin-bottom: 18px;
}

.basic-card div,
.centered-basic-card div {
    margin-bottom: 36px;
}

.basic-card .btn,
.centered-basic-card .btn {
    display: block;
    width: fit-content;
    margin-top: 12px;
}

.centered-basic-card,
.centered-basic-card .btn,
.centered-basic-card h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.basic-container {
    margin-top: 24px;
    padding: 2em;
    box-sizing: border-box;
    position: relative;
}

.basic-container p {
    margin-bottom: 6px;
}

.basic-container div {
    margin-bottom: 12px;
}

.basic-container.same-height {
    height: calc(100% - 24px);
}

.banner {
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

.banner>div {
    display: block;
}

.banner div:first-of-type i {
    width: 2px;
}

.banner div:first-of-type i.fa-2x {
    width: 26px;
}

.banner div:first-of-type i.fa-3x {
    width: 47px;
}


.banner div:first-of-type i.fa-4x {
    width: 82px;
}

.banner div:first-of-type i.fa-5x {
    width: 100px;
}

.banner div:first-of-type i.fa-6x {
    width: 130px;
}

.banner div:first-of-type i.fa-7x {
    width: 165px;
}



.banner>div:nth-child(2) {
    width: 95%;
}

.landing-page-container {
    padding: 98px 10%;
}

.secondary-page-container {
    padding: 42px 100px;
    margin: 42px 100px;
}

@media (max-width : 1100px) {
    .landing-page-container {
        padding: 42px 80px;
    }

    .secondary-page-container {
        padding: 42px 30px;
        margin: 42px 30px;
    }

    .banner .medium-screen-hide {
        display: none;
    }

    .banner>div:nth-child(2) {
        width: 100%;
    }
}


@media (max-width : 768px) {
    .landing-page-container {
        padding: 42px 50px;
    }

    .secondary-page-container {
        padding: 42px 20px;
        margin: 42px 20px;
    }
}

@media (max-width : 812px) {
    .banner {
        flex-flow: row wrap;
    }

    .landing-page-container {
        padding: 42px 20px;
    }

    .secondary-page-container {
        padding: 42px 10px;
        margin: 42px 10px;
    }
}