/* course reserves style for /biomed-resources/course-reserves.html */


.course-reserves-container .course-number {
    font-size: 14px;
}

/* so page doesn't bounce when course list is filtered */
.course-reserves-container {
    min-height: 575px;
}

.course-reserves-instructor {
    margin-top: 13px;
    line-height: 13px;
    font-size: 0.8125em;
}

.version-note {
    padding-left: 25px;
}

.course-reserves .bookcover {
    float: left;
    padding: 0 30px 30px;
}

.course-reserves-item div {
    overflow: auto;
}