/*
 * These rules are for the /discoveryLoginPage.html and /devDiscoveryLoginPage.html
 * referenced by Shibboleth configurations.
 */
.login-option .brand {
    position: absolute;
    top: 0px;
    padding-top: 22px;
}

.discovery-login-container {
    max-width: 1800px;
    margin: auto;
    padding: 1em 3em;
    text-align: center;
}

.discovery-login-persistent {
    margin: 8em 0 4em;
}

#is-persistent-login {
    height: 20px;
    width: 20px;
    position: relative;
    top: 3px;
    box-shadow: 0 0 0 1px #757575;
    margin-right: 5px;
}

.discovery-login-persistent div {
    color: #757575;
    font-size: 95%;
    margin-top: 9px;
}

.discovery-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-option {
    width: 420px;
    margin: 0.5em;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px .2px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.login-link {
    background-color: white;
    background-position: 50% 3.5em;
    background-repeat: no-repeat;
    background-size: 13em;
    color: black;
    font-weight: 700;
    padding: 12.5em 0 4em;
    display: block;
}

.login-link.som {
    background-image: url('../images/SU-discoverylogo.png');
}

.login-link.shc {
    background-image: url('../images/SHC-discoverylogo.svg');
}

.login-link.lpch {
    background-image: url('../images/LPCH-discoverylogo.svg');   
}

.discovery-login-help {
    align-items: center;
    display: grid;
    border: none;
    box-shadow: none;
}

.discovery-login-help a {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0px;
    font-weight: inherit;   
}

.discovery-login-guest {
    width: 16em;
    margin: auto;
    padding: 3em 0;
}

.discovery-login-guest div{
    margin-top: 0.7em;
}


.discovery-login-links span {
    font-weight: normal;
    font-size: 1.425vh;
    position: relative;
    top: 12.825vh;
}

 @media ( max-width : 915px) {
    .discovery-login-container {
        padding: 0 0.5em;
    }
    .login-option{
        min-width: 320px;
        flex: 1 1 30%;
    }
    .login-link {
        padding: 8em 0 3em;
        background-position: 50% 30%;
    }
}