/*
 * These rules are for the /discoveryLoginPage.html and /devDiscoveryLoginPage.html
 * referenced by Shibboleth configurations.
 */
.discovery-login {
    margin: 2.85vh auto;
    text-align: center;
}

.discovery-login-help {
    font-size: 1.425vh;
    line-height: 2.1375vh;
}

.discovery-login-help .fa {
    color: #006881;
    font-size: 2.1375vh;
}

.discovery-login-help span {
    font-weight: 600;
}

.discovery-login-persistent {
    font-size: 1.71vh;
    margin-top: 2.1375vh;
}

.discovery-login-links a {
    background-color: white;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: 27.7875vh;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px .2px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    color: black;
    display: block;
    font-size: 2.1375vh;
    font-weight: 700;
    height: 25.365vh;
    margin: 2.85vh auto 0;
    padding: 2.85vh;
    width: 54.72vh;
}

.discovery-login-links :hover {
    background-color: transparent;
}

.discovery-login-links a:nth-child(1) {
    background-image: url('../images/SU-discoverylogo.png');
}

.discovery-login-links a:nth-child(2) {
    background-image: url('../images/SHC-discoverylogo.png');
}

.discovery-login-links a:nth-child(3) {
    background-image: url('../images/LPCH-discoverylogo.png');
    background-size: 45vh;
}

.discovery-login-links hr {
    color: #ddd;
    width: 42.75vh;
}

.discovery-login-links span {
    font-weight: normal;
    font-size: 1.425vh;
    position: relative;
    top: 12.825vh;
}
