.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #dadad9;
    background: white;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.general-dropdown{
    display: inline-block;
}

.general-dropdown-trigger{
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}


.general-dropdown-trigger .fa{
    margin-left: 18px;
}

.general-dropdown-content {
    right: 0;
    z-index: 1;
}
