ul.classes {
    display: flex;
    gap: 18px;
}

ul.classes span a:link {
    text-decoration: underline;
    text-underline-offset: 3px;
    ;
}

li.event {
    flex: 1 1 25%;
    display: flex;
    padding: 0;
    border-bottom: none;
    position: relative;
}

li.event:last-of-type {
    flex: 1 1 200px;
}

.event span {
    display: inline-block;
}

.event .title {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.class .date {
    color: white;
}

.event .date {
    height: 80px;
    padding-top: 14px;
    background-color: #09425A;
    color: white;
    margin-right: 12px;
}

.event .date span {
    width: 60px;
    text-align: center;
    font-weight: 100;
}

.event .date hr {
    width: 50%;
    margin: auto;
}

.event .date span.day {
    font-weight: bold;
}

.event:last-child {
    display: block;
}

.event:last-child div {
    margin: 12px 20px 0 0;
    text-align: right;
}

.event:last-child a {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

.time {
    font-weight: bold;
    white-space: nowrap;
}

@media (max-width : 1100px) {
    ul.classes {
        flex-wrap: wrap;
    }

    li.event {
        flex: 0 1 48%;
    }

    .event:last-child div {
        width: fit-content;
        padding-left: 12px;
    }
}

@media (max-width : 812px) {
    li.event {
        flex: 0 1 100%;
        padding-bottom: 24px;
    }

    li.event:last-child {
        padding-bottom: 0;
    }

    .event:last-child div {
        margin: auto;
    }
}