.events{
	height: calc(100% - 24px);
}

.event{
	display: flex;
}

li.event{
	margin: 2em 0;
	border-bottom: none;
}
.event span {
	display: inline-block;
}
.event .title {
	display: block;
}

.event .date{
    height: 70px;
    padding-top: 9px;
    background-color: #09425A;
    color: white;
    margin-right: 12px;
}

.event .date span{
	width: 60px;
    text-align: center;
    font-weight: 100;
}

.event .date hr{
	width: 50%;
	margin: auto;
}

.event .date span.day{
    font-weight: bold;
}	


a.all-classes {
    padding-top:30px;
    padding-left: 8px;
    font-weight: bold;
}


.seminar:before {
	background-color: #09425a;
}


.time {
	font-weight: bold;
	white-space: nowrap;
}