/*styles for classes on homepage*/
.event {
	margin-bottom: 15px;
	position: relative;
	z-index: 1;
	display: flex;
}
/* :before rules are about getting colored date box the same height as the .event box */
.event:before {
	content: ' ';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 17%;
	z-index: -1;
}

.event div:nth-child(2) {
	width: 73%;
    padding: 12px 0 0 12px;
}

.event div {
	display: block;
}

div.pure-g > div.event.laneclass {
    padding: 0 15px;
}

.date {
	text-transform: uppercase;
	color: white;
	padding: 0 20px 20px 0;
	width: 17%;
}

.laneclass .date {
    position: relative;
    top: 25%;
}

.laneclass:before {
	background-color: #009abb;
}

.time {
	font-weight: bold;
	white-space: nowrap;
}