/*styles for classes on homepage*/
.event {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}


/* Create class  */
.event .pure-u-5-6{
	padding-left: 12px !important;
}

.date{
    text-transform: uppercase;
    text-align: right;
    color: white;
    padding: 4px 4px 20px;
    box-sizing: border-box;
}
/* :before rules are about getting colored date box the same height as the .event box */
.event .date:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 16.6667%;
    z-index: -1;
}
.grandrounds-date:before {
    background-color: #09425a;
}
.lane-date:before {
    background-color: #009abb;
}
.time{
    font-weight: bold;
}
