.explore {
	width: 24%;
	display: inline-block;	
}


.explore section {
	background-color: #8c1515;
	display: inline-block;
	height: 60px;
	width: 60px;
	vertical-align: middle;
}

.explore div.icon span {
	display: block;
	padding-left: 17px;
	padding-top: 15px;
}

 .explore div.icon{
 	margin-left: 6px;
 }

.explore .explore-container{
	display: flex;
	align-items: center;
	
}

.explore .detail{
	 margin-left: 12px;
}   

.explore div {
	line-height: normal;
}

.explore i.fa-2x {
	color: white;
	font-size: 1.9em;
}

.explore label {
	font-size: 20px;
	font-weight: 600;
}

.explore a {
	color: black;
}

.explore a span {
	display: block;
}

