/* are these "container" classes generalizable? */
.flex-container, .flex-container-nowrap {
    display:flex;
    flex-wrap: wrap;
    position: relative;
}
.flex-container-nowrap {
    flex-wrap: nowrap;
}

.footer-link-bar {
    justify-content: center;
    background-color: #8C1515;
    white-space: nowrap;
    padding: 0 15%;
    font-size: unset;
}

.footer-link-bar a, .footer-link-bar i {
    color: #fff;
}

.footer-link-bar div {
    flex: 1 1 50%;
    display: flex;
}

.footer-link-bar span {
    padding: 1em 5%;
	margin:0 12px;
	flex: 1 1 50%;
    text-align: center;
}


.footer-copyright {
    background-color: #E3E3E3;
    font-size: smaller;
    padding: 1em 0;
    color: unset;
}

.footer-copyright div {
    flex: 0 1 15%;
    padding-left: 5%;
    white-space: nowrap;
}

.footer-copyright a {
    color: #333;
}

.footer-copyright .terms-privacy span {
    padding-right: 2em;
    white-space: nowrap;
}

.footer-organizations {
    justify-content: center;
    margin-top: 5%;
}

.footer-organizations h4::before {
    content: " ";
    position: absolute;
    width: 4em;
    border-top: 5px solid #8C1515;
    top: -5px;
}

.footer-organizations h4 {
    position: absolute;
    width: 90%;
    border-top: 1px solid #ddd;
    top: -1px;
}

.footer-organization {
    flex: 1 1 50%;
    padding: 2em 5%;
    background-color: #fff;
    position: relative;
}

.footer-organization a {
    color: black;
}

.footer-organization .brand a {
    background-size: 40%;
    font-size: unset;
    padding: 7px 0 0 100px;
}

.footer-organization .brand {
    padding-top: 0;
    margin-left: -5px;
}

.footer-organization .brand-som a {
    background-image: url('../images/som-H-logo.svg');
    height: 30px;
    background-size: 55%;
    margin-left: 5px;
    color: transparent;
}

.footer-organization .flex-container-nowrap div {
    flex: 1 1 30%;
    padding-right: 1em;
}

.footer-organization.footer-org-som:before {
    content: " ";
    position: absolute;
    left: 0;
    height: 8em;
    border-left: 1px solid #ddd;
}

.footer-organization li {
    height: 1.9em;
    white-space: nowrap;
}

.footer-organization-address li {
	height: 1.5em;
    font-size: smaller;
    opacity: 60%;
}

/* phone # gets special padding */
.footer-organization-address li:last-of-type {
    padding-top: 5px;
}

.footer-organization .social-logos {
    padding-top: 1.25em;
}

.footer-organization .social-logos a {
    padding-right: 25px;
}

.footer-organization .fa-stack-1x, .footer-organization .fa-stack-2x {
    left: unset;
    width: unset;
}

.footer-organization .fa-facebook, .footer-organization .fa-twitter {
    color: white;
    position: relative;
    left: 5px;
}

.footer-organization .fa-facebook {
    font-size: 1.7em;
    top: 3px;
}

.footer-organization .fa-twitter {
    font-size: 1.3em;
    top: -2px;
}

@media ( max-width : 600px) {
    .footer-organization-address {
       display:none;
    }
}

@media ( max-width : 428px) {
    .footer-copyright div {
        flex: 1 1 45%;
    }
    .footer-copyright .terms-privacy span {
        padding-right: 1em;
    }
    .footer-organization .social-logos {
        padding-top: 10px;
        position: absolute;
        top: 16px;
        left: 75%;
    }
} 
/* 
@media ( max-width : 915px) {
    .footer-link-bar {
        padding: 0;
    }
    .footer-organization {
        flex: 1 1 51%;
    }
} 
 */
@media ( max-width : 812px) {
    .footer-organizations h4 {
        left: 12px;
    }
}