/* are these "container" classes generalizable? */
footer {
    position: relative;
    z-index: 4;
}

footer:first-of-type {
    background-color: #FFFFFF;
}

footer:nth-of-type(2) {
    background-color: #8C1515;
}

footer:nth-of-type(3) {
    background-color: #E1E7E9;
}

.flex-container,
.flex-container-nowrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.flex-container-nowrap {
    flex-wrap: nowrap;
}

.footer-link-bar {
    background-color: #8C1515;
    padding: 7px 0;
    text-align: center;
}

.footer-link-bar a,
.footer-link-bar i {
    color: #fff;
}

.footer-link-bar i {
    font-size: 1.125em;
    padding-right: 4px;
}

.footer-link-bar div,
.footer-link-bar span {
    width: 49%;
    display: inline-block;
}

.footer-link-bar span {
    white-space: nowrap;
}

.footer-link-bar div {
    padding: 1em 0;
    width: 350px;
}

.footer-copyright {
    font-size: smaller;
    padding: 1em 0;
    color: unset;
}

.footer-copyright div {
    flex: 0 1 15%;
    padding-left: 5%;
    white-space: nowrap;
}

.footer-copyright a {
    color: #333;
}

.footer-copyright .terms-privacy span {
    padding-right: 2em;
    white-space: nowrap;
}

.footer-organizations {
    justify-content: center;
    margin-top: 3em;
}

.footer-organization:first-of-type::before {
    content: " ";
    position: absolute;
    width: 5em;
    border-top: 5px solid #8C1515;
    top: -2px;
}

.footer-organizations h4 {
    position: absolute;
    width: 90%;
    border-top: 1px solid #ddd;
    top: -1px;
}

.footer-organization {
    flex: 1 1 50%;
    padding: 2em 5%;
    background-color: #fff;
    position: relative;
}

.footer-organization a {
    color: black;
}

.footer-organization .brand a {
    background-size: 40%;
    padding: 7px 0 0 100px;
}

.footer-organization .brand {
    padding-bottom: 33px;
    padding-top: 12px;
    margin-left: -5px;
}

.footer-organization .brand-som a {
    background-image: url('../images/som-H-logo.svg');
    height: 30px;
    background-size: 55%;
    margin-left: 5px;
    color: transparent;
}

.footer-organization .flex-container-nowrap div {
    flex: 1 1 30%;
    padding-right: 1em;
}

.footer-organization.footer-org-som:before {
    content: " ";
    position: absolute;
    left: 0;
    height: 8em;
    border-left: 1px solid #ddd;
}

.footer-organization li {
    height: 1.9em;
    white-space: nowrap;
}

.footer-organization-address li {
    font-size: smaller;
    opacity: 60%;
}

/* phone # gets special padding */
.footer-organization-address li:last-of-type {
    padding-top: 5px;
}



/*social-logos like facebook, twitter, etc. */
.footer-organization .social-logos {
    display: flex;
    align-items: center;
}

.footer-organization .social-logos a {
    margin-top: 21px;
    margin-right: 12px;
}

.footer-organization .social-logos span {
    font-size: 21px;
    border-radius: 50%;
    line-height: 0;
    display: inline-block;
    padding: 6px;
    width: auto;
    height: auto;
    color: white
}

.footer-organization .social-logos a:first-child span {
    padding: 0;
    color: #1877f2;
    font-size: 33px;
}

.footer-organization .social-logos a:nth-child(2) span {
    background-color: #1DA1F2;
}

.footer-organization .social-logos a:nth-child(3) span {
    background-color: red;
}

.footer-organization .social-logos a:nth-child(4) span {
    background-color: black;
    font-weight: 600;
}



@media (max-width : 700px) {
    .footer-organization-address {
        display: none;
    }

    .footer-organization li {
        padding-left: 1em;
        padding-right: 0;
    }

    .footer-link-bar {
        padding: 7px 5%;
    }

    .footer-link-bar span {
        text-align: left;
        padding-left: 10px;
    }

    .footer-link-bar div {
        width: 100%;
    }

    footer div {
        font-size: 0.8125em;
    }

    footer .brand {
        height: 55px;
    }
}

@media (max-width : 428px) {
    .footer-copyright .terms-privacy span {
        padding-right: 1em;
    }

    .footer-organization .social-logos {
        padding-top: 10px;
        position: absolute;
        top: 16px;
        right: 6px;
    }

    .footer-organization .flex-container-nowrap div {
        width: 50%;
    }
}

@media (max-width : 360px) {

    .footer-organization .brand a,
    .footer-organization .brand a:link {
        font-size: 0.6875em;
        padding-top: 7px;
        padding-left: 71px;
    }
}