/* are these "container" classes generalizable? */
footer:first-of-type {
	background-color: #FFFFFF;
}

footer:nth-of-type(2) {
	background-color: #8C1515;
}

body:nth-child(3) footer {
	background-color: #E3E3E3;
}

.flex-container, .flex-container-nowrap {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.flex-container-nowrap {
	flex-wrap: nowrap;
}

.footer-link-bar {
	background-color: #8C1515;
	padding: 7px 0;
	text-align: center;
}

.footer-link-bar a, .footer-link-bar i {
	color: #fff;
}

.footer-link-bar i {
	font-size: 18px;
	padding-right: 4px;
}

.footer-link-bar div, .footer-link-bar span {
	width: 49%;
	display: inline-block;
}

.footer-link-bar span {
	white-space: nowrap;
}

.footer-link-bar div {
	padding: 1em 0;
	width: 350px;
}

.footer-copyright {
	font-size: smaller;
	padding: 1em 0;
	color: unset;
}

.footer-copyright div {
	flex: 0 1 15%;
	padding-left: 5%;
	white-space: nowrap;
}

.footer-copyright a {
	color: #333;
}

.footer-copyright .terms-privacy span {
	padding-right: 2em;
	white-space: nowrap;
}

.footer-organizations {
	justify-content: center;
	margin-top: 3em;
}

.footer-organization:first-of-type::before {
	content: " ";
	position: absolute;
	width: 4em;
	border-top: 4px solid #8C1515;
	top: -2px;
}

.footer-organizations h4 {
	position: absolute;
	width: 90%;
	border-top: 1px solid #ddd;
	top: -1px;
}

.footer-organization {
	flex: 1 1 50%;
	padding: 2em 5%;
	background-color: #fff;
	position: relative;
}

.footer-organization a {
	color: black;
}

.footer-organization .brand a {
	background-size: 40%;
	font-size: unset;
	padding: 7px 0 0 100px;
}

.footer-organization .brand {
	padding-bottom: 36px;
	margin-left: -5px;
}

.footer-organization .brand-som a {
	background-image: url('../images/som-H-logo.svg');
	height: 30px;
	background-size: 55%;
	margin-left: 5px;
	color: transparent;
}

.footer-organization .flex-container-nowrap div {
	flex: 1 1 30%;
	padding-right: 1em;
}

.footer-organization.footer-org-som:before {
	content: " ";
	position: absolute;
	left: 0;
	height: 8em;
	border-left: 1px solid #ddd;
}

.footer-organization li {
	height: 1.9em;
	white-space: nowrap;
}

.footer-organization-address li {
	font-size: smaller;
	opacity: 60%;
}

/* phone # gets special padding */
.footer-organization-address li:last-of-type {
	padding-top: 5px;
}

.footer-organization .social-logos {
	padding-top: 1.25em;
}

.footer-organization .social-logos a {
	padding-right: 25px;
}

.footer-organization .fa-stack-1x, .footer-organization .fa-stack-2x {
	left: unset;
	width: unset;
}

.footer-organization .fa-facebook, .footer-organization .fa-twitter {
	color: white;
	position: relative;
	left: 5px;
}

.footer-organization .fa-facebook {
	font-size: 2.0em;
	color:#1877F2;
}

.footer-organization .fa-twitter {
	font-size: 1.3em;
	top: -3px;
}

@media ( max-width : 700px) {
	.footer-organization-address {
		display: none;
	}
	.footer-organization li {
		padding-left: 1em;
		padding-right: 0;
	}
	.footer-link-bar {
		padding: 7px 5%;
	}
	.footer-link-bar span {
		text-align: left;
		padding-left: 10px;
	}
	.footer-link-bar div {
		width: 100%;
	}
	footer div {
		font-size: 13px;
	}
	footer .brand {
		height: 55px;
	}
}

@media ( max-width : 428px) {
	.footer-copyright .terms-privacy span {
		padding-right: 1em;
	}
	.footer-organization .social-logos {
		padding-top: 10px;
		position: absolute;
		top: 16px;
		left: 75%;
	}
	.footer-organization .flex-container-nowrap div {
		width: 50%;
	}
}

@media ( max-width : 360px) {
	.footer-organization .brand a, .footer-organization .brand a:link {
		font-size: 11px;
		padding-top: 7px;
		padding-left: 71px;
	}
}