
.contentForm {
    padding: 20px;
    text-align: left;
}

 .contentForm label {
    display: block;
    margin-top: .5em;
}


.feedbackText {
    padding: 9px;
    margin-bottom: .5em;
    border: solid 1px #ccc;
    outline: 0;
    font: normal 13px/100% 'Source Sans Pro', sans-serif;
    background: #ffffff;
    width: 100%;
    box-sizing: border-box;
    border-radius: 9px;
}

/* Validation */
.submitted .feedbackText:invalid{
    background-color:  #8C15151A ;
    border: 1px solid #8C15154D;
}

.submit-btn {
    text-align: center;
}


