.golfclub span span {
    box-sizing: border-box;
    display: table-cell;
    padding: 0 12px;
    vertical-align: middle;
    width: 50%;
}

.golfclub span {
    display: table-row;
    white-space: nowrap;
}

.golfclub-left:before, .golfclub-right:before {
    box-sizing: border-box;
    content: ' ';
    display: block;
    border-top: 1px #d8dbdc solid;
    height: 4px;
}

.golfclub-left:before {
    border-right: 26px #d8dbdc solid;
}

.golfclub-right:before {
    border-left: 26px #d8dbdc solid;
}
