.guide-container {
    background-color: #f0f4f5;
    padding: 24px
}

.guide-menu-toggle {
    display: block;
    color: black;
    position: relative;
    cursor: pointer;
}

.guide-menu-toggle i {
    color: black;
    position: absolute;
    right: 0px;
    margin-top: 12px;
}

.libguides div .guide, .libguides div .guide-menu-toggle.off{
    display: none;
}

.libguides div.active .guide, .libguides div.active .guide-menu-toggle.off{
    display: block;
}
 .libguides div.active .guide-menu-toggle.on{
    display: none;
 }

/* 
.libguides div.module .guide-menu-toggle.off, 
 .libguides #event-guides .guide ,
 .libguides #research-guides .guide ,
 .libguides #speciality-guides .guide ,
  .libguides #all-guides .guide {
    display: none;
}
 

 #event-guides:target div .guide-menu-toggle.off, #event-guides:target div div.guide ,
#speciality-guides:target div .guide-menu-toggle.off, #speciality-guides:target div div.guide,
#research-guides:target div .guide-menu-toggle.off, #research-guides:target div div.guide,
#all-guides:target div .guide-menu-toggle.off, #all-guides:target div div.guide
{
    display: block;
}
 
#event-guides:target div .guide-menu-toggle.on,
#speciality-guides:target  div .guide-menu-toggle.on,
#research-guides:target  div .guide-menu-toggle.on,
#all-guides:target  div .guide-menu-toggle.on
{
    display: none;
}
 */
.guide-container ul {
    padding: 24px;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    column-gap: 24px;
}

.guide-container li {
    border: none;
}

.guide.active {
    display: block;
}

.guide.hide {
    display: none;
}

@media ( max-width :812px) {
    .guide-container ul {
        columns: 1;
    }
}