/* gutter between grid divs */

.pure-g > div {
    box-sizing: border-box;
}

.pure-g > div:first-child {
    padding-right: 6px;
}

.pure-g > div:last-child {
    padding-left: 6px;
}

.pure-g > div:not(:first-child):not(:last-child) {
    padding: 0 6px;
}
