.lane-header {
    background-color: white;
    font-size: 14px;
    height: 80px;
}

h1 {
    padding-top: 18px;
}

h1 a {
    background-image: url('../images/sm-logo.svg');
    background-repeat: no-repeat;
    display: inline-block;
    color: #333333;
    font-size: 18px;
    padding: 24px 0 0 176px;
}

h1 a:active, h1 a:visited, h1 a:hover {
    color: #333;
}

.login {
    margin: 0 5%;
    position: absolute;
    right: 0;
    top: .8em;
    vertical-align: text-bottom;
}

.library-contact {
    top: 54px;
    white-space: nowrap;
    position: absolute;
    right: 0;
}

.login > li {
    display: none;
}

.library-contact > li, .login > .login-item-active {
    display: inline-block;
    padding: 0 12px;
}

.library-contact .live-chat {
    padding-left: 50px;
}
