header section {
	padding: 0 33px;
}

section.header {
	display: flex;
	padding-top: 8px;
	padding-bottom: 8px;
	justify-content: space-between;
}

section.header a {
	color: white;
	text-decoration: underline;
}

/* utility menu with login */
.login {
	line-height: 32px;
	margin: 0;
	position: absolute;
	right: 0;
}

.login>li {
	display: none;
	font-size: 16px;
	letter-spacing: .75px;
	padding: 0 25px;
}

.login>.login-item-active {
	display: inline-block;
}

.login .fa {
	font-size: 16px;
	margin-right: 2px;
}

.login a, .login a:active, .login a:visited, .login a:hover, .login .fa,
	.login a .fa {
	color: white;
}

.login>:nth-child(1) {
	background-color: #007c92;
}

.login>:nth-child(3) {
	background-color: #a65a1f;
}

.login>:nth-child(4) {
	background-color: #878787;
}

.login>:nth-child(5) {
	cursor: pointer;
	padding-left: 12px;
	position: relative;
}

.login-info {
	background-color: white;
	border: 1px black solid;
	box-sizing: content-box;
	color: #333;
	display: none;
	font-size: 14px;
	font-weight: bold;
	left: -130px;
	line-height: initial;
	padding: 23px;
	position: absolute;
	top: 40px;
	width: 250px;
	z-index: 1;
}

.login-info:after, .login-info:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
}

.login-info:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}

.login-info:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #000000;
	border-width: 16px;
	margin-left: -16px;
}

.login-info p {
	font-size: 12px;
	font-weight: initial;
	margin: 5px 22px 0 0;
}

.login>:nth-child(7):hover .login-info {
	display: block;
}

.lane-header .btn.outline{
	margin-top: 13px;
	padding: 6px 17px;
	font-size: 16px;
	text-transform: uppercase;	
	font-weight: normal;
}


/* lane header */
.lane-header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	position: relative;
}

/* Because the stanford image start with white 7 pixels */
.lane-header .brand {
	margin: 16px 0;
	margin-left: -7px;
}
.lane-header .brand a{
	display: block;
	}


.brand a, .brand a:link, .brand a:focus, .brand a:visited {
	background-image: url('../images/sm-logo.svg');
	background-repeat: no-repeat;
	background-size: 46%;
	padding: 12px 0 0 125px;
	color: #333333;
	font-weight: 400;
	text-decoration: none;
	font-size: 16px;
}