h1  {
	font-family: 'Fjord One', serif;
	color: #666666;
	font-size: 30px;
    text-align: center;
}
h2 {
    color: #333;
    font-size: 22px;
    line-height: 1.2em;
    margin-bottom: 1em;
    padding-bottom: 12px;
    border-bottom: 1px solid #d8dbdc;
    font-family: 'Fjord One', serif;
}


h3, h4 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 1em;
    padding-bottom: 12px;
    border-bottom: 1px solid #d8dbdc;
    position: relative;
}

h4:before{
    content: " ";
    position: absolute;
    width: 3em;
    border-top: 3px solid #8C1515;
    bottom: -2px;
}


h5 {
    color: #8c1515;
    font-size: 18px;
    margin: 24px 0 12px 0;
    padding: 0 12px 0 0;
}