.lane-header {
    background-color: white;
    font-size: 14px;
    height: 125px;
}

h1 {
    padding-top: 57px;
}

h1 a {
    background-image: url('../images/sm-logo.svg');
    background-repeat: no-repeat;
    display: inline-block;
    color: #333333;
    font-size: 18px;
    padding: 24px 0 0 176px;
}

h1 a:active, h1 a:visited, h1 a:hover {
    color: #333;
}

.login {
    line-height: 33px;
    margin: 0 5%;
    position: absolute;
    right: 0;
}

.login > li {
    display: none;
}

.library-contact li,
.login > .login-item-active {
    display: inline-block;
    padding: 0 12px;
}

.login a,
.login a:active,
.login a:visited,
.login a:hover,
.login .fa,
.login a .fa {
    color: white;
}

.login > :nth-child(1) {
    background-color: rgb(13,105,128);
}

.login > :nth-child(3) {
    background-color: rgb(166,90,31);
}

.login > :nth-child(4) {
    background-color: rgb(135, 135, 135);
}

.login > :nth-child(5),
.login > :nth-child(6) {
    background-color:rgb(83,83,83)
}

.login > :nth-child(5) a,
.login > :nth-child(6) a {
    color:rgb(193,193,193)
}

.login > :nth-child(7) {
    cursor: pointer;
    margin-right: 50px;
    position: relative;
}

.login > :nth-child(7) .fa,
.login > :nth-child(8) a,
.login > :nth-child(9) a {
    color: rgb(135, 135, 135)
}

.login-info {
    background-color: white;
    border: 1px black solid;
    color: black;
    display: none;
    left: -137px;
    line-height: initial;
    padding: 12px;
    position: absolute;
    top: 40px;
    width: 284px;
    z-index: 1;
}

.login-info:after, .login-info:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.login-info:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 15px;
    margin-left: -15px;
}

.login-info:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #000000;
    border-width: 16px;
    margin-left: -16px;
}

.login-info p {
    font-weight: initial;
    margin-bottom: 0;
}

.login > :nth-child(7):hover .login-info {
    display: block;
}

.library-contact {
    top: 54px;
    white-space: nowrap;
    position: absolute;
    right: 0;
}

.library-contact li {
    border: 2px #007c92 solid;
    border-radius: 6px;
    margin-left: 12px;
    padding: 12px;
    top: 56px;
}

.library-contact .fa {
    color: #007c92;
}
