.nav header {
    background-color: black;
    color: white;
    font-weight: 600;
    height: 32px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.lane-nav {
    background-color: rgb(197, 207, 209);
    box-shadow: inset 0 5px 5px -5px #000;
    position: absolute;
    top: 124px;
    width: 100%;
}

.lane-nav > ul {
    display: flex;
}

.nav-menu {
    display: inline-block;
    flex: 1 1 auto;
}

.nav-menu > span {
    color: #3c3623;
    cursor: default;
    display: block;
    font-size: 15px;
    line-height: 46px;
    text-align: center;
    white-space: nowrap;
}

.nav-menu:hover,
.nav-menu-active {
    color: #3c3623;
    background-color: white;
    box-shadow: inset 0 5px 5px -5px #000;
    border: none;
}

.nav-menu .nav-menu-content {
    border-top: none;
    left: 0;
    padding: 6px 0;
    z-index: 1;
}

.nav-menu-content li {
    width: 205px;
    padding: 6px 6px 6px 18px;
    box-sizing: border-box;
    border-bottom: solid 1px #f0f4f5;
}

.nav-menu-content li:last-child {
    border-bottom: none;
}

.nav-menu-content a {
    display: inline;
    font-weight: normal;
    color: #007c92;
    font-size: 14px;
}

.nav-menu-content a:visited {
    color: #428bca;
}

.nav-menu-content a:hover {
    color: #820000;
}

.nav-menu-content.portals {
    width: 600px;
}

.nav-menu-content.portals ul {
    column-count: 3;
    column-gap: 0;
}

.nav-menu-content.portals li {
    display: inline-block;
    width: 200px;
}
