.lane-footer,
.lane-subfooter {
    background-color: #8c1515;
}

.lane-footer {
    margin-top: 12px;
    padding-top: 17px;
}

.lane-footer .centered {
    border-bottom: 1px solid #902827;
    padding-bottom: 12px;
}
.lane-footer h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 12px;
    margin-bottom: 24px;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    background-image: none;
}

.lane-footer h3 {
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    line-height: 24px;
    text-transform: none;
    background-image: none;
}

.lane-footer li,.lane-footer h2,
.lane-footer h3 {
    border-bottom: 1px solid #902827;
}

.lane-footer a, .lane-footer a .fa {
    color: white;
}

.lane-footer li {
    font-size: 12px;
    line-height: 24px;
}

.lane-footer li:last-child {
    border-bottom: none;
}

.lane-subfooter {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    padding: 6px 0 6px;
}

.lane-subfooter,
.lane-subfooter a {
    color: #999999;
}

.lane-subfooter ul {
    float: right;
}

.lane-subfooter li {
    display: inline-block;
    padding: 3px 5px 5px 0;
}

.lane-subfooter span {
    display: none;
}

.lane-subfooter i {
    background-color: #999999;
    border-radius: 11px;
    color: #8c1515;
    height: 22px;
    line-height: 20px;
    text-align: center;
    width: 22px;
}
