#laneFooter,
#lane-subfooter {
    background-color: #8c1515;
}

#laneFooter {
    margin-top: 12px;
    padding-top: 17px;
}

#laneFooter .centered {
    border-bottom: 1px solid #902827;
    padding-bottom: 12px;
}
#laneFooter h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 12px;
    margin-bottom: 24px;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    background-image: none;
}

#laneFooter h3 {
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    line-height: 24px;
    text-transform: none;
    background-image: none;
}

#laneFooter li,#laneFooter h2,
#laneFooter h3 {
    border-bottom: 1px solid #902827;
}

#laneFooter a, #laneFooter a .fa {
    color: white;
}

#laneFooter li {
    font-size: 12px;
    line-height: 24px;
}

#laneFooter li:last-child {
    border-bottom: none;
}

#lane-subfooter {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    padding: 6px 0 6px;
}

#lane-subfooter,
#lane-subfooter a {
    color: #999999;
}

#lane-subfooter ul {
    float: right;
}

#lane-subfooter li {
    display: inline-block;
    padding: 3px 5px 5px 0;
}

#lane-subfooter span {
    display: none;
}

#lane-subfooter i {
    background-color: #999999;
    border-radius: 11px;
    color: #8c1515;
    height: 22px;
    line-height: 20px;
    text-align: center;
    width: 22px;
}
