@media (max-width : 812px) {

    .liaisons-directory .table,
    .liaisons-directory .thead,
    .liaisons-directory .header,
    .liaisons-directory .cell,
    .liaisons-directory .row {
        display: block;
    }

    .liaisons-directory .thead .header {
        display: none;
    }

    .liaisons-directory .cell {
        border: none;
    }

    .liaisons-directory .cell:first-child {
        border-left: none;
    }

    .liaisons-directory .cell:last-child {
        border-right: none;
    }

    .liaisons-directory .cell {
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 38%;
    }

    .liaisons-directory .cell:before {
        position: absolute;
        top: 6px;
        left: 6px;
        padding-right: 10px;
        white-space: nowrap;
    }


    .liaisons-directory .cell:nth-of-type(1):before {
        content: "Department";
    }

    .liaisons-directory .cell:nth-of-type(2):before {
        content: "Name";
    }

    .liaisons-directory .cell:nth-of-type(3):before {
        content: "Email";
    }

    .liaisons-directory .cell:nth-of-type(4):before {
        content: "Phone";
    }

    .liaisons-directory .row:nth-child(even) {
        background-color: #f0f4f5;
    }

}