#libguide-slide-container {
	position: relative;
	padding: 12%;
    height: 100%;
    background-color: white;
}

.libguide-slide{
  position: relative;
  overflow: hidden;
  height: 100%;
}


.slide {
    visibility: hidden;
	left:0px;
	position: absolute;
    animation-duration: 0.5s;
}



@keyframes slide-next-off {
  from {
    visibility: visible;
    margin-left: 0%;
  }
  to {
    visibility: hidden;
    margin-left: 100%;
  }
}

@keyframes slide-previous-off {
  from {
    visibility: visible;
    margin-left: 0%;
  }
  to {
    visibility: hidden;
    margin-left: -100%;
  }
}


@keyframes slide-previous {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}


@keyframes slide-next {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide.active, .slide.active-next, .slide.active-previous {
    visibility: visible;
}

.slide.active-next{
     animation-name: slide-next;
}

.slide.desactive-next{
     animation-name: slide-next-off;
}


.slide.active-previous{
     animation-name: slide-previous;
}

.slide.desactive-previous{
     animation-name: slide-previous-off;
}


.slide img{
  width: 100%;
}

#next-libguide-slide {
    right: 12px;
}

#previous-libguide-slide {
    left: 12px;
}

#previous-libguide-slide, #next-libguide-slide {
    position: absolute;
    display: block;
    top: 270px;
    cursor: pointer;
    color: black;
}

.s-lib-cpane-caption{
	margin-top: 18px;
}
