.libguide-slide-container {
	margin-top: 24px;
	padding: 25px;
	position: relative;
}

.slide {
	padding: 0px 18px 21px 18px;
	display: none;
}

.slide.active {
	display: block;
}

.slide img{
  width: 100%;
  padding:0 5% 10% 5%;
}

#next-libguide-slide {
	right: 12px;
}

#previous-libguide-slide {
	left: 12px;
}

#previous-libguide-slide, #next-libguide-slide {
	position: absolute;
	display: block;
	top: 250px;
	cursor: pointer;
	color: black;
}