/*---------------lightbox positioning-------------------------------------------------------*/
.lightbox {
    position: fixed;
    z-index: 6;
    margin-top: 13px;
}

.lightbox-content {
    position: relative;
}

.lightboxbg {
    position: fixed;
    background-color: black;
    opacity: .75;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
}

.lightbox, .lightboxbg {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

body.lightbox-active .lightbox,
body.lightbox-active .lightboxbg {
    visibility: visible;
}

body.lightbox-active .lightbox {
    opacity: 1;
}

body.lightbox-active .lightboxbg {
    opacity: .75;
}