/*---------------lightbox positioning-------------------------------------------------------*/
.lightbox {
    position: fixed;
    z-index: 5;
    margin-top: 13px;
}

.lightbox-hidden,
.lightboxbg-hidden,
.autoLightbox {
    visibility: hidden;
}

.lightbox-content {
    position: relative;
}

.lightboxbg {
    position: fixed;
    background-color: black;
    opacity: .75;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
}