/* these are the default list styles */
ol li {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0;
    font-size: 1em;
}


.content li {
    padding: 12px 0;
    font-size: 1em;
}

.content li:last-child {
    border-bottom: none;
}

.content .bulleted-list li,
.content ol li {
    border-bottom: none;

}

.bulleted-list,
ol {
    margin-left: 6px;
}

.bulleted-list {
    font-size: 1em;
    list-style-type: disc;
    padding: 0 0 20px 20px;
}


.links-list {
    padding-top: 18px 0;
}

.links-list li {
    margin: 12px 0;
    padding-bottom: 12px;
    border-bottom-color: #D5DADC;
}

.links-list li a:first-child {
    font-size: 1em;
    margin-right: 0.375em;
}


.links-list li a:first-child:after {
    content: "\f061";
    font-size: 1em;
    font-family: FontAwesome, Arial, sans-serif;
    margin-left: 6px;
    display: inline-block;
}