/* these are the default list styles */
ol li{
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 16px;
}

.content li{
    border-bottom: solid 1px #f0f4f5;
    padding: 6px 0;
    font-size: 16px;
}

.content li:last-child{
    border-bottom: none;
}

.bulleted-list{
    font-size: 16px;
    list-style-type: disc;
    padding: 0 0 20px 20px;
}

.bulleted-list li{
    border-bottom: none;
    padding: 0;
}
