#persistent {
    width: 991px;
    box-sizing: border-box;
    margin: 50px 0 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0;
}

#persistent .header {
    background-color: #aabec6;
    height: 90px;
}

#persistent .header span {
    display: inline-block;
    width: 250px;
    height: 70px;
    background-position: -355px -18px;
    background-image: url('../images/organizations-logos-large.png');
    background-repeat: no-repeat;
}

#persistent .is-persistent {
    text-align: left;
    margin-top: 35px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
    visibility: hidden;
}

#persistent .is-persistent input {
    margin-right: 3px;
}

#persistent h4 {
    margin: 0 30px 0 30px;
}

#shibboleth-links {
    margin-top: 41px;
    color: grey;
}

#shibboleth-links .organization {
    padding: 18px;
    margin-bottom: 24px;
}

#shibboleth-links .organization li {
    display: inline-block;
    border-bottom: none;
    padding: 3px 6px;
    margin-bottom: 20px;
}

#shibboleth-links .organization a {
    display: block;
    border: 1px solid #ddd;
    padding: 12px 3px 12px 3px;
    background-color: white;
}


#shibboleth-links .organization span {
    display: inline-block;
    width: 170px;
    height: 50px;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url('../images/organizations-logos-large.png');
}

#Stanford span {
    background-position: -22px -272px;
}

#SHC span {
    background-position: -218px -272px;
}

#UHA span {
    background-position: -407px -272px;
}

#LPCH span {
    background-position: -598px -272px;
}

#PCHA span {
    background-position: -784px -272px;
}

#persistent .help {
    font-size: 13px;
    position: absolute;
    right: 24px;
    top: 129px;
}

#persistent #login {
    position: inherit;
}
