html {
    background-color: #f0f4f5;
    scroll-behavior: smooth;
}

header section,
footer section,
.content {
    margin: auto;
}


header section,
footer section,
.content,
.no-search-content>div:not(.ankle-footer),
.content div.centered div.service-page {
    max-width: 1800px;
    margin: auto;
}

.landing-page-container>.basic-container>* {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.su-design .content {
    max-width: none;
}

header:first-of-type {
    background-color: #8c1515;
    color: white;
}

header:nth-of-type(2) {
    background: white;
}


.content {
    color: black;
    position: relative;
}

.module.sticky,
.sticky {
    position: sticky;
    top: 80px;
}