html {
	background-color: #f0f4f5;
	scroll-behavior: smooth;
}

header section, footer section, .content{
	max-width: 1700px;
	margin: auto;	
}


header:first-of-type{
 	background-color: #8c1515;
 	color: white;
 }

header:nth-of-type(2){
	background: white;
}


.content {
	color: black;
	position: relative;
}

.module.sticky,.sticky{
    position: sticky;
    top: 80px;
}

