.menu-container {
    margin: 24px 0 24px;
    font-family: 'Fjord One', serif;
    position: relative;
}

.menu-container h3 {
    font-size: 24px;
    letter-spacing: 1px;
    background-color: #8c1515;
    color: white;
    padding: 4em 1.5em .5em 1.5em;
    margin: 0;
    line-height: 130%;
}
.menu-container h3:before{
	border: none;
}


.menu li {
    padding: 0;
    border-bottom: none;
}

.menu a {
    background-color: #fff;
    border-bottom: 2px solid #f0f4f5;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: .5px;
    padding: 1em 1em 1em 2em;
    color: #333;
}

.menu .fa {
    color: white;
    float: right;
}

.menu a:hover, .menu .menuitem-active /*, .menu ul .menuitem-active:hover*/ {
    background-color: #666;
    color: #fff;
}



/*
.menu ul {
    border-top: none;
}

.menu ul a {
    background-color: #707070;
    padding: 6px 22px 6px 13px;
    border-bottom: none;
}

.menu ul ul a, .menu ul ul .menuitem-active {
    background-color: #dddddd;
    color: #333333;
}

.menu ul ul a:hover {
    color: white;
}

.menu ul .menuitem-active {
    font-weight: 600;
    background-color: #707070;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
}

.submenu.submenu-active {
    max-height: 250px;
}*/
