.menu-container {
    margin: 12px 0 24px;
}

.menu-container h3 {
    font-size: 22px;
    letter-spacing: 1px;
    background-color: #8c1515;
    color: white;
    text-transform: uppercase;
    padding: 60px 13px 48px;
    margin: 0;
    background-image: none;
}

.menu {
    border-top: 12px solid #8c1515;
}

.menu li {
    padding: 0;
    border-bottom: none;
}

.menu a {
    background-color: #333;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0px, rgba(0, 0, 0, 0) 100%);
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding: 9px 20px 9px 13px;
}

.menu .fa {
    color: white;
}

.menu a:hover {
    background-color: #555;
}

.menu .menuitem-active {
    background-color: #707070;
}
