.menu-container li {
    border: none;
    padding: 0;
    margin: 0;
}

.menu-container li a {
    display: inline-block;
    width: 100%;
    padding: 9px 24px;
}

.menu-container.hoverline li a:hover{
    color: white;
    background-color: #666;
    text-decoration: none;
}

.menu-container li a.menuitem-active, .menu-container li a:hover.menuitem-active {
    background-color: #8c1515;
    color:white;
    cursor: default;
    text-decoration: none;
}

.menu-container  h2 i {
    float: right;
    padding: 11px 7px;
    display: none;
}

.sticky-menu {
    position: sticky;
    top: 80px;
}

@media ( max-width :1100px) {
    .menu-container.mobile {
        padding: 0;
        margin: 24px 32px 0;
    }
    .menu-container, .menu-container h2 i:first-of-type, .menu-container.active h2 i:nth-of-type(2)
        {
        display: block;
    }
    .menu-container.mobile  ul, .menu-container.active h2 i:first-of-type {
        display: none;
    }
    .menu-container.active ul {
        display: block;
        margin: 16px;
    }
    .menu-container.mobile h2{
        padding: 16px;
    }
    .menu-container.mobile h2, .menu-container.mobile h2:before {
        margin-bottom: 0;
        border: none;
        cursor: pointer;
    }
}