.module {
    margin-top: 24px;
    padding: 12px;
    box-sizing: border-box;
    line-height: 1.6em;
    background-color: white;
    position: relative;
}

.module:after,.module .after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.module fieldset{
	padding: 0px;
}

.core-covers .bookcover,
.core-covers-3 .bookcover,
.module-img {
    margin-right: 1em;
}

.core-covers-3 .bookcover,
.core-covers-3 .module-img {
    float: left;
}

.core-covers-3 img {
    height: 81px;
    width: 59px;
}

.core-covers .fa-book,
.core-covers-3 .fa-book {
    font-size: 72px;
}

.core-covers .fa-newspaper-o,
.core-covers-3 .fa-newspaper-o {
    font-size: 59px;
}

/* book covers in 2 columns*/
.core-covers {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 1em 13px 0;
    vertical-align: top;
    width: 50%;
}

/* book covers in 3 columns*/
.core-covers-3 {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 1em 13px 0;
    vertical-align: top;
    width: 33%;
}

.landing {
    padding: 0;
}

.landing img, .landing iframe {
    vertical-align: bottom;
    width: 100%;
}

.landing h3 {
    color: white;
    background-color: #09425a;
    background-image: none;
    margin-bottom: 0;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 19.8px;
}

.landing h3 a {
    color: white;
}

.landing-content {
    padding: 12px;
}

.grand-rounds, .upcoming-classes {
    margin-top: 24px;
    padding: 12%;
}

.grand-rounds h3, .upcoming-classes h3 {
    text-transform: uppercase;
    font-family: 'Fjord One', serif;
    color: #333333;
    text-align: center;
    background-image: none;
}


.staff-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* modules on contacts/staff-dir.html */
.staff-list .module {
	flex: 1 1 auto;
    height: 198px;
    width: 450px;
    max-width: 450px;
    margin: 12px 6px 0;
}

.staff-list h4 {
    font-size: 16px;
}

@media ( max-width : 812px) {
	.staff-list .module{
  		display: block;
   	 	max-width: none;
   	 	height: auto;
   	 	margin: 7px 0;
	}
	.staff-list img.scaled-image{
		max-width: 110px;
	}
	
	.grand-rounds, .upcoming-classes {
	    padding: 6px;
		min-height: inherit;		    
	}
}

