#nav{
	background-color: #333;
    font-family: 'Fjord One', serif;
    color: white;
}

#main-nav{
	display: flex;
	margin: 0 5%;
}

.nav-menu{
	flex: 1 1 auto;
}

.nav-menu >  a, .nav-menu > a:visited{
    color: white;
    display: block;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 21px;
    padding-top: 21px; 
    font-family: 'Fjord', serif;
}

.nav-menu:hover, .nav-menu-active, .pure-menu-active > .pure-menu-link, .pure-menu-link:hover,  .pure-menu-link:focus	 {
    color: white;
    background-color: #8c1515;
    border: none;
}

.nav-menu .nav-menu-content {
    border-top: none;
    left: 0;
    padding: 12px 0 24px 14px;
    z-index: 1;
}

.nav-menu > i.fa-caret-down {
    text-align: center;
    display: block;
    margin-top: -20px;
    color: #999999;
}

.nav-menu:hover > i.fa-caret-down::before,
.nav-menu-active > i.fa-caret-down::before {
    color: #ffffff;
}

.nav-menu-content {
	 font-family: 'Source Sans Pro', sans-serif;
}

.nav-menu-content li {
    width: 300px;
    border-bottom: solid 1px #f0f4f5;
    padding: 6px 0;
    font-size: 16px;
}

.nav-menu-content a {
    display: inline;
    font-weight: normal;
    color: #007c92;
    font-size: 16px;
    padding: 0px;
    
}

.nav-menu-content a:visited, .nav-menu-content a:focus {
    color: #428bca;
    background-color: white;
}

.nav-menu-content a:hover {
    color: #820000;
    background-color: white;
  
}

#portals {
	column-count: 3;
	column-gap: 0;
	white-space: normal;
	width: fit-content;
}

#portals li.pure-menu-item.pure-menu-item {
	display: flex;
	 width: 200px;
}
