/*news feed from the blog on homepage*/


.newsfeed{
	margin-top: 24px;
	line-height: 1.6em;
    box-sizing: border-box;
    background-color: white;
    padding: 5%;
}

.newsfeed figure img{
	 width:100%;
	 border-bottom: 1px solid black;
}


.newsfeed section{
	padding:0 12px 12px 0;
} 

.newsfeed-title {
	padding:12px 0;
	min-height: 75px;
    font-size: 18px;
}

.newsfeed header{
	padding: 5px 10px; 
	color: WHITE;
	background-color: #53284F;
	position: absolute;
	margin-left: -51px;
	margin-top: -10px;
	font-size: 18px;
}

.newsfeed header:before {
    content:'';
    border-top: 10px solid #311b31;
    position: absolute;
    bottom: -10px;
    border-left: 7px solid transparent;
    margin-left: -10px;
}

.newsfeed header:after {
    content: '';
    position: absolute;
    right: -25px;
    border-bottom: 35px solid transparent;
    border-left: 25px solid #53284F;
    width: 0;
    margin-top: -5px;
}

.newsfeed.highlighted {
    padding: 0 5%;
}

.newsfeed.highlighted .newsfeed-title {
    min-height: unset;
}

