/*news feed from the blog on homepage*/
.blog {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.newsfeed {
	line-height: 1.6em;
	box-sizing: border-box;
	background-color: #f0f4f5;
	position: relative;
	padding-bottom: 12px;
	width: 32%;
}

.newsfeed  img {
	max-width: 100%;
	vertical-align: middle;
}

.newsfeed section {
	padding: 12px;
}

.newsfeed-title {
	margin-top: 6px;
	padding: 12px;
	font-size: larger;
	font-weight: 600;
	padding-bottom: 50px;
}

.newsfeed .read-more {
	font-weight: 600;
	position: absolute;
	bottom: 9px;
	left: 13px;
}

.newsfeed-title.hightlighted-news {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media ( max-width : 812px) {
	.newsfeed {
		width: 100%;
	}
	.newsfeed:not(:first-of-type) {	
		margin-top: 24px;
	}	    
}