.no-search-content {
    background: url('../images/linear-gradient-bkgrd.jpg') no-repeat;
    background-size: 100% 1050px;
    padding: 88px 7% 24px;
}


/* needed because the the right colunm jump when the font size changed at 1500px */
.no-search-content>h3 {
    height: 30px;
}

.no-search-content .search-container {
    margin-top: 54px;
    margin-bottom: 82px;
    margin-left: auto;
    position: relative;
}

.no-search-content .search-form {
    width: 70%;
}

.no-search-content .search-reset {
    top: 58px;
}

.no-search-content .search-help-link {
    text-align: center;
    padding-top: 10px;
}

.no-search-content .right-col {
    margin-top: 213px;
}

.no-search-content input {
    width: 100%;
}

.no-search-content .search-container .search-button {
    top: 61px;
    left: 15px;
}


.no-search-content .popular-book-eresources li {
    flex: 50%;
}