#resources-header{
    text-align: center;
    margin-top: 12px;
}
#resources-header a{
    font-size: 16px;
}
.browseTabs{
    background-color: #c1c1c1;
    padding: 12px 22px;
    position: relative;
    margin-bottom: 12px;
}
.browseTabs li{
    border-bottom: 0;
    display: inline-block;
    padding: 0;
}
.browseTabs li:before{
    position: absolute;
    margin-left: -1px;
    top: 13px;
}
.browseTabs li:first-child:before{
    content: '';
}
.browseTabs:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.browseTabs a{
    display: inline-block;
    width: 35px;
}
.browseTabs a.disabled {
    color: #666;
}
.eresources{
    margin: 12px 0 0;
    padding-bottom: 4px;
}

.eresources-browse{
	margin-top: 24px;
}
.eresources-browse fieldset{
	padding-top:0; 
}

.eresources-browse .module {
    background-color: transparent;
}

.resource:after {
  content: '';
  display: table;
  clear: both;
}
