#resources-header{
    text-align: center;
    margin-top: 12px;
}
#resources-header a{
    font-size: 16px;
}
.browseTabs{
    background-color: #c1c1c1;
    padding: 12px 22px;
    position: relative;
    margin-bottom: 12px;
}
.browseTabs li{
    border-bottom: 0;
    display: inline-block;
    padding: 0;
}
.browseTabs li:before{
    position: absolute;
    margin-left: -1px;
    top: 13px;
}
.browseTabs li:first-child:before{
    content: '';
}
.browseTabs:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.browseTabs a{
    display: inline-block;
    width: 35px;
}
.browseTabs a.disabled {
    color: #666;
}
.eresources{
    margin: 12px 0 0;
    padding-bottom: 4px;
}

.content .resource {
    padding: 12px 0;
}

.search-results .content .resource {
    padding: 12px;
    margin: 10px 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12),0 2px 4px 0 rgba(0,0,0,.24);
    border-radius: 4px;
    background-color: #fff;
}

.resource:after {
  content: '';
  display: table;
  clear: both;
}
