.popups {
    display: none;
}

.popup {
    z-index: 2;
    position: absolute;
}

.popup-hidden {
    visibility: hidden;
}

.popup-content {
    border-radius: 3px;
    background-color: white;
    padding: 20px;
    text-align: left;
    border: 1px solid #9e9d98;
    max-width: 500px;
    cursor: move;
}

.popup-content .widget-hd {
    color: #820000;
    font-size: 1.8em;
    letter-spacing: .05em;
    line-height: 1.2em;
    margin-bottom: .2em;
}

.popup-content .widget-bd {
    font-size: 1em;
    line-height: 1.6em;
}