.portal .module{
	padding: 12px;
}
.portal .module h4 {
    color: white;
    background-color: #09425a;
    background-image: none;
    font-size: 18px;
    line-height: 19.8px;
    margin: -12px -12px 6px;
    padding: 10px 12px;
}

.portal .module h4:after {
    content: none;
}

.portal .module h4:before {
	border: none;
}


.portal .module h4 a {
    color: white;   
}

.portal .popular {
	background-color: transparent;
    border: none;
    padding: 0;
    height: auto;
    margin-top: 24px;
}

.portal .popular:before {
    content: none;
}

.portal .popular  div,
.portal .popular h3 {
    background-color: #a95a10;
}

.portal .popular h3 {
    border-bottom: 1px white solid;
    margin-bottom: 0;
    padding: 6px;   
}

.portal .popular  div  div {
    border-bottom: 1px white solid;
 }

.portal .popular a {
	color: white;
    box-sizing: border-box;
    display: inline-block;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.portal .popular a:nth-child(odd) {
    border-right: 1px white solid;
}

.portal .popular a:nth-child(even) {
    border-left: 1px white solid;
    margin-left: -1px;
}

.portal .business-card {
    background-color: white;
    border: 10px #666666 solid;
    padding: 0;
}

.portal .business-card h3 {
    background-color: #666666;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;    
}

.portal .business-card h3:before {
	border: none;
}
.portal .business-card > div {
    background-color: white;
    color: black;
    margin: 12px;
}

.portal .business-card a,
.portal .business-card a .fa {
    color: #007c92;
}

.portal .business-card p {
    color: black;
    padding: 6px;
}




@media ( max-width : 1100px) {
   
    .portal .content {
        margin: 0 6px;
    }
  
}
	
	

	