
.portal .module h4 {
    color: white;
    background-color: #09425a;
    background-image: none;
    font-size: 1.125em;
    line-height: 19.8px;
    margin: -12px -12px 6px;
    padding: 10px 12px;
}

.portal .module h4:after {
    content: none;
}

.portal .module h4:before {
	border: none;
}


.portal .module h4 a {
    color: white;   
}

.portal .popular {
	background-color: transparent;
    border: none;
    padding: 0;
    height: auto;
    margin-top: 24px;
}

.portal .popular:before {
    content: none;
}

.portal .popular  div,
.portal .popular h3 {
    background-color: #a95a10;
}

.portal .popular h3 {
    border-bottom: 1px white solid;
    margin-bottom: 0;
    padding: 6px;   
}

.portal .popular  div  div {
    border-bottom: 1px white solid;
 }

.portal .popular a {
	color: white;
    box-sizing: border-box;
    display: inline-block;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.portal .popular a:nth-child(odd) {
    border-right: 1px white solid;
}

.portal .popular a:nth-child(even) {
    border-left: 1px white solid;
    margin-left: -1px;
}
