* {
  margin: 0;
  padding: 0;
}

html,
body {
width: 100%;
}

body {
    font-size: 1em;
    line-height: 1.231;
}

ol, ul {
    list-style: none;
}

fieldset {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
