 
html{
	box-sizing: border-box;
}

*,*:before,*:after{
	box-sizing: inherit; 	
}

img{
	max-width: 100%;
} 
 
.menu-toggle {
    background-color: white;
    display: none;
    font-size: 42px;
    line-height: 75px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100px;
}


.menu-toggle .fa {
    color: black;
}

.menu-toggle-on {
    right: 20px;
}

.menu-toggle-off {
    right: 275px;
}

@media ( max-width : 426px) {
    .lane-header {
        padding-top: 0;
    }
    h1 {
        height: 77px;
        padding-top: 17px;
    }
    .menu-toggle-on {
        display: block;
    }
    .search-form {
        margin-top: 0;
    }
    nav,.utility-menu, .footer-link-bar, .super-footer {
        display: none;
    }
    nav {
        z-index: 1;
    }
    #nav:target {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        
    }
    #nav:target .menu-toggle-off {
        display: block;
    }
    nav header {
        height: auto;
        position: static;
    }
    nav a {
        color: white;
    }
   .login, #lane-nav, .favorites .dropdown-content {
        background-color: #666;
        background-image: url('../images/diag.png');
    }
    .login {
        border-bottom: 1px solid #878787;
        box-sizing: border-box;
        line-height: normal;
        margin: 0;
        padding: 14px 36px 18px 26px;
        position: static;
        width: 275px;
    }
    .login > .login-item-active {
        display: list-item;
        margin-bottom: 12px;
        padding: 0;
        text-align: center;
    }
    .login > .login-item-active:nth-child(7) {
        display: none;
    }
    .login > :nth-child(2) {
        line-height: initial;
        padding: 10px 0;
        text-align: left;
    }
    .login > :nth-child(8) {
        border: 1px solid #878787;
        margin-left: 0;
    }
    .login > li a {
        display: block;
    } 
    .favorites .dropdown-content {
        background: linear-gradient(rgb(21,21,21), rgb(81,81,81));
        box-sizing: border-box;
        left: 0;
        right: auto;
        text-align: left;
        width: 100%;
    }
    #lane-nav {
        box-shadow: none;
       
        display: grid;
    }
    #lane-nav .centered {
        margin: 0;
    }
    .nav-menu {
        display: list-item;
    }
    .nav-menu > span {
        color: white;
        font-size: 20px;
        padding-left: 28px;
        text-align: left;
    }
    .nav-menu:hover,
    .nav-menu-active {
        color: inherit;
        background-color: inherit;
        box-shadow: none;
    }
    .nav-menu .nav-menu-content {
        left: auto;
        right: 0;
    }
    .nav-menu-content {
        background: linear-gradient(rgb(21,21,21), rgb(81,81,81));
        border: none;
        width: 100%;
    }
    .nav-menu-content.portals {
        width: 375px;
    }
    .nav-menu-content li {
        border-bottom: none;
    }
    .nav-menu-content.portals ul {
        column-count: 2;
    }
    .nav-menu-content a:hover,
    .nav-menu-content a:visited,
    .nav-menu-content .fa,
    .nav-menu-content h5 {
        color: white;
    }
}

@media ( max-width : 426px) {
    html, .centered {
        margin: 0;
        min-width: 0;
    }
    .brand a, .brand a:link, .brand a:focus, .brand a:visited{
        background-image: url('../images/sm-logo.svg');
        background-size:129px;
        padding:17px 0px 0px 134px;
        font-size: 14px;
    }
    .menu-toggle-on {
        right: 0;
    }
    .lane-header {
        height: 186px;
    }
    .library-contact {
        display: block;
        left: 0;
        top: 70px;
    }
    
    .library-contact li {
        box-sizing: border-box;
        margin-bottom: 12px;
        text-align: center;
    }
    .library-contact li,
    .library-contact li {
        margin-left: 10%;
        width: 35%;
    }
   
}


