html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

.custom-wrapper {
	z-index: 1;
	
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	transition: height 0.5s;
}

.custom-wrapper.open {
	display: block;
	position: absolute;
	top: 32px;
	width: 66%;
	right: 0px;
}

.menu-toggle.open {
	top: 0px;
	right: 66%;
}

.menu-toggle {
	top: -32px;
	right: 0px;
	position: absolute;
	display: none;
	background-color: grey;
	padding: 9px;
	z-index: 2;
}

.menu-toggle span, .menu-toggle i{
	color: white;
	display: block;
}

.menu-toggle i {
	font-size: 32px;

}

@media ( max-width : 768px) {
	.menu-toggle {
		display: block;
	}
	.custom-wrapper {
		display: none;
		margin-top: 0px;
		-webkit-font-smoothing: antialiased;
	}
	#main-nav {
		display: contents;
	}
	.nav-menu>a, .nav-menu>a:visited {
		text-align: left;
	}
	.login {
		position: relative;
	}
	.login>li:nth-child(8), .footer-logos {
		display: none;
	}
	html, .centered {
		margin: 0;
		min-width: 0;
	}
	.lane-header {
		height: 186px;
	}
	.brand {
		padding-top: 15px;
	}
	.nav-menu-content li {
		border-bottom: none;
	}
	#portals {
		column-count: 1;
		width: 100%
	}
	.library-contact {
		display: block;
		left: 0;
		top: 70px;
	}
	.library-contact li {
		margin-bottom: 12px;
		text-align: center;
	}
	.library-contact li, .library-contact li {
		margin-left: 10%;
		width: 35%;
	}
	.pure-menu-allow-hover:hover>.pure-menu-children, .pure-menu-active>.pure-menu-children
		{
		position: relative;
	}
	.pure-md-hide {
		display: none;
	}
}