html, .centered {
    min-width: 0;
}

a .fa-bars {
    color: black;
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
}

@media ( max-width : 978px) {
    .lane-header {
        padding-top: 0;
    }
    h1 {
        height: 77px;
        padding-top: 17px;
    }
    .nav, .library-contact, .lane-footer, .som-footer {
        display: none;
    }
    #nav:target {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav header {
        height: auto;
        position: static;
    }
    .nav a {
        color: white;
    }
    .login, .lane-nav, .favorites .dropdown-content {
        background-color: #666;
        background-image: url('../images/diag.png');
    }
    .login {
        box-sizing: border-box;
        line-height: 48px;
        margin: 0;
        padding: 14px 36px 12px 26px;
        position: static;
        width: 275px;
    }
    .login > .login-item-active {
        display: list-item;
        margin-bottom: 12px;
        padding: 0;
        text-align: center;
    }
    .login > .login-item-active:nth-child(7),
    .login > .login-item-active:nth-child(8) {
        display: none;
    }
    .login > :nth-child(9) {
        border: 1px solid #878787;
    }
    .login > li a {
        display: block;
    }
    .favorites .dropdown-content {
    }
    .lane-nav {
        box-shadow: none;
        position: static;
        z-index: 2;
    }
    .lane-nav .centered {
        margin: 0;
    }
    .lane-nav ul {
        display: block;
    }
    .nav-menu {
        display: list-item;
    }
    .nav-menu:hover {
        background-color: #666;
        color: white;
    }
    .nav-menu span, .nav-menu a {
        color: white;
        padding: 0 21px;
        text-align: left;
        text-transform: uppercase;
    }
    .search-form {
        margin-top: 0;
    }
    a .fa-bars {
        display: inline-block;
    }
}

@media ( max-width : 426px) {
    h1 a {
        background-image: url('../images/sm-logo2.svg');
        padding: 10px 0 10px 50px;
    }
}
