.search-results .content {
    margin-top: 0;
}

.tooltips, .popin>div, #search-content-counts, #showPubMedStrategies {
    display: none;
}

.lwSearchResults li {
    border-bottom: solid 1px #dddddd;
}

.primaryLink {
    font-size: 1.125em;
}

.primaryType {
    text-transform: uppercase;
    color: #666;
    display: list-item;
}

.popin #spellCheck{
    position: absolute;
    left: 40%;
    top: 36px;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popInLabel {
    color: #8c1515; 
}

#spellCheck .popInLabel {
    padding-right: 6px;
}

.resource div.resource-detail {
    width: 100%;
}

.resource .bookcover-container {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 18px 0;
    margin-left: 24px;
    min-width: 90px;
}

.resource .bookcover i {
    font-size: 5.375em;
}

.resource img {
    height: 112px;
    width: 80px;
}

/* abstract and description related styles*/
.description {
    display: none;
    position: relative;
    background-color: #F0F4F5;
    padding: 12px;
}

.descriptionTrigger {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    background-color: #F0F4F5;
    padding: 12px;
}

.descriptionTrigger a, .descriptionTrigger i {
    color: black;
}

.descriptionTrigger i {
    float: right;
    margin-top: 5px;
}

li.active .descriptionTrigger {
    background-color: #F0F4F5;
    padding: 12px;
    border-bottom-color: #f2f3ed;
    display: inline-block;
    position: relative;
    z-index: 1;
}

li.active .description {
    display: block;
}

.hldgsContainer, .resultInfo {
    margin-top: 15px;
}

.hldgsContainer .fa-angle-up, .hldgsContainer table, .hldgsContainer.active .fa-angle-down
    {
    display: none;
}

.hldgsContainer.active .fa-angle-up {
    display: inline-block;
}

.hldgsContainer.active table, .hldgsContainer table.active {
    display: block;
}
/* rightSearchTips used on clinical/peds search */
.rightSearchTips {
    padding: 0 12px;
    white-space: nowrap;
}

.rightSearchTips .heading {
    font-weight: bold;
    padding: 10px 0 5px;
    border-bottom: solid 1px #909090;
    margin-bottom: 4px;
}

.rightSearchTips ul {
    padding-left: 0;
}

.content .rightSearchTips li {
    padding: 3px 0 2px;
    border-bottom: none;
}

.authors-hide {
    display: none;
}

.authorsTrigger {
    cursor: pointer;
    padding: 1px 5px;
    border: 1px solid #ccc;
}

.sourceInfo {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 6px 40px;
    padding-top: 10px;
    align-items: center;
}

.requestIt a {
    padding: 1px 5px;
    font-size: unset;
}

.permalink .fa-check {
    color: green;
}

.lwSearchResults .resource {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 12px;
    margin: 10px 0;
}

.lwSearchResults .resource:first-of-type {
    padding-top: 0;
}

.lwSearchResults .citation {
    font-style: italic;
    opacity: .90;
}

.hldgsContainer table {
    display: none;
    padding: 18px 0;
}

.hldgsContainer thead {
    background: #aabec6;
    color: #000000;
}

.hldgsContainer th {
    vertical-align: middle;
}


.hldgsContainer td, .hldgsContainer td:first-child {
    background: #f0f4f5;
    border-right: unset;
    border-bottom: 1px solid #ffffff;
    padding-right: 50px;
}

.hldgsContainer td:last-child {
    padding-right: 10px;
}

.hldgsContainer td span, .versionText {
    padding-right: 10px;
}

.versionText {
    opacity: 0.75;
}

.requestIt {
    padding: 10px;
}

.requestIt .btn {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .12), 0 5px 5px 0
        rgba(0, 0, 0, .24);
    font-weight: normal;
}

.hldgsHeader {
    padding-right: 15px;
    display: inline-block;
    min-width: 140px;
}

.hldgsHeader.available {
    color: #498433;
}

.hldgsHeader.unavailable {
    color: #C74632;
}

.hldgsHeader .fa-solid, .hldgsHeader .fa-regular, .hldgsHeader .fa-light
    {
    padding-right: 6px;
    color: #AEBDC5;
}

.hldgsHeader .fa-light.fa-book {
    padding-right: 9px;
}

.fa-link-horizontal {
    color: #666;
}

.hldgsTrigger {
    cursor: pointer;
}

.more-detail-container {
    position: absolute;
    top: 4px;
    right: 15px;
    min-width: 213px;
}

.more-detail-container div.sourceInfo {
    display: none;
}

.more-detail-container:hover div.sourceInfo {
    display: block;
    background-color: #F0F0F0;
    margin-top: 8px;
    padding: 12px 6px;
    z-index: 2;
}

.more-detail-container div.sourceInfo div {
    padding: 12px
}

.more-detail-container div.sourceInfo i, .hldgsContainer .fa-arrow-up-right-from-square
    {
    margin-right: 12px;
    border-radius: 50%;
    padding: 7px;
    background-color: #007c92;
    color: white;
}

.more-detail-container .fa-ellipsis {
    float: right;
}

@media
(
max-width
:
1100px)
{
.resource .bookcover {
    display: none;
}

.lwSearchResults .resource {
    display: block;
}

.more-detail-container {
    top: 25px;
    right: 9px;
}
}