.search-results .content {
    margin-top: 0;
}

.tooltips {
    display: none;
}

.popin>div {
    visibility: hidden;
}

.lwSearchResults li {
    border-bottom: solid 1px #dddddd;
}

.primaryLink {
    font-size: 1.125em;
}

.primaryType {
    text-transform: uppercase;
    color: #666;
    display: list-item;
}

.popin .spellCheck {
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    max-width: calc(100% - 400px);
    margin-top: 3px;
    margin-bottom: -28px;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popInLabel {
    color: #8c1515;
}

.spellCheck .popInLabel {
    padding-right: 6px;
}

.resource div.resource-detail {
    width: 100%;
}

.resource .bookcover-container {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 42px;
    margin-left: 24px;
    min-width: 90px;
}

.resource .bookcover i {
    font-size: 5.375em;
}

.resource img {
    height: 112px;
    width: 80px;
}

/* abstract and description related styles*/
.description {
    display: none;
    position: relative;
    background-color: #F0F4F5;
    padding: 12px;
}

.descriptionTrigger {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    background-color: #F0F4F5;
    padding: 12px;
}

.descriptionTrigger a, .descriptionTrigger i {
    color: black;
}

.descriptionTrigger i {
    float: right;
    margin-top: 5px;
}

li.active .descriptionTrigger {
    background-color: #F0F4F5;
    padding: 12px;
    border-bottom-color: #f2f3ed;
    display: inline-block;
    position: relative;
}

li.active .description {
    display: block;
}

/* rightSearchTips used on clinical/peds search */
.rightSearchTips {
    padding: 0 12px;
    width: max-content;
}

.rightSearchTips span {
    float: right;
    padding-left: 12px;
}

.rightSearchTips .heading {
    font-weight: bold;
    padding: 10px 0 5px;
    border-bottom: solid 1px #909090;
    margin-bottom: 4px;
}

.rightSearchTips ul {
    padding-left: 0;
}

.content .rightSearchTips li {
    padding: 3px 0 2px;
    border-bottom: none;
}

.authors-hide {
    display: none;
}

.authorsTrigger {
    cursor: pointer;
    padding: 1px 5px;
    border: 1px solid #ccc;
    display: inline-block;
}

.sourceInfo {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 6px 40px;
    padding-top: 10px;
    align-items: center;
}

.requestIt a {
    padding: 1px 5px;
    font-size: unset;
}

.permalink .fa-check {
    color: green;
}

.lwSearchResults .resource {
    display: flex;
    position: relative;
    padding: 12px;
    margin: 0;
    margin-top: 21px;
    padding-bottom: 35px;
    justify-content: space-between;
}

.lwSearchResults .resource:first-of-type {
    padding-top: 3px;
}

.lwSearchResults .resource:first-of-type .more-detail-container {
    top: 15px;
}

.lwSearchResults .citation {
    font-style: italic;
    opacity: .90;
}

.hldgsContainer, .resultInfo {
    margin-top: 15px;
}

.resultInfo .linkText {
    margin: 0 15px;
}

.hldgsContainer .table-head, .hldgsContainer .table-cell {
    display: table-cell;
    position: relative;
    padding: 6px 12px;
}

.hldgsContainer .table-head {
    background-color: #aabec6;
    white-space: nowrap;
}

.hldgsContainer .table-cell {
    background: #f0f4f5;
    border-right: unset;
    border-bottom: 1px solid #ffffff;
    padding-right: 50px;
}

.hldgsContainer .table-row {
    display: table-row;
}

.hldgsContainer .fa-angle-up, .hldgsContainer .fa-angle-down,
    .hldgsContainer.active .hldgsTrigger .fa-angle-down {
    display: none;
}

.hldgsContainer .hldgsTrigger .fa-angle-down, .hldgsContainer.active .hldgsTrigger .fa-angle-up{
    display: inline-block;
    padding-left: 6px;
}

.hldgsContainer .table-main {
    display: none;
    margin: 6px 0 24px;
    width: 100%;
}

.hldgsContainer.active .table-main {
    display: table;
}

.hldgsContainer .request-cell {
    display:table-cell;
    vertical-align:middle;
}

.versionText {
    opacity: 0.75;
    margin: 0 10px;
}

span.versionText:first-child {
    margin-left: 0;
}

.requestIt .btn {
    font-weight: normal;
}

.hldgsHeader {
    padding-right: 15px;
    display: inline-block;
}

.hldgsHeader.available {
    color: #498433;
}

.hldgsHeader.unavailable {
    color: #C74632;
}

.hldgsHeader .fa-solid, .hldgsHeader .fa-regular, .hldgsHeader .fa-light
    {
    padding-right: 6px;
    color: #AEBDC5;
}

.hldgsHeader .fa-light.fa-book {
    padding-right: 9px;
}

.fa-link-horizontal {
    color: #666;
}

.hldgsTrigger {
    cursor: pointer;
}

.more-detail-container {
    position: absolute;
    top: 23px;
    right: 12px;
    min-width: 213px;
}

.more-detail-container div.sourceInfo {
    display: none;
}

.more-detail-container:hover div.sourceInfo {
    display: block;
    background-color: #F0F0F0;
    margin-top: 8px;
    padding: 12px 6px;
    z-index: 2;
}

.more-detail-container div.sourceInfo div {
    padding: 12px
}

.more-detail-container div.sourceInfo i, .hldgsContainer .fa-arrow-up-right-from-square
    {
    margin-right: 12px;
    border-radius: 50%;
    padding: 7px;
    background-color: #007c92;
    color: white;
}

.more-detail-container .fa-ellipsis {
    float: right;
}

@media ( max-width : 1100px) {
    .resource .bookcover-container {
        display: none;
    }
    .lwSearchResults .resource {
        display: block;
    }
}

@media ( max-width : 812px) {
    .lwSearchResults .resource {
        padding: 12px 0;
    }
    .table-container {
        overflow-x: auto;
    }
}