.search-image-content {
	background-color: white;
	margin-top: -5px;
	border: 6px solid;
	border-top: 0;
	border-bottom: 0;
}

#imageList {
	text-align: center;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 15px;
	margin-top: 15px;
	display: flex;
	justify-content: space-evenly;
	gap: 30px 3px;
	flex-flow: row wrap;
}

.imageContainer {
	width: 230px;
}

#imageList:after {
	content: '.';
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

#imageList li {
	float: left;
	list-style: none inside none;
	margin: 0;
	border-width: 0;
	height: 120px;
	width: 232px;
	box-sizing: content-box;
}

#imageList li li {
	height: auto;
}

#imageList li.admin {
	margin-top: 30px;
}

.imageDetail tbody tr:nth-child(odd) {
	background: inherit;
}

.imageDetail  td, .imageDetail  tr, .imageDetail tr:last-child {
	vertical-align: top;
	border-right: inherit;
	border-bottom: inherit;
}

.imageDetail h3 {
	margin-top: 10px;
}

.imageDetail label {
	font-size: 0.9375em;
	color: #8c1515;
	line-height: 1.2em;
	margin-bottom: .2em;
	padding-bottom: 12px;
}

.imageDetail .gl div {
	overflow: hidden;
	margin: 10px 10px 10px 0;
}

.imageDetail .gr {
	height: 350px;
	width: 100%;
	display: table;
}

.imageDetail .image-location {
	display: table-cell;
	vertical-align: middle;
}

#imageList .imageDetail img.image {
	margin: auto;
	display: block;
	width: auto;
	height: auto;
	max-width: 540px;
	max-height: 320px;
}

.imageDetail {
	width:100%;
	text-align: left;
	background-color: white;
	position: absolute;
	left: 0;
	padding: 28px;
	z-index: 11;
}

.imageDetailHidden {
	display: none;
}

.image-detail-close {
	position: absolute;
	margin: 12px;
	cursor: pointer;
}

#imageList a.to-source-page{
	padding: 8px 24px;
}

#imageList .imagedeco {
	margin-top: -4px;
	height: 35px;
	background-color: #eee;
}

#imageList .admin-enable {
	background-color: #4db84d;
}

#imageList .admin-disable {
	background-color: #ff4747;
}

#imageList .imagedecoHidden {
	background-color: #ffffff;
}

#imageList img {
	height: 120px;
	max-width: 230px;
}

#imageList a {
	border-bottom: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.result-summary {
	display: flex;
	padding: 10px 20px 16px 23px;
	height: 20px;
	box-sizing: content-box;
}

.result-summary .result {
	display: inline-block;
	margin-top: 5px;
}

.result-summary .dropdown {
	position: relative;
	top: 0;
}

.result-summary a {
	padding: 3px;
}

#sourceFilter {
	margin-left: 55px;
	width: 400px;
	float: none;
}

.pagination {
	position: absolute;
	right: 10px;
}

.pagination  .actived, .actived span, .actived label {
	color: white;
	cursor: pointer;
}

.pagination form {
	display: inline;
}

.pagination a {
	display: inline-block;
	padding: 4px 8px;
	border: 1px solid;
	margin: 0 3px 0 3px;
}

.pagination input {
	width: 28px;
	text-align: center;
}

.pagination label {
	margin: 3px;
}

#copyright {
	text-align: left;
	margin-left: 10px;
	font-size: x-small;
}

#copyright a {
	color: #007c92;
	display: inline;
	cursor: pointer;
}

.what-is-image-search {
	position: absolute;
	top: 59px;
	left: 840px;
	white-space: nowrap;
	cursor: pointer;
}

/*styles for  big gray gradient tabs*/
#tabs-image-search .copyright-help {
	display: initial;
	padding: 0 5px 0 0;
	float: right;
}

#sourceFilter .fa-regular {
	color: white;
}

#tabs-image-search {
	margin-left: auto;
	margin-right: auto;
}

#tabs-image-search ul {
	display: inline-block;
	margin-top: 2em;
	text-align: center;
}

#tabs-image-search li {
	display: inline-block;
	border-bottom: none;
	margin-right: 6px;
	list-style: none outside none;
}

.content .search-image-selected-tab {
	margin-top: -7px;
	padding-top: 13px;
}

.search-image-selected-tab a.copyright-help {
	top: -7px;
}

.images-all {
	background-color: #80982a;
	color: white;
}

.cc-images-all {
	background-color: #556222;
	color: white;
}

.pmc-images-all {
	background-color: #b96d12;
	color: white;
}

.rl-images-all {
	background-color: #8c1515;
	color: white;
}

.search-image-content.images-all-border {
	border-color: #80982a;
}

.search-image-content.cc-images-all-border {
	border-color: #556222;
}

.search-image-content.pmc-images-all-border {
	border-color: #b96d12;
}

.search-image-content.rl-images-all-border {
	border-color: #8c1515;
}

#tabs-image-search li a {
	color: #ffffff; /*to overwrite the color of the text links*/
	display: table-cell;
	text-decoration: none;
	border-bottom: none;
	padding: 2px 6px 2px 18px;
	height: 35px;
	box-sizing: content-box;
	position: relative;
	font-weight: bold;
	cursor: pointer;
}

#tabs-image-search span {
	font-weight: normal;
}

.img-overlay{
	background-color: black;
     width: 100%;
     height: 100%;
     position: fixed;
     opacity: .65;
     top: 0;
     left: 0;
     z-index: 10;
}

@media ( max-width : 1100px) {
	#tabs-image-search ul, #tabs-image-search li {
		display: block;
		width: 100%;
		margin: 6px 0;
	}
	.result-summary {
		height: auto;
		flex-flow: column;
	}
	.result-summary div {
		margin: 6px 0;
		position: static;
	}
	#sourceFilter {
		margin: 0
	}
	#tabs-image-search .search-image-selected-tab{
	   opacity: .3;
	 }
	 #tabs-image-search li a {
	 display: block;
	 }
	 .search-image-content {
	   margin: 0;
	 }
	 .search-image-content .dropdown:hover .dropdown-content {
	    position: absolute;
	    left: 0px;
	    top: 25px;
	    width: 230px;
	 }
	 #imageList .imageDetail img.image{
	 max-width: 67%;
	 }
	 
}