#lightbox-flex {
    width: 760px;
    border-radius: 3px;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #9e9d98;
}

.content li.aclist-item {
    padding: 5px;
}