#slide-show {
	position: relative;
	overflow: hidden;
	height: 280px;
}

.slide-container {
	position: relative;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 30px 24px;
}

.slide {
	display: inline-flex;
	position: relative;
	min-height: 170px;
    width: 203px;
}

.slide img{
	width: 100%;
}

.slide.desactive-next {
	display: none;
}

.slide.active-previous {
	display: block;
}

#next-slide {
	right: 12px;
}

#previous-slide {
	left: 12px;
}

#previous-slide, #next-slide {
	position: absolute;
	display: block;
	top: 170px;
	cursor: pointer;
	color: #aabec6;
}

#previous-slide.disable, #next-slide.disable {
	display: none;
}

.staff-slide-show {
	width: 100%;
	margin: auto;
	padding: 3em 2em;
	position: relative;
}

.staff-slide-show .slide div {
	position: absolute;
	bottom: 6px;
    line-height: 1.1em;
    height: 98px;
	width: 100%;
	background: linear-gradient(transparent, #333 60%);
}

.staff-slide-show .slide div span {
	display: block;
	color: white;
	text-align: center;
}

.staff-slide-show .slide div span.name {
	margin-top: 20px;
	padding-bottom: 0.6em;
	font-weight: 700;
}

.staff-slide-show .slide div span.title {
	font-weight: 300;
	padding-bottom: 12px;
}
/* IE explorer flex gap menu doesn't work  */ 
*::-ms-backdrop, :root .slide{
	padding: 21px 12px;	
}

*::-ms-backdrop, :root .staff-slide-show .slide div{
	width: 180px;
}