#slide-show {
	position: relative;
	overflow: hidden;
	height: 235px;
}

.slide-container {
	position: relative;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 24px;
}

.slide {
	display: inline-flex;
	position: relative;
}

.slide img{
	height: 230px;
}

.slide.desactive-next {
	display: none;
}

.slide.active-previous {
	display: block;
}

#next-slide {
	right: 12px;
}

#previous-slide {
	left: 12px;
}

#previous-slide, #next-slide {
	position: absolute;
	display: block;
	top: 140px;
	cursor: pointer;
	color: #aabec6;
}

#previous-slide.disable, #next-slide.disable {
	display: none;
}

.staff-slide-show {
	width: 95%;
	margin: auto;
	padding: 3em;
	position: relative;
}

.staff-slide-show .slide div {
	position: absolute;
	bottom: 6px;
    line-height: 1.1em;
    height: 98px;
	width: 100%;
	background: linear-gradient(transparent, #333 60%);
}

.staff-slide-show .slide div span {
	display: block;
	color: white;
	text-align: center;
}

.staff-slide-show .slide div span.name {
	margin-top: 30px;
}

.staff-slide-show .slide div span.title {
	font-size: x-small;
	padding-bottom: 12px;
}

