.filter-facet h2 a {
    font-size: 16px;
    float: right;
}

.filter-facet div span, .filter-facet div i {
    display: inline-block;
    color: white;
    background-color: #8C1515;
    padding: 2px 4px 2px 9px;
}

.filter-facet div span {
    margin: 6px;
}

.facet-container li {
    border: none;
    padding: 3px;
}

.facet-container li.facetHeader {
    font-size: 18px;
    font-weight: 600;
    margin-top: 36px;
}

.facet-container li.facetHeader:first-of-type {
    margin-top: 0;
}

.facet-container .facet a {
    display: flex;
    padding: 0;
}

.facet-container .facet i {
    color: black;
    font-size: 13px;
    margin-right: 6px;
}

.facet-container .facet i.fa-square-check {
    color: #8C1515;
}

.facet-container .facetLabel {
    flex-shrink: 3;
}

.facet-container .facet a:hover {
    text-decoration: none;
    background-color: white;
}

.facet-container li  a:hover .facetLabel {
    text-decoration: underline;
    color: #007c92;
}

.facet-container .facetCount:hover {
    text-decoration: none;
}

.facet-container .facetCount {
    flex-grow: 3;
    text-align: right;
    color: black;
    margin-left: 6px;
}

.facet-container .see-more {
    padding-top: 12px
}

.facet-container .see-more i {
    color: black;
}

.facet-container  input.facet-suggestion, .facet-container .yui3-aclist-content
    {
    width: 80%;
}


.facet-container  input {
    padding: 6px;
    margin-top: 12px;
    font-size: 12px;
    border: solid 1px #ddd;
    outline: 0;
}

.facet-container  input::placeholder {
    color: #ccc;
}

.facet-container  input.date {
    width: 24%;
    font-size: 16px;
    margin: 12px;
    padding: 9px;
    margin-right: 0;
}

.facet-container  input.date[type=submit] {
    background-color: #666;
    color: white;
    cursor: pointer;
}

#facet-error-message {
    font-size: 13px;
    color: red;
}

@media ( max-width : 1100px) {
    .filter-facet {
        margin-left: 32px;
        margin-right: 32px;
    }
    .facet-container.menu-container {
        padding: 0 2em;
    }
    .facet-container.menu-container.mobile h2 {
        padding: 16px 0;
    }
}