.solrFacets.module {
	border: none;
	background-color: inherit;
	box-shadow: none;
}

.solrFacets h4 {
	margin-bottom: 20px;
}

.solrFacets li {
	padding: 0 5px;
	border-bottom: 1px solid #e6e4dc;
	clear: right;
}

.solrFacets li a {
	display: block;
}

.enabled .facetCount, .enabled .facetLabel {
	color: #fff;
}

.enabled a:active, .enabled a:hover {
    text-decoration: none;
}

.solrFacets .enabled, .facetBrowse .enabled {
	padding: 1px 5px;
	background-color: #333;
}

.facetBrowse .enabled {
	margin: 0 15px;
	padding: 1px 5px;
	border-bottom: 1px solid #e6e4dc;
}

.facetBrowse li {
	padding: 0 5px;
}

.solrFacets {
	opacity: 0;
	transition: opacity .5s;
}

.solrFacets-active {
	opacity: 1;
}

.facetBrowse {
	min-width: 500px;
	padding: 25px 0;
	cursor: move;
	border: 1px solid #ccc;
}

.facetBrowse li, .facetBrowse .facetHeader {
	padding-left: 20px;
	padding-right: 20px;
}

.facetBrowse h4 {
	margin: 0 20px;
}

.facetBrowse li:first-child, .facetBrowse li:last-child {
	background: none;
}

.facetBrowse .s-pagination {
	padding-top: 25px;
	float: none;
	text-align: center;
}

#searchFacets .solrFacet.facetHeader {
	box-sizing: border-box;
	height: 20px;
	border-bottom: none;
	text-transform: none;
	padding: 0;
	margin-top: 20px;
	font-weight: bold;
}

.facetHeader .fa-info-circle {
	padding-left: 2px;
}

.facetHeader .seeAll {
	font-weight: normal;
	float: right;
	padding: 0 10px 5px 0;
}

.facetCount {
	float: right;
	padding-right: 5px;
	color: black;
}

.solrFacets .fa-check-square, .solrFacets .fa-check-circle, .facetBrowse .fa-check-square
	{
	color: #fff;
}

.solrFacets .fa-square-o, .facetBrowse .fa-square-o, .solrFacets .fa-circle-o
	{
	color: #ccc;
}

.indented.fa-check-square, .indented .fa-square-o::before, .indented .fa-square-o::after
	{
	margin-left: 20px;
}

.solrFacets .fa-square-o::after, .facetBrowse .fa-square-o::after,
	.solrFacets .fa-circle-o::after {
	content: ' ';
	position: absolute;
	background-color: #fff;
	height: 14px;
	left: 19px;
	width: 14px;
	z-index: -1;
}

.facetLabel {
	padding-left: 5px;
}

#solrLimits {
	font-size: 14px;
}

#solrLimits span {
	padding: 0 15px 0 10px;
	display: inline-block;
}

#solrLimits a {
	padding: 0 5px;
}

#solrLimits .fa-times-circle {
	color: #8c1515;
}

#solrLimits .fa-times-circle:hover {
	color: #428bca;
}

#solrLimits span:nth-last-child(2) {
	padding-right: 55px;
}

#solrLimits .clearLimits {
	padding: 0;
}

#solrLimits .clearLimits a {
	padding: 0;
}

#solrAllCount {
	display: none;
}

@media ( max-width : 812px) {

	#solrLimits, #solrLimits .clearLimits {
	    margin-top: 15px;
	}	
	.view-by, .s-pagination  {
    	padding-top: 18px;
    	float: left;
	}
	
	#searchFacets {
		background-color: white;
		padding-top: 0;
	}
	
	#searchFacets h4 {
		margin: 0px;
		border: none;
		padding: 12px 0px 0px 12px;
	}
	#searchFacets ul {
		display: none;
	}
	
	#searchFacets a:nth-child(2) {
		display: none;
	}
	#searchFacets:target ul {
		display: block;
	}
	#searchFacets:target span:first-child a:first-child {
		display: none;		
	}
	#searchFacets:target span:first-child a:nth-child(2) {
		display: block;
	}
	
}