.som-header {
    box-sizing: border-box;
    height: 50px;
    min-width: 1089px;
    position: absolute;
    top: 0;
    width: 100%;
}

.som-header div {
    background-image: url('../images/logo-sprite-globalheader-off.png');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    height: 50px;
    margin-right: 5%;
    width: 130px;
}

.som-header div:hover {
    background-color: #454545;
    background-image: url('../images/logo-sprite-globalheader-on.png');
}

.som-header ul {
    background-image: url('../images/diag.png');
    background-color: #666666;
    border: none;
    padding: 8px;
    top: 50px;
}

.som-header ul {
    right: 0;
    width: 134px;
}

.som-header li {
    border-bottom: 1px solid #777777;
}

.som-header a {
    color: white;
    display: block;
    padding: 2px 0;
    text-shadow: rgb(51, 51, 51) 1px 1px 2px;
}

.som-header a:hover {
    background-color: rgba(204, 204, 204, .2);
}
