.som-header {
    height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
}

.som-header div {
    display: inline-block;
    margin: 0 5%;
    background-image: url('../images/logo-sprite-globalheader-off.png');
    background-repeat: no-repeat;
    height: 50px;
}

.som-header div:nth-child(2) {
    float: right;
}

.som-header div:hover {
    background-color: #454545;
}

.som-header div:nth-child(1) {
    background-position: 0 50%;
    width: 150px;
}

.som-header div:nth-child(2) {
    background-position: 100% 50%;
    width: 130px;
}

.som-header div:hover {
    background-image: url('../images/logo-sprite-globalheader-on.png');
}

.som-header ul {
    background-image: url('../images/diag.png');
    background-color: #666666;
    border: none;
    padding: 8px;
    top: 50px;
    z-index: 1;
}

.som-header div:nth-child(1) ul {
    width: 154px;
}

.som-header div:nth-child(2) ul {
    right: 0;
    width: 134px;
}

.som-header li {
    border-bottom: 1px solid #777777;
}

.som-header a {
    color: white;
    display: block;
    padding: 2px 0;
    text-shadow: rgb(51, 51, 51) 1px 1px 2px;
}

.som-header a:hover {
    background-color: rgba(204, 204, 204, .2);
}
