.space-xxs {
    margin: 1px 1px;
}

.space-xs {
    margin: 5px 6px;
}

.space-sm {
    margin: 7px 8px;
}

.space-md {
    margin: 12px 3px;
}

.space-lg {
    margin: 18px 10px;
}

.space-xl {
    margin: 22px 10px;
}

.space-2xl {
    margin: 31px 18px;
}

.space-3xl {
    margin: 40px 28px;
}

.space-4xl {
    margin: 49px 36px;
}

.space-5xl {
    margin: 67px 54px;
}

.space-6xl {
    margin: 94px 81px;
}

.max-width-md {
    max-width: 800px !important;
    margin-left: auto;
    margin-right: auto;
}

.max-width-lg {
    max-width: 900px !important;
    margin-left: auto;
    margin-right: auto;
}

.max-width-xl {
    max-width: 1000px !important;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width : 812px) {
    .space-xxs {
        margin: 0px 3px;
    }

    .space-xs {
        margin: 0px 3px;
    }

    .space-sm {
        margin: 0px 6px;
    }

    .space-md {
        margin: 4px;
    }

    .space-lg {
        margin: 5px;
    }

    .space-xl {
        margin: 7px;
    }

    .space-2xl {
        margin: 11px 10px;
    }

    .space-3xl {
        margin: 13px 7px;
    }

    .space-4xl {
        margin: 16px 3px;
    }

    .space-5xl {
        margin: 21px 8px;
    }

    .space-6xl {
        margin: 26px 13px;
    }
}





.space-padding-xxs {
    padding: 1px 1px;
}

.space-padding-xs {
    padding: 5px 6px;
}

.space-padding-sm {
    padding: 7px 8px;
}

.space-padding-md {
    padding: 12px 3px;
}

.space-padding-lg {
    padding: 18px 10px;
}

.space-padding-xl {
    padding: 22px 10px;
}

.space-padding-2xl {
    padding: 31px 18px;
}

.space-padding-3xl {
    padding: 40px 28px;
}

.space-padding-4xl {
    padding: 49px 36px;
}

.space-padding-5xl {
    padding: 67px 54px;
}

.space-padding-6xl {
    padding: 94px 81px;
}


@media (max-width : 812px) {
    .space-padding-xxs {
        padding: 0px 3px;
    }

    .space-padding-xs {
        padding: 0px 3px;
    }

    .space-padding-sm {
        padding: 0px 6px;
    }

    .space-padding-md {
        padding: 4px;
    }

    .space-padding-lg {
        padding: 5px;
    }

    .space-padding-xl {
        padding: 7px;
    }

    .space-padding-2xl {
        padding: 11px 10px;
    }

    .space-padding-3xl {
        padding: 13px 7px;
    }

    .space-padding-4xl {
        padding: 16px 3px;
    }

    .space-padding-5xl {
        padding: 21px 8px;
    }

    .space-padding-6xl {
        padding: 26px 13px;
    }
}



.space-top-xxs {
    margin-top: 1px;
}

.space-top-xs {
    margin-top: 5px;
}

.space-top-sm {
    margin-top: 7px;
}

.space-top-md {
    margin-top: 12px;
}

.space-top-lg {
    margin-top: 18px;
}

.space-top-xl {
    margin-top: 22px;
}

.space-top-2xl {
    margin-top: 31px;
}

.space-top-3xl {
    margin-top: 40px;
}

.space-top-4xl {
    margin-top: 49px;
}

.space-top-5xl {
    margin-top: 67px;
}

.space-top-6xl {
    margin-top: 94px;
}


@media (max-width : 812px) {
    .space-top-xxs {
        margin-top: 0px;
    }

    .space-top-xs {
        margin-top: 0px;
    }

    .space-top-sm {
        margin-top: 0px;
    }

    .space-top-md {
        margin-top: 4px;
    }

    .space-top-lg {
        margin-top: 5px;
    }

    .space-top-xl {
        margin-top: 7px;
    }

    .space-top-2xl {
        margin-top: 11px;
    }

    .space-top-3xl {
        margin-top: 13px;
    }

    .space-top-4xl {
        margin-top: 16px;
    }

    .space-top-5xl {
        margin-top: 21px;
    }

    .space-top-6xl {
        margin-top: 26px;
    }
}

.space-left-xxs {
    margin-left: 1px;
}

.space-left-xs {
    margin-left: 5px;
}

.space-left-sm {
    margin-left: 7px;
}

.space-left-md {
    margin-left: 12px;
}

.space-left-lg {
    margin-left: 18px;
}

.space-left-xl {
    margin-left: 22px;
}

.space-left-2xl {
    margin-left: 31px;
}

.space-left-3xl {
    margin-left: 40px;
}

.space-left-4xl {
    margin-left: 49px;
}

.space-left-5xl {
    margin-left: 67px;
}

.space-left-6xl {
    margin-left: 94px;
}


@media (max-width : 812px) {
    .space-left-xxs {
        margin-left: 0px;
    }

    .space-left-xs {
        margin-left: 0px;
    }

    .space-left-sm {
        margin-left: 0px;
    }

    .space-left-md {
        margin-left: 4px;
    }

    .space-left-lg {
        margin-left: 5px;
    }

    .space-left-xl {
        margin-left: 7px;
    }

    .space-left-2xl {
        margin-left: 11px;
    }

    .space-left-3xl {
        margin-left: 13px;
    }

    .space-left-4xl {
        margin-left: 16px;
    }

    .space-left-5xl {
        margin-left: 21px;
    }

    .space-left-6xl {
        margin-left: 26px;
    }
}




.space-gap-xxs {
    gap: 3px;
}

.space-gap-xs {
    gap: 6px;
}

.space-gap-sm {
    gap: 12px;
}

.space-gap-sm {
    gap: 18px;
}

.space-gap-lg {
    gap: 38px;
}

.space-gap-xl {
    gap: 48px;
}


.space-gap-2xl {
    gap: 58px;
}


@media (max-width : 1100px) {

    .space-gap-xxs,
    .space-gap-xs,
    .space-gap-sm,
    .space-gap-md,
    .space-gap-lg,
    .space-gap-xl,
    .space-gap-2xl {
        gap: 0;
    }
}