.subscription>div {
	background-color: #eee;
	padding: 2.5em;
}

.subscription section {
	position: relative;
}

.subscription input[type='email'] {
	padding: 9px;
	margin-right: 3px;
	outline: none;
	width: 60%;
}

.subscription .btn.outline{
	padding: 8px 12px;
}

.subscription div.mailchimp {
	display: inline-block;
	width: 25%;
}

@media ( max-width : 812px) {
.subscription>div {
	position: static;
}
}