.yui3-aclist {
    z-index: 3;
    position: relative;
}

.yui3-aclist-hidden {
    visibility: hidden;
}

.yui3-aclist-aria {
    display: none;
}

.yui3-aclist-item {
    cursor: pointer;
    padding: 5px;
    border: none;
}

.menu-container.active .yui3-aclist-list {
    padding-bottom: 0;
}

.yui3-aclist-content {
    background-color: #f0f4f5;
    position: absolute;
    width: 100%;
    color: black;
}

.yui3-aclist-item-active {
    background-color: #666;
    color: white;
}