.aclist {
    position: relative;
}

.aclist-hidden {
    visibility: hidden;
}

.aclist-aria {
    display: none;
}

.aclist-item {
    cursor: pointer;
    padding: 5px;
    border: none;
}

.menu-container.active .aclist-list {
    padding-bottom: 0;
}

.aclist-content {
    background-color: #f0f4f5;
    z-index: 3;
    position: absolute;
    width: 100%;
    color: black;
}

.aclist-item-active {
    background-color: #666;
    color: white;
}