table {
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    background: #09425a;
    color: #fff;
}

tbody tr:nth-child(even) {
    background: #fff;
}

tbody tr:nth-child(odd) {
    background: #ddd;
}

th,
td {
    padding: 6px;
}

thead th {
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 12px;
}

td {
    border-bottom: solid 1px #f0f4f5;
    border-right: solid 1px #f0f4f5;
}

td:first-child {
    border-left: 1px solid #d0d8da;
}

td:last-child {
    border-right: 1px solid #d0d8da;
}

tbody tr:last-child {
    border-bottom: 1px solid #d0d8da;
}

.table {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 16px;
}

.table .header {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #d0d8da;
}

.table .row,
.table .thead {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.table .cell,
.table .header {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 11px;
    word-break: break-word;
}


.table .cell {
    border-bottom: 1px solid #d0d8da;
    padding: 9px 28px 9px 11px;
}


.table.shade .row:nth-child(even) {
    background-color: #f0f4f5;
}


/* css for search the table input */
#table-search-input {
    width: 100%;
    height: 58px;
    padding-left: 45px;
    border: 1px solid #D5DADC;
    box-sizing: border-box;
}

#table-search-input~.search-button {
    bottom: 16px;
    left: 16px;
}