table {
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    background: #09425a;
    color: #fff;
}

tbody tr:nth-child(even) {
    background: #fff;
}

tbody tr:nth-child(odd) {
    background: #ddd;
}

th, td {
    padding: 6px;
}

thead  th {
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 12px;
}

td {
    border-bottom: solid 1px #f0f4f5;
    border-right: solid 1px #f0f4f5;
}

td:first-child {
    border-left: 1px solid #d0d8da;
}

td:last-child {
    border-right: 1px solid #d0d8da;
}

tbody tr:last-child {
    border-bottom: 1px solid #d0d8da;
}
