/*Use lane on home page*/
.use-lane {
	align-items: center;
}

.use-lane div.pure-u-1-2:first-of-type a {
	margin-top: 33px;
}

.use-lane  div.landing .youtube-thumbnail {
	padding-top: 13px;
    padding-bottom: 20px;
    padding-right: 3%;
	background-color: #8C1515;
	float: right;
	width: 90%;
}

.use-lane  div.landing .youtube-thumbnail img {
	margin-left: -33px;
}

.use-lane  div.landing .youtube-thumbnail i {
	right: 50%;
}

@media ( max-width : 1100px) {
	.use-lane {
		flex-flow: row wrap-reverse;
	}
	.use-lane  div.landing .youtube-thumbnail {
		float: initial;
		margin: auto;		
	}
}

@media ( max-width : 812px) {
	.use-lane  div.landing .youtube-thumbnail {
		background: transparent;
	}
	.use-lane  div.landing .youtube-thumbnail img {
		margin: 0;
	}
}