/*.youtube-thumbnail divs are created in youtube.js */
.youtube-thumbnail {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.youtube-thumbnail .fa {
    text-align: center;
    font-size: 14px;
    position: absolute;
    right: 43%;
    top: 41%;
    color: white;
    background-color: rgb(56, 56, 56);
    border-radius: 9px;
    width: 42px;
    line-height: 30px;
    opacity: .9;
}

.youtube-thumbnail:hover .fa {
    background-color: rgb(195, 22, 35);
}
