/*.youtube-thumbnail divs are created in youtube.js */
.youtube-thumbnail {
    cursor: pointer;
    position: relative;
}

.youtube-thumbnail .fa {
    text-align: center;
    font-size: 0.875em;
    position: absolute;
    right: 43%;
    top: 41%;
    color: white;
    background-color: #383838;
    border-radius: 9px;
    width: 42px;
    line-height: 30px;
    opacity: .9;
}

.youtube-thumbnail:hover .fa {
    background-color: #c31623;
}
