<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    
    <appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/laneweb.log</File>
        <encoder>
            <pattern>%d %p [%t][%c] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
            <FileNamePattern>${catalina.base}/logs/laneweb.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    
    
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p %c{1} - %m%n</pattern>
        </encoder>
    </appender>
    
    <appender name="search" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/search.log</File>
        <encoder>
            <pattern>%d %p [%t][%c] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${catalina.base}/logs/search.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    
    <logger name="edu.stanford.irt.search" level="error" additivity="false">
        <appender-ref ref="search"/>
    </logger>
    
    <appender name="querymap" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/querymap.log</File>
        <encoder>
            <pattern>%d %p %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${catalina.base}/logs/querymap.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    
    <logger name="querymap" level="info" additivity="false">
        <appender-ref ref="querymap"/>
    </logger>
    
    <logger name="edu.stanford.irt.bookcovers" level="debug" additivity="false">
        <appender-ref ref="${edu.stanford.irt.laneweb.log.appender}"/>
    </logger>
    
    <root level="${edu.stanford.irt.laneweb.log.level}">
        <appender-ref ref="${edu.stanford.irt.laneweb.log.appender}"/>
    </root>
    
</configuration>

