
html {
    scroll-behavior: smooth;
}

body {
    background-color: #ecf1f2;
    font-family: 'Source Sans Pro', sans-serif;
    /* override lane-reset.css for font-size and line-height */
    font-size: initial;
    line-height: initial;
}

a {
    color: #007c92;
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
}

a:active,a:hover {
    text-decoration: underline;
}

/*pure grids sets this to sans-serif, needs to be 'Source Sans Pro'*/
.pure-g [class^='pure-u'] {
    font-family: 'Source Sans Pro', sans-serif;
}

.centered, h1 {
    min-width: 989px;
    margin: 0 48px;
    position: relative;
}



h1 {
    padding: 10px 0;
}

h1 a {
    background-image: url('../../images/sm-logo.svg');
    background-repeat: no-repeat;
    color: #333;
    display: inline-block;
    font-size: 18px;
    line-height: 16px;
    padding: 10px 0 0 176px;
}

h1 a:visited,
h1 a:active,
h1 a:hover {
    color: #333;
}

h1 i {
    font-size: 12px;
}

.lrg-screen-hide{
    display: none;
}

#mhc-logo{
    position: absolute;
    top: 38px;
    font-size: 12px;
    left: 170px;
}

#nav {
    float: right;
}

.nav-item {
    float: left;
    font-size: 11px;
}
.nav-item:hover{
    background-image: url('../../images/diag.png');
    background-color: rgba(204, 204, 204, .5);
}

.nav-item>div {
    display: none;
    position: absolute;
    background-color: #666666;
    width: 320px;
    padding: 8px;
    box-sizing: border-box;
    background-image: url('../../images/diag.png');
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .8);
    min-height: 258px;
}

.nav-item:hover>div {
    display: block;
}

.nav-item ul {
    padding-right: 7px;
    margin-bottom: 10px;
}

.nav-item li {
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px #777777 solid;
}
.nav-item li:last-child{
    border-bottom: none;
}

.nav-item a {
    color: #dddddd;
    text-decoration: none;
    font-weight: 600;
    display: block;
    padding: 0 18px;
    line-height: 34px;
}

.nav-item li a {
    font-weight: 400;
    line-height: 16.9px;
    padding: 2px 0 2px 2px;
    color: #eee;
    text-shadow: #333 1px 1px 2px;
}
.nav-item li a:hover {
    color: white;
    background-color: rgba(204, 204, 204, .2);
}
.nav-item .explore{
    width: 144px;
    box-sizing: border-box;
    position: absolute;
    bottom: 8px;
    right: 8px;
    line-height: 16px;
    background-color: #5e3032;
    padding: 4px;
    font-size: 12px;
    font-weight: 600;
}
.nav-item .explore span{
    display: block;
    color: white;
    font-size: 13px;
    border-bottom: 1px rgba(255, 255, 255, .4) solid;
}
.nav-item .explore i{
    font-size: 6px;
}



#gift {
    display: block;
    padding: 10px 10px 18px 68px;
    background-color: #fff;
    background-image: url('../../images/gift-transp.png');
    background-position: 9px 7px;
    background-repeat: no-repeat;
    line-height: 18px;
    border: 1px #cbc0c1 solid;
    box-shadow: 0 0 2px #cbc0c1;
    font-size: 12px;
}

.content ul.menu{
    border-top: 12px solid #8c1515;
    margin-bottom: 24px;
    list-style: none;
    padding-inline-start: 0;
}

.menu a {
    color: white;
    background-color: #333333;
    font-weight: 300;
    display: block;
    padding: 9px 20px 9px 13px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, 0) 100%);
}

.menu a:hover {
    background-color: #555555;
}

.menu .menuitem-active {
    background-color: #707070;
}

.gutter-left {
    margin-left: 6px;
    margin-top: 12px;
}

.gutter-right {
    margin-right: 6px;
    margin-top: 12px;
}

#search {
    background-color: #8c1515;
    padding: 12px;
    font-weight: 300;
    color: #fff;
}

#search fieldset {
    background-color: white;
    display: inline-block;
    padding: 2px;
    margin-top: 12px;
}

#search input[type='text'] {
    width: 516px;
    padding: 8px;
    box-sizing: border-box;
}

#search input[type='submit'] {
    background-color: #009abb;
    border: medium none;
    border-radius: 6px;
    color: white;
    padding: 12px;
    font-size: 18px;
}

/*content styles start here*/
.heading-container {
    width: 100%;
    text-align: center;
    margin-top: 12px;
}

.heading-left,.heading-right {
    display: inline-block;
    height: 4px;
    width: 28%;
    border-top: 1px solid;
    border-top-color: #d8dbdc;
    vertical-align: middle;
    box-sizing: border-box;
}

.wrap {
    margin-top: -30px;
}

.wrap-title {
    display: inline-block;
    margin: 0 10px;
}

.heading-right {
    border-left: 26px solid;
    border-left-color: #d8dbdc;
    margin-left: 6px;
}

.heading-left {
    border-right: 26px solid;
    border-right-color: #d8dbdc;
    margin-right: 6px;
}

h2 {
    font-weight: 400;
    font-size: 28px;
    font-family: 'Fjord One', serif;
    color: #666666;
}

.wilson-title {
    text-align: center;
}

.wilson-search {
    float: right;
    margin-top: 35px;
}

.wilson-search button {
    cursor: pointer;
    font-size: 1em;
}

h3 {
    display: block;
    font-size: 22px;
    padding: 6px 6px 6px 0;
    line-height: 1.2em;
    margin-bottom: .2em;
    font-family: 'Fjord One', serif;
    color: #666666;
}

h4 {
    display: block;
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: .2em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #8c1515;
}

.border-and-shadow {
    padding: 12px;
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px .2px rgba(0, 0, 0, .1);
    overflow: hidden;
    clear: both;
}

.border-and-shadow img {
    float: left;
    margin: 0 12px 12px 0;
}

.border-and-shadow p,.border-and-shadow a {
    line-height: 1.4;
    margin: 0 0 12px;
}

.border-and-shadow ul,.side-box ul,.content ul {
    margin-top: 0;
    margin-bottom: 11px;
    display: block;
    padding-left: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
}

.content ol {
    list-style-type: decimal;
    display: block;
    margin: 1em 0 1em 0;
    padding-left: 40px;
}

.content ol li {
    margin-bottom: 12px;
}

.side-box {
    margin: 12px 0 24px 0;
    clear: both;
    display: block;
    height: auto;
    min-height: 1%;
    overflow: hidden;
}

.core-covers {
    float: left;
    width: 47%;
    margin-bottom: 36px;
    margin-right: 1em;
}

.block-heading {
    width: 30%;
    max-height: 200px;
    min-height: 100px;
    padding-top: 0;
    padding-bottom: 12px;
    margin: 0 12px 12px 0;
    text-align: right;
    overflow: hidden;
    background-color: #009abb;
    float: left;
}

.feature {
    padding-left: 12px;
}

.feature .block-heading {
    width: 100%;
    height: auto;
    min-height: 1%;
    padding-top: 0;
    padding-bottom: 12px;
    margin: 0 12px 12px 0;
    text-align: left;
    overflow: hidden;
    background-color: #8c1515;
    box-sizing: border-box;
}

.block-heading h3 {
    display: block;
    font-size: 20px;
    padding: 6px 6px 6px 6px;
    line-height: 1.2em;
    margin-bottom: .2em;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

.block-content {
    width: 65%;
    float: left;
    margin-bottom: 36px;
}

.feature  .block-content {
    clear: both;
    display: block;
    width: 100%;
    font-size: 14px;
}

.contact-links,.side-box p {
    display: block;
    font-size: 12px;
    float: left;
}

.side-box p {
    clear: both;
}

.side-box img {
    float: left;
    margin-right: 6px;
    clear: both;
}

.content p {
    margin: 12px 0 24px 0;
}

b,strong {
    color: #8c1515;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: bold;
}

blockquote {
    width: 90%;
    box-sizing: border-box;
    color: #666666;
    font-family: 'Fjord One', serif;
    font-style: italic;
    border: none;
    padding-top: 0;
    padding-bottom: 18px;
    padding-left: 36px;
    overflow: hidden;
    margin: 0 0 0 0;
    display: block;
    clear: both;
}

.img-caption {
    background-color: #333;
    padding: 0;
    margin-bottom: 12px;
    clear: both;
}

.border-and-shadow .img-caption img,.content .img-caption img {
    float: right;
    margin: 0;
}

.border-and-shadow .img-caption a,.content .img-caption a {
    color: #fff;
    font-size: 12px;
}

.border-and-shadow .img-caption p,.content .img-caption p {
    margin: 18px 12px 12px 12px;
    color: #fff;
    overflow: hidden;
    font-size: 1rem;
    font-weight: normal;
}

.clearfix {
    content: ' ';
    display: table;
}

/*class button for mimicing SOM buttons.  See markup at:
http://lane.stanford.edu/samples/button-css.html
 */
.button {
    font-size: 14px;
    font-weight: 400;
    margin: 3px;
    padding: 5.25px 10.5px;
    border: 1px #cccccc solid;
    border-radius: 3.5px;
    cursor: pointer;
    background-color: #f1f1f1;
    display: inline-block;
}

.button:hover {
    border-color: #adadad;
}

.button span {
    background-color: #007c92;
    color: #ffffff;
    padding: 7px 12px 7px 7px;
    border-radius: 4px;
    margin-right: 6px;
    display: inline-block;
}

.inner-icon {
    background-color: #ffffff;
    border-radius: 12px;
    font-size: 13px;
    height: 24px;
    width: 24px;
    padding: 4px;
    margin-right: 6px;
    line-height: 15px;
    box-sizing: border-box;
    text-align: center;
}

.button a {
    color: #ffffff;
}

.icon {
    color: #007c92;
}

/*styles for events on homepage*/
.event {
    width:40%;
    font-size: 13px;
    margin-bottom: 15px;
}

.event-date {
	background-color: #09425a;
    color: white;
    text-align: right;
    text-transform: uppercase;
    padding: 4px;
    padding-right: 12px;
}

.event-info {
    background-color: white;
    padding-left: 6px;
    /*safari & FF show px of .event background on right so:*/
    margin-right: -1px;
}

.event-time {
    font-weight: bold;
}

.landing{
    padding: 0;
}
.landing img{
    display: block;
    width: 100%;
}
.landing h3{
    color: white;
    background-color: #8c1515;
    background-image: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    line-height: 19.8px;
}
.landing p{
    padding: 10px;
    margin: 0;
}
.landing ul{
    padding: 10px 0;
    margin: 0 10px;
    border-top: 1px solid #dddddd;
}
.landing ul li{
    list-style: none;
}

.flickr-thumbs {
    white-space: nowrap;
    overflow: auto;
    margin: 10px 0;
}

.flickr-thumbs a {
    margin-right: 5px;
}

.flickr-carousel {
    position: relative;
}
.flickr-photos {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 12px;
    height: 200px;
    opacity: 0;
}
.flickr-photos, .flickr-photos img {
    transition: opacity 1s;
}
.flickr-photos a {
    display: inline-block;
    text-align: center;
    overflow: hidden;
}
.flickr-photos a:before {
    content: '';
    margin-left: -100%;
}
.flickr-photos a:after {
    content: '';
    margin-right: -100%;
}
.flickr-carousel-button {
    position: absolute;
    right: 0;
    bottom: 0;
}



/* FOOTER */

/* override path to som image for history */
.footer-organization .brand-som a {
    background-image: url('../../images/som-H-logo.svg') !important;
}
.footer-organization .brand {
    height: 65px;
}

/* Needed to add this section to place the  #mhc-logo evne at the same place  if the first header wrapped */
.header-container{
	position: relative;	
}


.lane-header  .btn.outline {
	padding: 6px 17px;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
}

/* lane header */
.lane-header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	position: relative;
}

/* HEADER.css */


header section, footer section, .content{
	margin: auto;	
}


header:first-of-type{
 	background-color: #8c1515;;
 	color: white;
 }

header:nth-of-type(2){
	background: white;
}


header section {
	padding: 0 33px;
}

section.header {
	display: flex;
	padding-top: 8px;
	padding-bottom: 8px;
	justify-content: space-between;
}

section.header a {
	color: white;
}

/* utility menu: for simplicity, hide nav including login, bookmarks, etc. */
#navigation {
    display:none;
}

/* Because the stanford image start with white 7 pixels */
.lane-header .brand {
	margin: 16px 0;
	margin-left: -7px;
}

.lane-header .brand a {
	display: block;
}

.brand a, .brand a:link, .brand a:focus, .brand a:visited {
	background-image: url('../../images/sm-logo.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	padding: 0 0 0 142px;
	color: #333333;
	font-weight: 400;
	text-decoration: none;
	font-size: 1em;
	height: 36px;
}

