
html {
    scroll-behavior: smooth;
}

body {
    background-color: #ecf1f2;
    font-family: 'Source Sans Pro', sans-serif;
    /* override lane-reset.css for font-size and line-height */
    font-size: initial;
    line-height: initial;
}

a {
    color: #007c92;
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
}

a:active,a:hover {
    text-decoration: underline;
}

/*pure grids sets this to sans-serif, needs to be 'Source Sans Pro'*/
.pure-g [class^='pure-u'] {
    font-family: 'Source Sans Pro', sans-serif;
}

.centered, h1 {
    min-width: 989px;
    margin: 0 48px;
    position: relative;
}



h1 {
    padding: 10px 0;
}

h1 a {
    background-image: url('../../images/sm-logo.svg');
    background-repeat: no-repeat;
    color: #333;
    display: inline-block;
    font-size: 18px;
    line-height: 16px;
    padding: 10px 0 0 176px;
}

h1 a:visited,
h1 a:active,
h1 a:hover {
    color: #333;
}

h1 i {
    font-size: 12px;
}

.lrg-screen-hide{
    display: none;
}

#mhc-logo{
    position: absolute;
    top: 85px;
    font-size: 12px;
    left: 225px;
}

#nav {
    float: right;
}

.nav-item {
    float: left;
    font-size: 11px;
}
.nav-item:hover{
    background-image: url('../../images/diag.png');
    background-color: rgba(204, 204, 204, .5);
}

.nav-item>div {
    display: none;
    position: absolute;
    background-color: #666666;
    width: 320px;
    padding: 8px;
    box-sizing: border-box;
    background-image: url('../../images/diag.png');
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .8);
    min-height: 258px;
}

.nav-item:hover>div {
    display: block;
}

.nav-item ul {
    padding-right: 7px;
    margin-bottom: 10px;
}

.nav-item li {
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px #777777 solid;
}
.nav-item li:last-child{
    border-bottom: none;
}

.nav-item a {
    color: #dddddd;
    text-decoration: none;
    font-weight: 600;
    display: block;
    padding: 0 18px;
    line-height: 34px;
}

.nav-item li a {
    font-weight: 400;
    line-height: 16.9px;
    padding: 2px 0 2px 2px;
    color: #eee;
    text-shadow: #333 1px 1px 2px;
}
.nav-item li a:hover {
    color: white;
    background-color: rgba(204, 204, 204, .2);
}
.nav-item .explore{
    width: 144px;
    box-sizing: border-box;
    position: absolute;
    bottom: 8px;
    right: 8px;
    line-height: 16px;
    background-color: #5e3032;
    padding: 4px;
    font-size: 12px;
    font-weight: 600;
}
.nav-item .explore span{
    display: block;
    color: white;
    font-size: 13px;
    border-bottom: 1px rgba(255, 255, 255, .4) solid;
}
.nav-item .explore i{
    font-size: 6px;
}



#gift {
    display: block;
    padding: 10px 10px 18px 68px;
    background-color: #fff;
    background-image: url('../../images/gift-transp.png');
    background-position: 9px 7px;
    background-repeat: no-repeat;
    line-height: 18px;
    border: 1px #cbc0c1 solid;
    box-shadow: 0 0 2px #cbc0c1;
    font-size: 12px;
}

.menu {
    border-top: 12px solid #8c1515;
    margin-bottom: 24px;
}

.menu a {
    color: white;
    background-color: #333333;
    font-weight: 300;
    display: block;
    padding: 9px 20px 9px 13px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, 0) 100%);
}

.menu a:hover {
    background-color: #555555;
}

.menu .menuitem-active {
    background-color: #707070;
}

.gutter-left {
    margin-left: 6px;
    margin-top: 12px;
}

.gutter-right {
    margin-right: 6px;
    margin-top: 12px;
}

#search {
    background-color: #8c1515;
    padding: 12px;
    font-weight: 300;
    color: #fff;
}

#search fieldset {
    background-color: white;
    display: inline-block;
    padding: 2px;
    margin-top: 12px;
}

#search input[type='text'] {
    width: 516px;
    padding: 8px;
    box-sizing: border-box;
}

#search input[type='submit'] {
    background-color: #009abb;
    border: medium none;
    border-radius: 6px;
    color: white;
    padding: 12px;
    font-size: 18px;
}

/*content styles start here*/
.heading-container {
    width: 100%;
    text-align: center;
    margin-top: 12px;
}

.heading-left,.heading-right {
    display: inline-block;
    height: 4px;
    width: 28%;
    border-top: 1px solid;
    border-top-color: #d8dbdc;
    vertical-align: middle;
    box-sizing: border-box;
}

.wrap {
    margin-top: -30px;
}

.wrap-title {
    display: inline-block;
    margin: 0 10px;
}

.heading-right {
    border-left: 26px solid;
    border-left-color: #d8dbdc;
    margin-left: 6px;
}

.heading-left {
    border-right: 26px solid;
    border-right-color: #d8dbdc;
    margin-right: 6px;
}

h2 {
    font-weight: 400;
    font-size: 28px;
    font-family: 'Fjord One', serif;
    color: #666666;
}

.wilson-title {
    text-align: center;
}

.wilson-search {
    float: right;
    margin-top: 35px;
}

.wilson-search button {
    cursor: pointer;
    font-size: 16px;
}

h3 {
    display: block;
    font-size: 22px;
    padding: 6px 6px 6px 0;
    line-height: 1.2em;
    margin-bottom: .2em;
    font-family: 'Fjord One', serif;
    color: #666666;
}

h4 {
    display: block;
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: .2em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #8c1515;
}

.border-and-shadow {
    padding: 12px;
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px .2px rgba(0, 0, 0, .1);
    overflow: hidden;
    clear: both;
}

.border-and-shadow img {
    float: left;
    margin: 0 12px 12px 0;
}

.border-and-shadow p,.border-and-shadow a {
    line-height: 1.4;
    margin: 0 0 12px;
}

.border-and-shadow ul,.side-box ul,.content ul {
    margin-top: 0;
    margin-bottom: 11px;
    display: block;
    list-style-type: disc;
    padding-left: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    line-height: 1.4;
}

.content ol {
    list-style-type: decimal;
    display: block;
    margin: 1em 0 1em 0;
    padding-left: 40px;
}

.content ol li {
    margin-bottom: 12px;
}

.side-box {
    margin: 12px 0 24px 0;
    clear: both;
    display: block;
    height: auto;
    min-height: 1%;
    overflow: hidden;
}

.core-covers {
    float: left;
    width: 47%;
    margin-bottom: 36px;
    margin-right: 1em;
}

.block-heading {
    width: 30%;
    max-height: 200px;
    min-height: 100px;
    padding-top: 0;
    padding-bottom: 12px;
    margin: 0 12px 12px 0;
    text-align: right;
    overflow: hidden;
    background-color: #009abb;
    float: left;
}

.feature {
    padding-left: 12px;
}

.feature .block-heading {
    width: 100%;
    height: auto;
    min-height: 1%;
    padding-top: 0;
    padding-bottom: 12px;
    margin: 0 12px 12px 0;
    text-align: left;
    overflow: hidden;
    background-color: #8c1515;
    box-sizing: border-box;
}

.block-heading h3 {
    display: block;
    font-size: 20px;
    padding: 6px 6px 6px 6px;
    line-height: 1.2em;
    margin-bottom: .2em;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

.block-content {
    width: 65%;
    float: left;
    margin-bottom: 36px;
}

.feature  .block-content {
    clear: both;
    display: block;
    width: 100%;
    font-size: 14px;
}

.contact-links,.side-box p {
    display: block;
    font-size: 12px;
    float: left;
}

.side-box p {
    clear: both;
}

.side-box img {
    float: left;
    margin-right: 6px;
    clear: both;
}

.content p {
    margin: 12px 0 24px 0;
}

b,strong {
    color: #8c1515;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: bold;
}

blockquote {
    width: 90%;
    box-sizing: border-box;
    color: #666666;
    font-family: 'Fjord One', serif;
    font-style: italic;
    border: none;
    padding-top: 0;
    padding-bottom: 18px;
    padding-left: 36px;
    overflow: hidden;
    margin: 0 0 0 0;
    display: block;
    clear: both;
}

.img-caption {
    background-color: #333;
    padding: 0;
    margin-bottom: 12px;
    clear: both;
}

.border-and-shadow .img-caption img,.content .img-caption img {
    float: right;
    margin: 0;
}

.border-and-shadow .img-caption a,.content .img-caption a {
    color: #fff;
    font-size: 12px;
}

.border-and-shadow .img-caption p,.content .img-caption p {
    margin: 18px 12px 12px 12px;
    color: #fff;
    overflow: hidden;
    font-size: 1rem;
    font-weight: normal;
}

.clearfix {
    content: ' ';
    display: table;
}

/*class button for mimicing SOM buttons.  See markup at:
http://lane.stanford.edu/samples/button-css.html
 */
.button {
    font-size: 14px;
    font-weight: 400;
    margin: 3px;
    padding: 5.25px 10.5px;
    border: 1px #cccccc solid;
    border-radius: 3.5px;
    cursor: pointer;
    background-color: #f1f1f1;
    display: inline-block;
}

.button:hover {
    border-color: #adadad;
}

.button span {
    background-color: #007c92;
    color: #ffffff;
    padding: 7px 12px 7px 7px;
    border-radius: 4px;
    margin-right: 6px;
    display: inline-block;
}

.inner-icon {
    background-color: #ffffff;
    border-radius: 12px;
    font-size: 13px;
    height: 24px;
    width: 24px;
    padding: 4px;
    margin-right: 6px;
    line-height: 15px;
    box-sizing: border-box;
    text-align: center;
}

.button a {
    color: #ffffff;
}

.icon {
    color: #007c92;
}

/*styles for events on homepage*/
.event {
    background-color: #09425a;
    font-size: 13px;
    margin-bottom: 15px;
}

.event-date {
    color: white;
    text-align: right;
    text-transform: uppercase;
    padding: 4px;
}

.event-info {
    background-color: white;
    padding-left: 6px;
    /*safari & FF show px of .event background on right so:*/
    margin-right: -1px;
}

.event-time {
    font-weight: bold;
}

.landing{
    padding: 0;
}
.landing img{
    display: block;
    width: 100%;
}
.landing h3{
    color: white;
    background-color: #8c1515;
    background-image: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    line-height: 19.8px;
}
.landing p{
    padding: 10px;
    margin: 0;
}
.landing ul{
    padding: 10px 0;
    margin: 0 10px;
    border-top: 1px solid #dddddd;
}
.landing ul li{
    list-style: none;
}

.flickr-thumbs {
    white-space: nowrap;
    overflow: auto;
    margin: 10px 0;
}

.flickr-thumbs a {
    margin-right: 5px;
}

.flickr-carousel {
    position: relative;
}
.flickr-photos {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 12px;
    height: 200px;
    opacity: 0;
}
.flickr-photos, .flickr-photos img {
    transition: opacity 1s;
}
.flickr-photos a {
    display: inline-block;
    text-align: center;
    overflow: hidden;
}
.flickr-photos a:before {
    content: '';
    margin-left: -100%;
}
.flickr-photos a:after {
    content: '';
    margin-right: -100%;
}
.flickr-carousel-button {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* FOOTER */

/* superfooter */
.super-footer {
    background-color: #666;
    margin-top: 12px;
    padding-top: 17px;
}

.super-footer .centered {
    padding-bottom: 12px;
}
.super-footer h2, .super-footer h3 {
    font-family: 'Fjord', serif;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 12px;
    margin-bottom: 24px;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    border-bottom: none;
}


.super-footer h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.super-footer a, .super-footer a .fa {
    color: white;
}

.super-footer li {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 11px;
}
/* subfooter */

.footer-link-bar {
	background-color: transparent;
    font-size: 18px;
    clear: both;
    padding: 15px 0;
    text-align: center;

}

.footer-link-bar a {
    color: #333;
    font-family: 'Fjord One', serif;
}

.footer-link-bar ul {
    float: right;
}

.footer-link-bar li {
    display: inline-block;
    padding: 8px 0;
}


.footer-link-bar i {
    color: #8c1515;
    height: 22px;
    line-height: 20px;
    text-align: center;
    width: 22px;
}

/* copyright footer */
.footer-copyright {
    background-color: #333;
    color: white;
    padding: 30px 0;
    box-sizing: border-box;
}

.footer-copyright li {
	display: inline-block;
}

.footer-copyright a, .footer-copyright i {
	color: white;
    padding-right: 8px;
}

.footer-copyright .right-aligned {
	float: right;
}

.footer-copyright .bullet:before {
	content: '\00a0\2022\00a0\00a0';
	color:#fff;
	margin-left: 2px;
	margin-right: 6px;
}

.footer-copyright span {
    display: none;
}

/*global footer*/
.footer-global {
    background-color: #333;
    box-sizing: border-box;
}

.footer-global .footer-logos {
    background-image: url('../../images/footer-logos-white.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px auto;
    text-align: center;
    width: 989px;
}

.footer-logos li {
    display: inline-block;
}

.footer-logos a {
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.footer-logos li:nth-child(1) {
    width: 12%;
}

.footer-logos li:nth-child(2) {
    width: 15%;
}

.footer-logos li:nth-child(3) {
    width: 14%;
}

.footer-logos li:nth-child(4) {
    width: 18%;
}

.footer-logos li:nth-child(5) {
    width: 18%;
}

.footer-logos li:nth-child(6) {
    width: 18%;
}

/* HEADER.css */


.utility-menu {
    background-color: black;
    color: white;
    font-weight: 600;
    height: 32px;
    margin: 0;
    top: 0;
    width: 100%;
}

.login {
    line-height: 32px;
    margin: 0 5%;
    position: absolute;
    right: 0;
}

.login > li {
    display: none;
    font-size: 16px;
    letter-spacing: .75px;
    padding: 0 25px;
}

.login > .login-item-active {
    display: inline-block;
}

.login .fa {
    font-size: 16px;
    margin-right: 2px;
}

.login a,
.login a:active,
.login a:visited,
.login a:hover,
.login .fa,
.login a .fa {
    color: white;
}

.login > :nth-child(1) {
    background-color: #007c92;
}

.login > :nth-child(3) {
    background-color: #a65a1f;
}

.login > :nth-child(4) {
    background-color: #878787;
}

.login > :nth-child(5),
.login > :nth-child(6) {
    background-color: #535353;
}

.login > :nth-child(5) a,
.login > :nth-child(6) a {
    color: #c1c1c1;
}

.login > :nth-child(7) {
    cursor: pointer;
    padding-left: 12px;
    position: relative;
}

.login > :nth-child(7) .fa,
.login > :nth-child(8) a {
    color: #878787;
}

.login > :nth-child(8) {
    margin-left: 38px;
    padding-right: 0;
}

.login-info {
    background-color: white;
    border: 1px black solid;
    box-sizing: content-box;
    color: #333;
    display: none;
    font-size: 14px;
    font-weight: bold;
    left: -130px;
    line-height: initial;
    padding: 23px;
    position: absolute;
    top: 40px;
    width: 250px;
    z-index: 1;
}

.login-info:after, .login-info:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
}

.login-info:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 15px;
    margin-left: -15px;
}

.login-info:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #000000;
    border-width: 16px;
    margin-left: -16px;
}

.login-info p {
    font-size: 12px;
    font-weight: initial;
    margin: 5px 22px 0 0;
}

.login > :nth-child(7):hover .login-info {
    display: block;
}

/* lane header */
.lane-header {
    background-color: white;
    font-size: 14px;
}

.brand {
    height: 91px;
    padding-top: 27px;
    display: block;
    margin: 0;
}

.brand a, .brand a:link, .brand a:focus, .brand a:visited {
	background-image: url('../../images/sm-logo.svg');
    background-repeat: no-repeat;
    padding-left: 176px;
    height: 48px;
    float:left;
    color: #333333;
    font-weight: 400;
    text-decoration: none;
    font-size:20px;
}

.library-contact {
    position: absolute;
    right: 60px;
    top: 54px;
}

.library-contact li {
    border: 2px #007c92 solid;
    background-color: #007c92;
    border-radius: 6px;
}

.library-contact li a {
    display: block;
    padding: 12px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}