@media ( max-width : 812px) {
	.centered, h1 {
		min-width: auto;
		margin: 0 9px;
	}
	#search input[type='text'] {
		width: 83%;
	}
	#search fieldset {
		background-color: #8c1515;
		width: 90%;
	}
	.core-covers {
		width: 100%;
	}
	.gutter-left {
		margin-left: 0px;
	}
	.gutter-right {
		margin-right: 0px;
	}
	.menu-container span:first-child {
		display: block;
		font-size: 24px;
		letter-spacing: 1px;
		background-color: #8c1515;
		padding: 11px 28px;
		margin-bottom: 0px;
	}
	.menu-container span:first-child a {
		color: white;
	}
	#gift {
		margin-top: 24px;
	}
	.brand {
		height: 65px;
	}
	#mhc-logo {
		top: 75px;
		left: 178px;
	}
}

@media ( max-width : 360px) {
	.brand a, .brand a:link {
		padding-top: 0px !important;
	}
}