@media(max-width:1100px){
	

.content {
	padding: 10px;
}

.centered, h1 {
	min-width: auto;
	margin: 0 9px;
}

#search input[type='text'] {
	width: 83%;
}

#search fieldset {
	background-color: #8c1515;
	width: 90%;
}

.core-covers {
	width: 100%;
}

.gutter-left {
	margin-left: 0px;
}

.gutter-right {
	margin-right: 0px;
}


.mobile-screen-menu div {
	text-align: center;
}

.mobile-screen-menu a, .mobile-screen-menu a i, .mobile-screen-menu .login a i
	{
	color: black;
	display: block;
	padding-bottom: 3px;
	line-height: normal;
}
/* END of menu for small and medium screen */
}

@media(max-width:812px){

	#mhc-logo {
	    left: 149px;
	}
}