/* content CSS */

body {
	font-family: verdana, geneva, sans-serif;
	font-size: 65%;
	background-color: #fff;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
}

#breadCrumb {
	margin: 0px;
	padding: 0px;
	margin-left: 17px;
	margin-bottom: 10px;
	color: #777;
	/*font-size: 0.9em;*/
}

#breadCrumb a:link, #breadCrumb a:visited {
	text-decoration: none;
	color: #990000;
}

#breadCrumb a:hover, #breadCrumb a:active  {
	text-decoration: underline;
	color: #990000;
}

#contentBody {
	position: relative;
	top:2px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	z-index: 3;
}

.sideBlueBox, .sideTanBox, .centerGreenBox, .whiteBox, .centerBlueBox {
	height: auto;
	margin: 0px;
	margin-bottom: 15px;
	padding: 0px;
	/*overflow: hidden;*/
}

.sideBlueBox, .sideTanBox, .whiteBox  {
	width: 170px;
}

.centerGreenBox, .centerBlueBox, .centralColumn .whiteBox {
	width: auto;
}

.whiteBox {
	border: 1px solid #ccc;
	text-align: center; /* used to center the grey divider due to a bug in IE ignoring the auto margin */
}

.sideBlueBox h2, .sideBlueBox h2.SquareTitle,
.sideTanBox h2, .centerGreenBox h2, .whiteBox h2, .centerBlueBox h2 {
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	font-weight: 800;
	margin: 0px;
}

.sideBlueBox h2, .sideBlueBox h2.ImageTitle, .sideBlueBox h2.SquareTitle {
	color: white;
}

#leftColumn .sideBlueBox h2 {
	background-image: url(/././images/templates/default/whiteCornerBlueBoxTL.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

#leftColumn .sideBlueBox h2 {
	padding-left: 10px;
	padding-right: 2px;
}

#rightColumn .sideBlueBox h2   {
	background-image: url(/././images/templates/default/whiteCornerBlueBoxTR.gif);
	background-repeat: no-repeat;
	background-position: top right;
}

#rightColumn .sideBlueBox h2 {
	padding-left: 2px;
	padding-right: 10px;
}

.sideBlueBox h2 {
	/* background-color: #6784A2;  - blue.        darker blue 7589a0;      lighter blue 879ab0;*/
	background-color:  #B7B5AB; /* latest blue to use selectively elsewhere -- #7589a0; /*#879ab0; /*#7589a0;  #879ab0  * #69798c  #B7B5AB;  grey from cancer center */
	text-transform: uppercase;
}

.sideBlueBox h2.attention {
	background-color:  #7589a0;
}

.sideBlueBox h2.SquareTitle {
	/* background-color: #6784A2;  - blue.*/
	background-color: #B7B5AB;  /*grey from cancer center */
	text-transform: uppercase;
}

#leftColumn .sideBlueBox h2.SquareTitle, #rightColumn .sideBlueBox h2.SquareTitle {
	background-image: none;
}

#leftColumn .sideBlueBox h2.ImageTitle, #rightColumn .sideBlueBox h2.ImageTitle  {
	padding: 0px;
}

#leftColumn .sideTanBox h2 {
	color: #444;
	text-transform: uppercase;
	background: #d9d7b0 url(/././images/templates/default/beigeTopLeftCorner.gif) no-repeat top left;
}

#rightColumn .sideTanBox h2 {
	color: #444;
	text-transform: uppercase;
	background: #d9d7b0 url(/././images/templates/default/beigeTopRightCorner.gif) no-repeat top right;
}

.centerGreenBox h2 {
	float: left;
	width: auto;
	margin-right: 4px;
	padding-left: 20px;
	padding-right: 35px;
	color: white;/*  pm removed important 5-16-06 for multi-tabl*/
	/*background: #996 url(/././images/templates/default/oliveRightUpCorner.gif) no-repeat top right; */
	background: #990000 url(/././images/templates/default/oliveRightUpCorner.gif) no-repeat top right;
	border: 0px;
	border-bottom: 3px solid #ccc; /*#dbdbc9;*/
}

h2.activeTab {
	background: #900 url(/././images/templates/default/oliveRightUpCorner.gif) no-repeat top right;
}

h2.activeTab a, h2.activeTab a:link, h2.activeTab a:visited, h2.activeTab a:hover, h2.activeTab a:active {
	color: white;
}

h2.bgTab {
	background: #ecece8 url(/././images/templates/default/oliveRightUpCorner.gif) no-repeat top right;
}

h2.bgTab a, h2.bgTab a:link, h2.bgTab a:visited, h2.bgTab a:hover, h2.bgTab a:active {
	color: #8a604f;
}

/*
* html .centerGreenBox {
	height: 1%;
}
#6884a4
*/

.centerBlueBox h2 {
	float: left;
	width: auto;
	padding-left: 20px;
	padding-right: 35px;
	color: white !important;
	/* background: #6784A2 url(/././images/templates/default/whiteCornerBlueBoxTR.gif) no-repeat top right;  -- blue*/
	background: #B7B5AB url(/././images/templates/default/whiteCornerBlueBoxTR.gif) no-repeat top right;  /* grey from cancer center */
	border: 0px;
	border-bottom: 1px solid #fff;
}

.whiteBox h2 {
	padding: 6px;
	padding-top: 10px;
}

.buttonBox {
	background-color: #f2f3ed;
	border: 1px solid #e0dfc2;
}

.whiteBoxDivider {
	clear: both;
	width: 90%;
	height: 6px;
	font-size: 6px; /* avoid default auto height in IE */
	background-color: #e9e9e9/*#d7d7c3*/;
	margin: 0 auto;
}

/* for search info boxes */
/*
.whiteBox ul {
	text-align: left;
}
*/

.sideBlueBoxShortContent, .sideBlueBoxLongContent, .sideTanBoxContent, .centerGreenBoxContent, .whiteBoxContent, .centerBlueBoxContent {
	height: 1%; /* solves dissolving/vanishing borders in IE */
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	/*text-indent: 10px;*/
	text-align: left;
	/*background: yellow;*/
}

.sideBlueBoxShortContent h2, .sideBlueBoxLongContent h2, .sideTanBoxContent h2, .centerGreenBoxContent h2, .whiteBoxContent h2, .centerBlueBoxContent h2 {
	display: none;
}

.sideBlueBoxShortContent {
	margin-top: 1px;
	border: 1px solid #ccc;
	background: #fff;
}

.sideBlueBoxLongContent {
	margin-top: 1px;
	border: 1px solid #ccc;
	background: #fff url(/././images/templates/default/blueBoxGradient.jpg) repeat-x bottom left;
}

.centerGreenBoxContent {
	border: 1px solid #dcdbdb;
	/*background-color: green;*/
}

#leftColumn .sideTanBoxContent {
	background: #f2f3ed url(/././images/templates/default/beigeBottomRightCorner.gif) no-repeat bottom right;
}

#rightColumn .sideTanBoxContent {
	background: #f2f3ed url(/././images/templates/default/beigeBottomLeftCorner.gif) no-repeat bottom left;
}

.centerBlueBoxContent {
	background: url(/././images/templates/default/blueToWhiteBoxGrad.jpg) repeat-x top left;
	border: 1px solid #ccc;
}

div#bottomCurvedCorner {
	position:relative;
	bottom:10px;
	left:0px;
	width:100%;
	height: 10px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: transparent;
	background-image: url(/././images/templates/default/searchBL.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#sampleBoxBottomCorner {
	position:absolute;
	bottom:0px;
	right: -2px;
	width: 17px;
	height: 17px;
	padding:0px;
	margin: 0px;
	border: 0px;
}

.topCurvedCorner{
	position:absolute;
	top:0px;
	left: 0px;
	width: 12px;
	height: 12px;
	padding:0px;
	margin: 0px;
	border: 0px;
	z-index: 50;
}

#footer {
	position:relative;
	top: 0px;
	left:0px;
	clear: both;
	height: auto;
	margin: 0 auto;
	margin-top: 15px;
	border-top: 1px solid #ccc;
	padding-top: 2px;
	background: transparent url(/././images/templates/default/footerBg.jpg) repeat-x top left;
}

#footer table {
	width: 100%;
}

#footer  td {
	margin: 0px;
	padding: 0px;
	border: 0px;
	vertical-align: top;
}	

td#footerText {
	white-space: nowrap;
	line-height: 120%;
	text-align: center;
}

/*
.footerComment {
	font-style: italic;
	color: #333;
}
*/

#footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
	text-decoration: none;
}



/* Clinical trials -- testing */

/*.sideBlueBoxShortContent ul, .sideBlueBoxLongContent ul, .sideTanBoxContent ul {*/
ul {
	padding: 3px;
	margin: 0px;
}

ul ul {
	padding-left: 6px;
}

ul li {
	display: list-item;
	background-image: url(/././images/templates/default/list-background-line.gif);
	background-repeat: no-repeat;
	background-position: 0px -3px;
	list-style: none;
	padding-left: 5px;
	padding-bottom: 2px;
	margin: 0px;
}

.moreItem {
	background-image: url(/././images/templates/default/list-background-chevron.gif);
	padding-left: 8px;
}

img {
	border: 0px !important;
}

li img {
	margin-left: -5px; /* dealing w/ icons, eg DocXpress? */
}

/*
.sideBlueBoxShortContent li, .sideBlueBoxLongContent li, .sideTanBoxContent li {
	display: list-item;
	background-image: none;
	list-style: disc outside;
	padding: 0px;
	margin: 0px;
}
*/

td#leftColumn, td#rightColumn {
	width: 170px; /* 180px originally, prior to removing 15px side padding from central column*/
	height: auto;
	vertical-align: top;
	overflow: hidden;
}

td#leftColumn {
	padding-right: 20px;
}

td#rightColumn {
	padding-left: 20px;
}

td.centralColumn {
	width: auto;
	vertical-align: top;
	/*text-align: center; exploiting IE hack to center column boxes*/
}

td.centralColumn div {
	width: auto;
	text-align: left; /*compensating for the above td.centralColumn settings*/
}

* html td.centralColumn {
	width: 100%;/*IE weird doubling of padding problem fix - surreptitious */
}
	/*
div#otherPortalOptions {

	position:relative;
	top: 1em;
	left: 0px;
	width: 100%;
	height: 1em;
	background: transparent;

}
	*/

form {
	margin: 0px;
	padding: 0px;
}

input.button  {
	cursor:pointer;
	cursor:hand;
	font-weight: bold;
	font-size: 1em;
	color:#000;
	text-align:middle;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

#portalForm select{
	/*position: absolute;*/
	float:right;
	/*bottom: 0px;
	right: 0px;*/
	width: 25%;
	height: auto;
	font-size: 100%;
	z-index: 100;
}

/*button-like box experiment*/

/* set the image to use and establish the lower-right position */
.cssbox, .cssbox_body, .cssbox_head, .cssbox_head h2 {
	background: transparent url(/././images/templates/default/buttonLikeBox300px.jpg) no-repeat bottom right;
}
.cssbox {
	width: 146px !important; /* intended total box width - padding-right(next) */
	width: 144px; /* IE Win = width - padding */
	padding-right: 2px; /* the gap on the right edge of the image (not content padding) */
	margin: 20px auto; /* use to position the box */
}
/* set the top-right image */
.cssbox_head {
	background-position: top right;
	margin-right: -2px; /* pull the right image over on top of border */
	padding-right: 40px; /* right-image-gap + right-inside padding */
}
/* set the top-left image */
.cssbox_head h2 {
	background-position: top left;
	margin: 0; /* reset main site styles*/
	border: 0; /* ditto */
	padding: 25px 0 2px 40px; /* padding-left = image gap + interior padding ... no padding-right */
	height: auto !important;
	height: 1%; /* IE Holly Hack */
}
/* set the lower-left corner image */
.cssbox_body {
	background-position: bottom left;
	margin-right: 25px; /* interior-padding right */
	padding: 5px 0 2px 40px; /* mirror .cssbox_head right/left */
}

h1 {
	font-weight: 500;
	color: #8a604f;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: arial;
}

h2 {
	color: #444;
	font-weight: 700;
}

h2, h3, h4, h5 {
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
}

h3 {
	color: #444;
}

.pList, p.noTopPadding {
	padding-top:0;
	margin-top:0;
}

a {
	color: #900;
}

a:link, a:visited {
	color: #900;
	text-decoration: none;
}

a:hover, a:active {
	color: #036;
	text-decoration: underline !important;
}

p a:link, p a:visited { 
	text-decoration: underline;
}

p.pList a:link, p.pList a:visited { 
	text-decoration: none;
}

h3 a:link, h3 a:visited {
	text-decoration: underline;
}

/* eJournals */
/*
#alphabet {
	width: 100%;
	padding-left: 0;
	margin-top: 10px;
*/
	
	/*
	margin-top: 8px;
	margin-bottom: 8px;
	
	padding-left:.5em;*/
	
/*	
}

#alphabet .alphaExtras {
	background: #ecece8;
	padding: 3px;
	margin-left: 0px;
	margin-right: 1px;
	margin-top: 0px;
	margin-bottom:0px;
}
#alphabet .letter  {
	background: #d3cebf;
	padding: 3px;
	margin-left: 0px;
	margin-right: 1px;
	margin-top: 0px;
	margin-bottom:0px;
}


#alphaBrowse {
	background-color:#e7e2cd;
	padding:0.6em 1.25em 0.6em 0.6em;
	margin-top:0;
	margin-bottom: 15px;
}*/
/*
.browseTagline {
	clear: both;
	margin-left:0;
	padding-left:.5em;
	border-top: 4px #99987a solid;
	border-right: 1px #99987a solid;
	border-left: 1px #99987a solid;
	border-bottom: 1px #99987a solid;
	background: #e0e0d1;
	margin-top: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.onlineBrowseHeader {
	margin-top: 1.5em;
	margin-bottom:0;
}
*/

/* below replaced w/ Ryan's popInContent class */
/*
.taglineContainer{
	clear: both;
	position: relative;
	top: 0px;
	left: 0px;
	width: 99%;
	background-color: #e0e0d1;
	padding:5px;
	text-indent: 15px;
	margin: 0px;
	margin-bottom: 15px;
	border: 1px solid #99987a;
	border-top: 5px solid #99987a;
}
*/
/* Ryan's styles*/


.hide {
	display: none;
}
.indent {
	padding-left: 1.6em;
}
.keywordresult {
	color: #000000;
	font-weight: bold;
}

.searchHeader {
	margin-left:0;
	margin-bottom:0.8em;
}
#searchHeaderTable {
	width:100%;
	border-spacing:0px;
}
.searchHeaderTitle {
	padding-left: 1.6em;
	font-weight: bold;
	white-space: nowrap;
}
.searchHeaderMiddle {
	background-color: #e7e2cd; 
	padding:0.6em 1.25em 0.6em 0.6em;
	white-space: nowrap;
}
.searchHeaderRight {
	background: url(/././images/templates/default/searchHeaderTopRight.gif) top right no-repeat;
	background-color:#e7e2cd;
	padding:0.6em 1.25em 0.65em 0.6em;
	white-space: nowrap;
	margin-left:-1px;
}
.searchHeaderLeft {
	background: url(/././images/templates/default/searchHeaderTopLeft.gif) top left no-repeat;
	background-color:#e7e2cd;
	padding:.6em 0.2em 0.65em 0em;
	white-space: nowrap;
}
#tabTip{
	float: right;
	font-size:.9em;
}

/* popInContent styles used for did you mean, sfx, suldb content (eLibrary and incremental) */
.popInContent {
	clear: both;
	background: /*#e0e0d1;*/ #e2e2db;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin: 0px;
	margin-bottom: 10px;
	border-top: 5px solid #99987a;
	border-right: 1px solid #99987a;
	border-left: 1px solid #99987a;
	border-bottom: 1px solid #99987a;

}
div#eLibrarySearchResults {
	padding-right:0px;
	padding-left: 20px;
	/*margin-bottom: 14.5em;*/
}

#eLibraryTabs {
	display: inline;
	white-space: nowrap;
}

#eLibraryTabs div:hover {
	text-decoration: underline;
}
.eLibraryTab {
	background: /*#d3cebf;*/ #d2d5c9;
	cursor: pointer;
	color: #980202;
	position:relative;
	float: left; 
	text-align: center;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-right: 2px;
}


.eLibraryTabActive {
	background: #99987a;
	cursor: default;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	position:relative;
	float: left; 
	text-align: center;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-right: 2px;
}

span.tabHitCount {
	color: #393838;
}

.eLibraryTabActive span.tabHitCount {
	color: #ffffff;
}

#metaSearchResultsContainer {
	float:left;
	position:relative;
	text-align: center;
}
.metaSearchResults {
	background-color: #ecece8;
	cursor: pointer;
	color: #980202;
	position:relative;
	float: left;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-left: 0px;
	margin-right: 1px;
}
.metaSearchResultsRightCorner {
	background: url(/././images/templates/default/metaSearchResultsRight.gif) top right no-repeat;
	background-color:#ecece8;
	cursor: pointer;
	color: #980202;
	position:relative;
	float: left;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-left: 0px;
	margin-right: 1px;
}

div#incrementalSearchResults{
	padding-top: 0.5em;
	padding-right:0em;
	/*padding-bottom:2.25em;*/
	padding-left:2.25em;
	margin-top: -0.25em;
	margin-bottom: 0.25em;
}
div#incrementalSearchResults ul  {
	margin-left:0em;
	padding-left:0em;
	list-style:none;
}

.searchColumn3 { float:left; width:31%;margin:0;padding:0}

/* used on incremental results page to make micromedex static result look like incremental */
p.micromedex {
        padding-left: .6em;
        background-image: url(/././images/templates/default/list-background-line.gif);
        background-repeat: no-repeat;
        background-position: 0 0;
        margin-bottom: 0.15em;
}
p.micromedex a:link, p.micromedex a:visited {
	text-decoration: none;
}

/*CY's search results*/
dt {font-weight:bolder}
dd {margin:0; padding:0 0 0 2em}
.provider {color:gray}
/*dl ul {padding:0;margin:0;list-style-position:outside;list-style:none;} IE7 fix below*/
dl ul {padding:1px;margin:0;list-style-position:outside;list-style:none;}
dl li {background-image:none;}

.searchResults {
	margin-right: 200px;
}

.leftColumnof2inBox, .rightColumnof2inBox {
	float: left;
	width: 45% !important; /*w/o the 'important' qualifier browsers don't accurately render the width*/
	margin: 0px;
	margin-right: 25px;
	padding: 0px;
	white-space: normal;
}

.leftColumnof3inBox, .centerColumnof3inBox, .rightColumnof3inBox {
	float: left;
	width: 29% !important; /*w/o the 'important' qualifier browsers don't accurately render the width*/
	margin: 0px;
	margin-right: 25px;
	padding: 0px;
	white-space: normal;
}

.rightColumnof2inBox, .rightColumnof3inBox {
	margin-right: 0px;
}

/* commented out by TP - doesn't appear to be used */

/*
.tableWithSidePadding td {
	padding-right: 1em;
	padding-bottom: .4em;
}
*/

/*font specifications*/
.smallFont {
	font-size: 1.0em;
}

.mediumFont {
	font-size: 1.1em;
}

.largeFont {
	font-size: 1.2em;
}

h1, .portalTitle {
	font-size: 2em;
	margin-bottom: 10px; /* pm changed from 20px Apr 20, let me know if I broke something */
}
h2 {
	font-size: 1.0em;
}
h3 {
	font-size: 1.0em;
}
/*
.centralColumn h2 {
	font-size: 1.1em;
}
.centralColumn .centerBlueBox h2, .centralColumn .whiteBox h2, .centralColumn .centerGreenBox h2 {
	font-size: 1.2em;
}
*/


.whiteBox h2 {
	font-size: 1.2em;
}
.searchHeader {
	font-size: 1.2em;
}
#tabTip .whiteBox {
	font-size: 0.9em;
}

/* search info */
#popInContent, .popInContent{
	font-size: 1.1em;
}

#spellResults {
	font-size: 0.8em;
}

/* Ryan's play stuff */
.treemenuTrigger{
	color: #990000;
	cursor: pointer;
	display: block;
}
.treemenuBranch{
	display: none;
	margin-left: 16px;
	margin-bottom: -16px;
}

