/* default template CSS */

#pageContainer {
	position: relative;
	width: 100%;
	min-width: 800px;
	max-width: 1200px;
}

#pageHolder {
	display: block;
	color: #000;
}

* html #pageContainer {
	border-left: 800px solid #fff;
}

* html #pageHolder {
	display: inline-block;
	/*float: left;*/
	position: relative;
	margin-left: -800px;
}

#somLogoContainer {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 138px;
	height:40px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 5;
	background: white;
}

#somLogoRightBorder {
	position:absolute;
	top: 21px;
	left: 138px;
	height: 20px;
	border-left: 1px solid #ddd;
	z-index: 3;
}

#somLogoBottomBorder {
	position:absolute;
	top: 39px;
	left: 1px;
	width: 138px;
	height: 1px;
	font-size: 1px;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
	z-index: 3;
}

#searchTopCorner {
	position: absolute;
	top: 0px; /* compensate for 1px searchTL.gif border */
	left: -1px; /* compensate for 1px border of its searchContainer */
	width: 17px;
	height: 17px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#outsideSiteLinksContainer {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2em;
	overflow: hidden;
	border: 0px; 
	border-left: 2px solid #fff; /* added to preserve width with searchContainer */
	padding: 0px;
	margin: 0px;
	color: white;
	font-family: arial, verdana, geneva, sans-serif; 
	background: #900 url(/././images/templates/default/redcornerTR.gif) no-repeat top right;
	z-index: 4;
}

#redCornerTL {
	position:relative; 
	top: 0px;
	left: 136px; /*instead of 138px to match shift due to 1px border for other elements*/
	width: 82%;
	height: auto;
	/*overflow: hidden;*/
	border: 0px; 
	padding: 0px;
	margin: 0px;
	color: white;
	padding-top: 2px;
	text-align: center;
	vertical-align: middle;
	/*display: inline;*/
	background: transparent url(/././images/templates/default/redcornerTL.gif) no-repeat 0px 0px;
}

ul#outsideSiteLinks {
	margin: 0px;
	padding: 0px;

	width: 660px;
	list-style: none;
	display: inline;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

ul#outsideSiteLinks *{
	margin: 0px;
	padding: 1px;
	border: 0px;
	color: white;
	font-weight: 500;
	display: inline;
	list-style: none;/*
	text-decoration: none;
	text-align: center;
	vertical-align: middle;*/
	background-image: none;
}

ul#outsideSiteLinks a:hover, ul#outsideSiteLinks a:active {
	text-decoration: underline;
}

.greenUnderline {
		position: relative;
		left: 0px;
		width: 100%;
		height: 3px;
		font-size: 2px; /*need a space for the div not to collapse; IE doesn't apply the above height to it unless font-size is reset to a pixel less than the height - annoying, I know */
		border: 0px;
		margin: 0px;
		padding: 0px;
		padding-left: 1px;
		padding-right:1px;
		background: url(/././images/templates/default/greenGradient.gif) repeat-x top left;
		z-index: 2;
}

#askUsContainer {
	float: right;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	padding-left: 19px;
	padding-right: 20px;
	border-bottom: 1px solid #ddd;
	background: transparent url(/././images/templates/default/askUsTallBg.gif) repeat top left;
	/*background: transparent url(/././images/templates/default/askUsGreenBackNoOutline.gif) repeat top left;*/
}


#askUsCornerContainer {
	position: relative;
/*
	bottom: 0px;
	left: 0px;
	height: auto;
*/
	bottom: -3px;
	left: -19px;
	padding: 0px;
	margin: 0px;
	border: 0px;
/*
	background-color: red;
	background-image: url(/././images/templates/default/askUsTallCorner.gif);
	background-repeat: no-repeat;
	background-position:  bottom right;
	z-index: 60;*/
}

/* askUsText is necessary to accomodate link removal on the askus.html page*/
#askUsText {
	position: relative;
	bottom: 5px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	color: white;
}

#askUsContainer a:link, #askUsContainer a:visited, #askUsContainer a:hover, #askUsContainer a:active {
	color: white;
}

#laneConnexContainer{
	position:absolute;
	top:55px;
	left: 17px;
	width: 123px;
	height: 19px;
	padding:0px;
	margin: 0px;
	border: 0px;
	z-index: 6;
	background: transparent;
}

#searchContainer {
	 position: relative;
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 border: 1px solid #ddd;
	 border-top: 0px;
	 border-bottom: 0px;
	 margin: 0px;
	 padding: 0px;
	 padding-bottom: 3px;
	 background: #ddc url(/././images/templates/default/searchGradient.jpg) repeat-x top left;
	 text-align: center;
	 font-weight:700;
	 /*letter-spacing: 1px;*/
	 z-index: 2;
}

ul#searchDbs {
	clear: both;
	height: 3em;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style: none;
	text-align: center;
	text-indent: 160px;
	margin-bottom: 20px;
}

ul#searchDbs li {
	display: inline;
	position: relative;
	top: 0px;
	left: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	background-image: none;
	text-indent: 0px;
}

ul#searchDbs a:link, ul#searchDbs a:visited, ul#searchDbs a:hover, ul#searchDbs a:active {
	height: 1em;
	margin: 0px;
	border: 0px;
	padding: 0px;
	border-right: 1px solid #996;
	padding-top: 10px;
	padding-left: 10px;
	padding-right:10px;
	vertical-align: bottom;
	text-decoration: none;
}

ul#searchDbs a:hover, ul#searchDbs a:active {
	color: black;
	background-image: url(/././images/templates/default/searchLinkRolloverBg.jpg);
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position:  0px -1px;
}

#searchFormContainer {
	margin: 0 auto;
	margin-left: 65px;
	margin-bottom: 5px;
	padding-top: 2px;
	/*width: 75em;*/
	height: auto;
	color: #222;
	vertical-align: middle;
}

.searchText {
	margin: 0 5px;
	vertical-align: middle;
}
/* no longer used
#searchQuery {
	 width: 30em;
	 height: auto;
	 margin:0px;
	 padding: 0px;
	 vertical-align: middle;
}
*/
#searchContainerRoundedCorners {
	position: absolute;
	bottom: -2px; /* compensate for 1px searchContainer border + 1px searchB?.gif border */
	left: -1px; /* compensate for 1px searchContainer border */
	width: 100%;
	height: 17px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: transparent;
	background-image: url(/././images/templates/default/searchBL.gif);
	background-repeat: no-repeat;
	background-position: 0px -1px; /* top left: compensate for 1px searchB?.gif border */
	z-index: 30;
}

#searchBottomCorner {
	position: absolute;
	bottom: 1px; /* compensate for 1px searchB?.gif border */
	right: -2px; /* compensate for 1px top bar borders on left and right */
	width: 17px;
	height: 17px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#searchFormSubmitButton {
	width:55px;
	height: 24px;
	vertical-align: middle;
	border:0px;
	margin: 0px;
	padding: 0px;
	background: transparent url(/././images/templates/default/go.gif) no-repeat top center;
}

#displaySearchTaglineText {
	margin:0px; 
	margin-top: 10px; 
	margin-left: 60px;
	padding: 0px; 
	color: #555;
	font-weight:400;
}

#searchTaglineText {
	display: none;
}

select, input {
	font-family: verdana, geneva, sans-serif; /* needed for some browsers */
}
