/* table styles for EdTech */
/* CSS Document */

/* Style for the Colors tables in the Lane Style Guide */
.simpleColorTable 
{
	padding: 3px 3px 3px 3px;
	border: 1px solid #cccccc;
	
	

}
.simpleColorTable td
{
	padding: 3px 3px 3px 3px;
	border: 1px solid #cccccc;
	
	

}

.simpleColorTableHeader td
{
	color: #444;
 	font-weight:bold;
}

/* End Color Table */

/* Alternating grey - green Table style */

.greyGreenTable td
{
	/*border-color: #cccccc;
	border-style:solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;*/
	padding: 3px 3px 3px 3px;
	border: 1px solid #cccccc;

	/*margin: 1px 1px 1px 1px; */
}

.tableHeader td

{
	/*border-style:solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;*/
	color: #444;	
}


.tableHeader
{
	font-weight: bold;
	background-color: #ecece8;
	text-align:left;
}



.tableAltA
{
	overflow: visible; 
	background-color: #f2f3ed
}

.tableAltB
{
	background-color: #d2d5c9;
	overflow: visible; 
}

.tableSep
{
	font-weight: bold;
	background-color: #ecece8;
	text-align:left;
}

.tableSep td

{
	border-style:solid;
	border-left-width: 0px;
	border-top-width: 6px;
	border-right-width: 0px;
	border-bottom-width: 6px;
	color: #444;	
}

/* end alternating gray - green color table */
/* Alternating color table for Classroom Reservations */
.spacesTable
{
border: 1px solid #CCCCCC;
border-collapse:collapse;

}

.spacesTable td
{
border: 1px solid #CCCCCC;
}

.spacesTableHeader
{
font-weight: bold;
color: #444;
background: #ecece8;
font-size: 11pt;

}
.roomDescA
{
background-color: #f2f3ed;
border-left: 0px;
}
.roomDescB
{
background-color: #d2d5c9;
border-left: 0px;
}

.calTab
{
background-color: #e2e2d6;
padding: 1px;
}

.resTab
{
background-color: #ecece8;
padding: 1px;
}

.cap
{
color:#CCCCCC;
}
.capalt
{
color:#FFFFFF
}

 .floatleft
{
float: left;
margin: 1px 1px 4px 1px;
border: 0px solid #666;
padding: 2px;
}

.morelink
{
font-size:8px;
}

.capB
{
background: #d2d5c9;
}

.capA
{
background: #f2f3ed;
}

.spacesep
{
background: #cccccc;
}

/* The above style is a bit bloated :( */