
/* styles for css buttons */

.red-btn span,.gray-btn span
	{
	display: inline-block;
	padding: 7px 12px;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.gray-btn,.red-btn {
	display: inline-block;
	margin: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*gray button*/
.gray-btn {
	color: #444444 !important;
	background-color: #edede5;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafbf8),
		to(#dadad4) );
	background: -moz-linear-gradient(#fafbf8, #dadad4);
	/*filter necessary to display gradient in IE*/
	filter: progid :         DXImageTransform.Microsoft.gradient (    
		  startColorstr =   
		   '#fafbf8', endColorstr =       '#dadad4' );
	border: 1px solid #dadad9;
}

.gray-btn:hover {
	border: 1px solid #9e9d98;
}

/* red button */
.red-btn {
	color: #ffffff !important;
	background-color: #e82c2e;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e82c2e),
		to(#940506) );
	background: -moz-linear-gradient(#e82c2e, #940506);
	/*filter necessary to display gradient in IE*/
	filter: progid :         DXImageTransform.Microsoft.gradient (    
		  startColorstr =   
		   '#e82c2e', endColorstr =       '#940506' );
	border: 1px solid #b51e1f;
}

.red-btn:hover {
	border: 1px solid #660000;
	background-color: #820000;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e82c2e),
		to(#820000) );
	background-image: -moz-linear-gradient(#e82c2e, #820000);
	/*filter necessary to display gradient in IE*/
	filter: progid :         DXImageTransform.Microsoft.gradient (    
		  startColorstr =   
		   '#e82c2e', endColorstr =         '#820000' );
}


.gray-btn:hover,.red-btn:hover
	{
	-moz-box-shadow: 1px 1px 1px 1px #e8e8e8;
	-webkit-box-shadow: 1px 1px 1px 1px #e8e8e8;
	box-shadow: 1px 1px 1px 1px #e8e8e8;
}


.events.button {
	color: white;
}
