/** LANE additions to iui **/
body {
    /*
    background:url('/././resources/images/mobile/lane-bg.png');
    */
    background-position-x: 0;
    background-position-y: 102px;
    background-repeat: no-repeat;
}

body > ul > li {
    font-size: 16px;
    background:url(/././resources/images/mobile/listBg.png) repeat-x;
    border-bottom:1px solid darkgray;
}

body > ul > li a {
    color:#0C4C72;
    /*color:SteelBlue*/;
    padding-top:12px;
    padding-bottom:11px;
}
    
body > .toolbar {
    border-top: 1px solid #2D3642;
    background: url(/././resources/images/mobile/toolbar.png) #6E0000 repeat-x;
}

.toolbar > h1 {
    font-size: 16px;
}

li > a[selected], li > a:active {
    background-color: #6e0000 !important;
}

ul.panel>li{
    background:none;
}

.panel > ul li  {
    list-style: none;
}

.loadingMask {
    opacity: .1;
}

#loading {
    position: absolute;
    overflow: hidden;
    display:none;
    top: 6px;
    right: 60px;
    background: url(/././resources/images/mobile/loading.gif) repeat-x;
    width:32px;
    height:32px;
}

.dialog > fieldset {
    background:#c9d3d7;
    border-top: 1px solid #8b0000;
    border-bottom: 1px solid #000;
}

#laneSearch fieldset {
    padding-top:0;    
}

#searchLink {
    position: absolute;
    top: 18px;
    left: 10px;
}
#searchLink img {
    width:20px;
}

.listSpacer{
    height:10px;
    border-bottom:none;
    background:#e5ebed;
}

.footer {
    padding-top:10px;
    padding-bottom:20px;
    font-size:11px;
    /*
    background:url(/././resources/images/mobile/footerBg.png) repeat-x;
    */
    background:#c2cbd0;
    text-align:center;
    border-bottom:70px solid #414649;
}

.footer a {
    background: none;
    display: inline;
    text-decoration: none;
}

.fCopy {
    position: absolute;
    bottom: 20;
    left: 10px;
    color: gray;
    color: gray;
}

.fFV {
    position: absolute;
    bottom: 20;
    right: 10px;
}

#searchInput {
    padding-left:28px;
    padding-right:24px;
    width:100%;
    margin-top:10px;
    height:34px;
    font-size:16px;
    -webkit-border-radius:15px;
    /*border-top:2px inset darkgray;*/
    border:2px solid darkgray;
}

#searchCancel {
    position:absolute;
    top:18px;
    right:12px;
    display:none;
    background: url(/././resources/images/mobile/cancel.png) no-repeat;
    height:20px;
    width:20px;
}

#searchTag {
    padding-left:22px;
}
#pico input {
    padding-left:8px;
    margin:0 0 10px 0;
    font-size:14px;
    height:32px;
    width:100%;
    -webkit-border-radius:15px;
    border:2px solid darkgray;
}
#picoClr {
    width:65px;
    float:right;
}
#login .row span {
    padding-left:140px;
}

#results {
    padding:0;
}
#results li {
    color:gray;
    font-size:14px;
}
#results li a {
    background:none;
}
#results li.rHead {
    font-size:12px;
    text-align:center;
}
#results li.rHead strong {
    color:black;
    font-style:italic;
}
li.more {
    border-bottom:4px solid #7a8792;
}
#results li a.more{
    text-align:right;
    font-size:14px;
    background:url('/././resources/images/mobile/listArrow.png') no-repeat scroll right center transparent;
}
#results li{
    background-color:#dfe6e9;
}
#results strong {
    color:#00E;
    /*color:#6e0000;*/
}
div.absInfo {
    box-sizing: border-box;
    -webkit-user-select: text;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}
.pubAuthor, .pubInfo {
    font-size:10px;
}
.pubInfo {
    font-weight:bold;
}
.rDesc {
    padding-top:10px;
}
.sgstCnt {
    display:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #000000;
    background:white;
    margin-top:1px;
}
.sgstCnt ul {
    width:95%;
    margin: 0;
    position:relative;
    left:-35px;
}
.sgstCnt li {
    font-size:10pt;
    padding-top:5px;
    padding-bottom:5px;
    list-style: none;
    border-bottom: 1px solid lightgray;
}
#pico .sgstCnt {
    margin-top:-9px;
    margin-bottom:10px;
}
#homeButton {
    padding:0 3px;
    position:absolute;
    right:6px;
    top:8px;
    display:none;
    background: url(/././resources/images/mobile/home.png) no-repeat;
    width:38px;
    height:30px;
}
#loginLink {
    visibility:hidden;
}