.sb-tb {
background-image:url(/././images/templates/irt3/tb.gif);
background-repeat:repeat-x;
}
.sb-c {
background-image:url(/././images/templates/irt3/corners.gif);
}
#sb-tr {
background-position:100% 0
}
#sb-rt {
background-image:url(/././images/templates/irt3/lr.gif);
background-repeat:repeat-y;
background-position:right
}

#sb-lft {
background-image:url(/././images/templates/irt3/lr.gif);
background-repeat:repeat-y
}
#sb-bot {
background-position:bottom
}
#sb-bl {
background-position:0 100%
}
#sb-br {
background-position:100% 100%
}
#nav a {
color:white;
}
#nav li {
color:white;
}
#nav {
background-image: url(/././images/templates/irt3/bg_nav_nocorner_grad.gif);
}
#bd, #ft {
background-color:white;
}
html {
background-color: #D6D5C7;
color:black;
}
#shd a {
color:#616150
}
div#hd {
background-image:url(/././images/templates/irt3/hd.png);
background-repeat:repeat-x;
background-color:#F3F4E6;
}
#hd h1 a {
background-image: url(/././images/templates/irt3/logo_header_som.png);
}
#hd h1 a:hover{
background-position:0 -50px;
}
#hd h2 {
background-image: url(/././images/templates/irt3/hd-h2.png);
background-repeat:no-repeat;
background-position:0 6px;
}
#hd h3 {
background-image: url(/././images/templates/irt3/divisionIRT.gif);
background-repeat:no-repeat;
}
#hd h2 span#subtitle {
color:black;
}
#askUs {
color:white;
}
.yui-tt { 
    background-color:#F2F3ED;
}
div#leftColumn h2, div#rightColumn h2 {
background-image:url(/././images/templates/irt3/boxlabel_bkgnd.jpg);
/*background-color:  #efefef;*/
color:#2D2D2D;
}

div#rightColumn{
 color:#2D2D2D;
}
#bd h1 {
color: #8a604f;
}
#bd h2, #bd h3, #bd h4 {
color: #444444;
/*background-color:transparent; causes activeTabs to be white; wrapperBox h2 to be transparent*/
}
#bd li {
background-image: url(/././images/templates/irt3/list-background-line.gif);
background-repeat: no-repeat;
background-position:0 -.1em;
}
#bd ol li{
background-image:none;
}
#bd li.moreItem { 
background-image: url(/././images/templates/irt3/list-background-chevron.gif);
}
ul#eLibraryTabs li {
background-image:none;
}
li.eLibraryTab{
color:#1C4B70;
}
li.eLibraryTab:hover, li.eLibraryTab:active{
color: #900;
}
li.eLibraryTab:visited {
color: #79455C;	
}

ul#eLibraryTabs li.eLibraryTab, div#eLibraryTabContainer a, .bgTab  {
background-image: url(/././images/templates/irt3/tab-gradient-rotated.gif);
background-position:bottom;
background-repeat:repeat-x;
}
#bd .activeTab, li.eLibraryTabActive, li.eLibraryTabActive a {
background-color: #9C9A90;
color:white;
}
.activeTab a {
/*background-color:inherit;*/
color:white;
}
h2.bgTab a {
/*background-color:transparent;*/
}
div.wrapperBox h2 {
color:#666;
background-color:#fff;
}
div#otherPortalOptions ul {
background-color:white;
color:inherit;
}
div#otherPortalOptions ul li {
background-image:none;
}
a:link {
color: #1C4B70;
/*background-color:inherit;*/
}
a:visited {
color: #79455C;	
/*background-color:inherit;*/
}
a:hover, a:active { 
color: #900;
/*background-color:inherit;*/
}
#bd h2.searchHeader {
background-color: #9C9A90;
color:white;
}
#popInContent a {
color:#990000;
}
.yui-panel {
background-color:#E6E8DA;
}
.yui-panel .hd {
background-color:#888983;
color:white
}
.yui-panel .container-close {
background-image: url(/././images/templates/irt3/panel-close.gif);
background-repeat:no-repeat;
}
.keywords {
color:black;
}
object#featureSlider div.aGeneralBox {
background:#ccc;
}

/*UNUSED==============================

div#leftColumn h3 {
	background-color:#F3F4E6;
	background-image:url(/././images/templates/irt3/bg_heading_small.gif);
	background-repeat:repeat-x;
}

div#leftColumn {
	background-color: #F3F4E6;
}

	
	line-height:110%;

	background-image:url(/Templates/images/boxlabel_bkgnd.jpg);
	background-repeat:repeat;
	border-bottom:solid;
	border-bottom-width:1px;
	border-bottom-color:#C1C1C1;

div#leftColumn  h2 {
color:inherit;
background-color:#F3F4E6;
background-image: url(/././images/templates/irt3/navlabel_bkgnd.jpg);
}

td#rightColumnHome h2, td#leftColumnHome h2 {
background-color:#ececec;
color:inherit;
}

div.eMainBox {
background: url(/././images/templates/irt3/blueToWhiteBoxGrad.jpg) repeat-x top left;
}
div.eMainBox * {
background-color:transparent;
}
h2.eMainBox {
background-color:#b7b5ab;
color:white;
}

dd li, ol li, ul.queryMappingResults li, ul.queryMappingHeader li {
background-image:none;
}
#findItLink, #spellCheckLink {
color: #900;
background-color:inherit;
}
#footerDark {
background-color: #5f5f5f;
}
#footerDark a {
color: #fff;	
}

.alert {
color: #900;
}

.area-hover {
   background: #000000;
 }

.grey {
color: #999;
}
*/
