#shd {
background-image:url(/././images/templates/irt3/sprite-vert.gif);
background-repeat:repeat-x
}
#shd li {
background-image:url(/././images/templates/irt3/sprite-vert.gif);
background-position:0 -60px;
background-repeat:no-repeat
}
#shd a {
background-image:url(/././images/templates/irt3/sprite.gif);
background-repeat:no-repeat;
background-position:115% -382px
}
#stanfordMedicineBrand a {
background-image:url(/././images/templates/irt3/sprite.gif);
background-repeat:no-repeat;
background-position:0 0;
}
#stanfordMedicineBrand a:hover {
background-position:0 -100px;
text-decoration:none
}
#stanfordUniversityBrand a {
background-image:url(/././images/templates/irt3/sprite.gif);
background-repeat:no-repeat;
background-position:52px -191px;
}
#shd #stanfordUniversityBrand a:hover {
background-position:52px -291px;
text-decoration:none
}
#shd ul li, #shd ul a {
background-image:none
}
#shd ul {
background-color:#D6D5C7
}
#shd ul li a:hover {
background-color:#b5b5a7
}
.sb-tb {
background-image:url(/././images/templates/irt3/sprite-vert.gif);
background-position:0 -120px;
background-repeat:repeat-x;
}
.sb-c {
background-image:url(/././images/templates/irt3/sprite.gif);
}
#sb-tl {
background-position:0 -700px;
}
#sb-tr {
background-position:-12px -700px;
}
#sb-rt {
background-image:url(/././images/templates/irt3/lr.gif);
background-repeat:repeat-y;
background-position:right
}

#sb-lft {
background-image:url(/././images/templates/irt3/lr.gif);
background-repeat:repeat-y
}
#sb-bot {
background-position:0 -126px
}
#sb-bl {
background-position:0 -712px
}
#sb-br {
background-position:-12px -712px
}
#nav a {
color:white;
}
#nav li {
color:white;
}
#nav {
background-image: url(/././images/templates/irt3/sprite-vert.gif);
background-color: #800000;
background-position:0 -400px
}
#bd, #ft {
background-color:white;
}
html {
background-color: #D6D5C7;
color:black;
}
#shd a {
color:#696962
}
#shd a:hover {
color:#900;
}
#hd {
background-image:url(/././images/templates/irt3/sprite-vert.gif);
background-repeat:repeat-x;
background-color:#F3F4E6;
background-position:0 -140px;
}
#hd h1 a {
background-image: url(/././images/templates/irt3/sprite.gif);
background-position:0 -500px;
}
#hd h1 a:hover{
background-position:0 -600px;
}
#hd h2 {
background-image: url(/././images/templates/irt3/sprite-vert.gif);
background-repeat:no-repeat;
background-position:0 -334px;
}
#irt {
background-image: url(/././images/templates/irt3/sprite.gif);
background-repeat:no-repeat;
background-position:5px -798px
}
#hd h2 span#subtitle {
color:black;
}
#askUs {
background-image:url(/././images/templates/irt3/sprite.gif);
background-repeat:no-repeat;
background-position:0 -895px
}
#searchSubmit {
background-color:transparent;
background-image:url(/././images/templates/irt3/sprite.gif);
background-position:0 -1000px;
border:none;
width:56px;
height:18px;
}
#searchSubmit:hover {
background-position:0 -1100px;
}
#searchTabs li.activeSearchTab a:link, #searchTabs li.activeSearchTab a:visited, #searchTabs li.activeSearchTab a:hover, #searchTabs li.activeSearchTab a:active {
color:#111111
}
.yui-tt { 
    background-color:#F2F3ED;
}
div#leftColumn h2, div#rightColumn h2 {
background-image:url(/././images/templates/irt3/sprite-vert.gif);
background-position:0 -440px;
background-color:  #EFEFEF;
color:#2D2D2D;
}

div#rightColumn{
 color:#2D2D2D;
}
#bd h1 {
color: #8a604f;
}
#bd h2, #bd h3, #bd h4 {
color: #444444;
/*background-color:transparent; causes activeTabs to be white; wrapperBox h2 to be transparent*/
}
#bd li {
background-image: url(/././images/templates/irt3/list-background-line.gif);
background-repeat: no-repeat;
background-position:0 -.1em;
}
#bd ol li {
background-image:none;
}
#bd li.moreItem { 
background-image: url(/././images/templates/irt3/list-background-chevron.gif);
}
ul#eLibraryTabs li {
background-image:none;
}
li.eLibraryTab{
color:#1C4B70;
}
li.eLibraryTab:hover, li.eLibraryTab:active{
color: #900;
}
li.eLibraryTab:visited {
color: #79455C;	
}

#eLibraryTabs .eLibraryTab, .bgTab {
background-image: url(/././images/templates/irt3/sprite-vert.gif);
background-repeat:repeat-x;
}
#eLibraryTabs .eLibraryTab {
background-position:0 -570px
}
.bgTab {
background-position:0 -581px
}
#bd .activeTab, li.eLibraryTabActive, li.eLibraryTabActive a {
background-image:none;
background-color: #9C9A90;
color:white;
}
.activeTab a {
/*background-color:inherit;*/
color:white;
}
div.wrapperBox h2 {
color:#666;
background-color:#fff;
}
div#otherPortalOptions ul, #otherSearches ul {
background-color:white;
color:inherit;
}
div#otherPortalOptions ul li {
background-image:none;
}
a:link, #searchTabs a:visited {
color: #1C4B70;
/*background-color:inherit;*/
}
a:visited {
color: #79455C;	
/*background-color:inherit;*/
}
a:hover, a:active { 
color: #900;
/*background-color:inherit;*/
}
#bd h2.searchHeader {
background-color: #9C9A90;
color:white;
}
#popInContent a {
color:#990000;
}
.yui-panel {
background-color:#E6E8DA;
}
.yui-panel .hd {
background-color:#888983;
color:white
}
.yui-panel .container-close {
background-image: url(/././images/templates/irt3/panel-close.gif);
background-repeat:no-repeat;
}
.keywords {
color:black;
}
object#featureSlider div.aGeneralBox {
background:#ccc;
}
.grey {
color: #999;
}
