  .blockquote {
        margin:0pt 2em 0pt 2em;
        font-style:italic;
  }
  div.flowDiagram {
        text-align:center;
        margin-top:2em;
        }
  div.flowDiagram div.wrapperBox {
        width:475px;
        margin:1em auto 0pt auto;
        }
  div.flowDiagram div.wrapperBox h2 {
        color:#990000;
        font-size:1.3em;
        }
  div.flowDiagram div.wrapperBox li {
        list-style-position: outside;
        margin-left:3em;
        padding-left:0pt;
        text-align:left;
        }
  div.flowDiagram div.wrapperBox li ol li {
        list-style-type:lower-alpha;
        }
  div.flowDiagram div.wrapperBox li ol li ol li {
        list-style-type:lower-roman;
        }
  div.flowDiagram div.wrapperBox p {
        text-align:left;
        }
  div.flowDiagram div.wrapperBox a {
        text-decoration:underline;
        }