#sb-rt {
margin-top:33px
}
#hd h1 {
margin-left:10px;
}
#hd h3 {
margin:0
}
#search fieldset {
margin:0 10em 0 0;
}
#nav li {
margin:.25em 1em .5em 2.3em;
_margin:.25em 1em .5em 1.3em;/*ie6 hack*/
}
#breadcrumb {
margin:.5em 2em .75em 1.2em;
}
#searchTabs {
margin-bottom:.3em;
}
#homeCategories h2, #homeCategories ul {
margin:1em;
}
#bd ul, #bd ol {
margin-bottom:1em;
}
p {
margin-bottom:1em;
}
h2, h3, h4, h5 {
margin-top:.5em;
}
div.fMainBox, div.aGeneralBox {
margin-bottom:1em;
}
div.aGeneralBox {
margin-top:1em;
}
#rightColumn div.aGeneralBox {
margin-top:0;
/*margin-bottom:0;Causes bottomless bottoms if last box ie6*/
}
object#featureSlider div.aGeneralBox img {
margin-right:1em;
}
#leftColumn p, #leftColumn ul, #rightColumn p, #rightColumn ul {
margin:0 1em 1em 1em;
}
#bd dd ul, #bd ul#eLibraryTabs {
margin:0;
}
div#leftColumn, div#rightColumn {
margin-bottom:-1px;
}
#leftColumn h2, #rightColumn h2 {
margin-top:0;
margin-bottom:1em;
}
#leftColumn h2.ImageTitle {
margin:0;
}
#leftColumn h3, #rightColumn h3 {
margin:0 1em 0 1em;
}
#leftColumn div h3, #rightColumn div h3 {
margin-top:1em;
}
h2 img {
margin-right:10px;
}
h2.ImageTitle img {
margin:0;
}
.eLibraryTab, .metaSearchResults, h2.bgTab, h2.activeTab {
margin-right: -1px;
}
#otherPortalOptions h2.bgTab {
margin-right:0
}
#searchTabs li li {
margin-right:0
}
#popInContent div {
margin:1em;
}
.wrapperBox {
margin:1em .5em 1em .5em;
}
.portalNavLinks {
margin-bottom:1em;
}
.portalNavLinks h1 {
margin-right:1em;
}
.searchCategory {
margin:1em;
}
h2.searchHeader {
margin:1em 1em 1px 0;
}
ul.queryMappingResults li  {
  margin:0 .5em 0 0;
}
dl {
margin:1em;
}
p#noHitsText {
margin:1em;
}
#yui-main .aGeneralBox h2 {
margin-bottom:1em;
}
#articlefinder h2 {
margin-top:1em;
}
form#easyFeedback {
margin-left:1em;
}
.announce {
margin:1em;
}
.citationList li{
margin-bottom:1em;
}
