#shd a {
padding:13px 24px 0 12px;
}
#shd ul a {
padding:6px
}
#sb-lft {
padding-left:6px
}
#sb-rt {
padding-right:6px
}
#hd h2 {
padding-left:12px;
}
#pl {
padding:10px 15px 0 0;
}
#askUs {
padding:0.25em 1em .25em 1.5em;
}
#ft li, #gft li {
padding:0 14px 0 14px;
}
#ft {
padding:5px 0 5px 0;
}
#bd li {
padding-left:.5em;
padding-top:.1em;
}
#eLibraryTabs li, #browseTabs li, .bgTab, .activeTab {
padding:.5em;
}
#leftColumn h2, #rightColumn h2, h2.SquareTitle {
padding: 7px 10px 7px 11px;
}
#leftColumn h2.ImageTitle, #rightColumn h2.ImageTitle, #search fieldset {
padding:0;
}
#hd {
padding-bottom:10px;
}
#bd h1 {
padding:.5em 0 .5em 0;
}
#queryMapping a {
padding-left:2em;
}
.fMainBox, .noBox, .yui-tt {
padding:1em;
}
.wrapperBox {
padding:0 0 2em 1em;
}
.wrapperBox h2 {
padding:0 .5em 0 .5em;
}
#otherPortalOptions li {
padding:.1em .5em;
}
dd {
padding-left:2em
}
.searchHeader {
padding:.5em 1em;
}
.yui-panel .hd, .yui-panel .bd {
padding: 4px;
font-family: arial, helvetica, sans-serif;
font-size:90%;
}
#yui-main .aGeneralBox {
padding:1em;
}
#articlefinder td {
padding:2px;
}
#articlefinder table {
padding:10px;
}
#ebmesh, #ejmesh {
padding:1em;
}
#noCols {
padding:1em;
}
