/*TODO: fit into CY form once dev complete */
#pico input#searchTerms{
width:35em;
}
#pico .inputTip{
color:#808080;
}
#pico .inputWarning{
display:none;
}
#warningPanel.yui-panel .bd {
border:1px solid #808080;
background-color:#fff;
color:#000;
}
#warningPanel.yui-panel .bd img {
padding-top:2px;
vertical-align:bottom;
width:20px;
}
.acContainer {
display:inline;
position:relative;z-index:9000;
}
.acMesh{
display:inline;
text-align:left;
}

/* styles for entire auto complete widget */
.yui-ac {
position:relative;font-family:arial;font-size:100%;
}

/* styles for input field */
#pico input, .yui-ac-input {
position:static; width:14em; margin-bottom:4px; vertical-align:middle;
}

/* styles for results container */
.yui-ac-container {
position:absolute;top:1.6em;width:100%;left:0px;
}

/* styles for results container header */
.yui-ac-hd {
font-weight:bold;white-space:nowrap;padding:2px 5px;
}

/* styles for header/body/footer wrapper within container */
.yui-ac-content {
font-size:0.9em;position:absolute;text-align:left;width:100%;border:1px solid #808080;background:#fff;overflow:hidden;z-index:9050;
}

/* styles for container shadow */
.yui-ac-shadow {
position:absolute;margin:.3em;width:100%;background:#000;-moz-opacity: 0.10;opacity:.10;filter:alpha(opacity=10);z-index:9049;
}

/* styles for results list */
.yui-ac-content ul{
margin:0;padding:0;width:100%;
}

/* styles for result item */
.yui-ac-content li {
margin:0;padding:2px 5px;cursor:default;white-space:nowrap;
}

/* styles for prehighlighted result item */
.yui-ac-content li.yui-ac-prehighlight {
background:#B3D4FF;
}

/* styles for highlighted result item */
.yui-ac-content li.yui-ac-highlight {
background:#426FD9;color:#FFF;
}