
body{
    background-color:rgb(236, 241, 242);
    font-family:sans-serif;
}
.centered{
    width:950px;
    margin:auto
}
#header{
    margin-top:32px;
    height:92px;
    background-color:white;
    box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.5);
}
h1{
    font-size:20px;
    font-weight:400;
    padding:52px 0 0 190px;
}
h1 a{
    color:#333333;
    text-decoration:none
}
#sm-header{
    position:absolute;
    top:0;
    width:100%;
    height:32px;
    background-color:black
}
#sm-header ul{
    float:right;
}
#sm-header li{
    float:left;
    position:relative
}
#sm-header>div>ul>li>div{
    display:none;
    position:absolute;
    background-color:#666666;
    width:320px;
    padding:8px
}
#sm-header>div>ul>li:hover>div{
display:block;
}
#sm-header a{
    color:#DDDDDD;
    text-decoration:none;
    text-transform:uppercase;
    font-size:11px;
    font-weight:600;
    display:block;
    padding:0 18px;
    line-height:34px
}
#sm{
    position:absolute;
    display:block;
    height:45px;
    width:179px;
    background-repeat:no-repeat;
    background-image:url(../../images/history/sm.png);
    top:58px;
    border-right:1px black solid;
    text-indent:-9999px
}
#lane-footer, #lane-subfooter{
    background-color: #8C1515;
}
#lane-footer{
    margin-top:10px
}
#lane-footer h2{
    font-size:24px;
    padding:17px 0 12px;
    margin-bottom:24px
}
#lane-footer li, #lane-footer h3, #lane-footer h2{
    border-bottom: 1px solid #902827;
}
#lane-footer a{
    color:white;
    line-height:24px;
    text-decoration:none;
    font-weight:300;
    white-space:nowrap
}
#lane-footer ul a, #lane-subfooter{
    font-size:12px;
    font-weight:400;
}
#lane-subfooter{
    line-height: 22px;
    padding: 22px 0 7px;
}
#lane-subfooter, #lane-subfooter a{
    color:  #999999;
    text-decoration:none;
}
#lane-subfooter ul{
    float:right;
}
#lane-subfooter li{
    float:left;
    padding:3px 5px 5px 0
}
#lane-subfooter span{
    display:none
}
#lane-subfooter i{
    background-color: #999999;
    border-radius: 11px;
    color: #8C1515;
    height: 22px;
    line-height: 20px;
    margin-left: 0;
    text-align: center;
    width: 22px;
}
#sm-footer{
    background-color:rgb(38, 38, 38);
    color:rgb(158, 158, 158);
    height:100px;
    padding:30px 0 30px 0;
}
#sm-footer ul{
    padding:16px 0 64px;
}
#sm-footer li{
    display:inline-block;
    width:25%;
    list-style-type:none
}
#sm-footer a{
    display:block;
    text-indent:-9999px;
    background-image:url(../../images/history/logo-sprite-globalfooter.png);
    margin:auto;
    height:50px;
    cursor:pointer;
}
#footer-sm{
    width:102px;
}
#footer-su{
    background-position:-120px 0;
    width:182px;
}
#footer-shc{
    background-position:-326px 0px;
    width:172px;
}
#footer-sch{
    background-position:-518px 0px;
    width:148px;
}
.menu{
    border-top:12px solid #8C1515
}
.menu a{
    color:white;
    background-color:#333333;
    text-decoration:none;
    font-weight:300;
    display:block;
    padding:9px 20px 9px 13px;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
.menu a:hover{
    background-color:#555555;
}
.gutter-left{
    margin-left:10px;
}
.gutter-right{
    margin-right:10px;
}