<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    
    <appender name="LOG" class="edu.stanford.irt.laneweb.LogAppender">
        <param name="File" value="${catalina.base}/logs/laneweb.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%t][%c] - %m%n"/>
        </layout>
    </appender>
    
    <appender name="JAVASCRIPT_LOG" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/javascript.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="4"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%t][%c] - %m%n"/>
        </layout>
    </appender>
    
    <appender name="WEBDASH" class="org.apache.log4j.net.SMTPAppender">
        <param name="Threshold" value="ERROR"/>
        <param name="To" value="ceyates@stanford.edu"/>
        <param name="From" value="laneweb@stanford.edu"/>
        <param name="Subject" value="Webdash Error"/>
        <param name="SMTPHost" value="smtp.stanford.edu"/>
        <param name="BufferSize" value="512"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n"
            />
        </layout>
    </appender>
    
    <appender name="VOYAGER" class="org.apache.log4j.net.SMTPAppender">
        <param name="Threshold" value="ERROR"/>
        <param name="To" value="ryanmax@stanford.edu"/>
        <param name="From" value="laneweb@stanford.edu"/>
        <param name="Subject" value="Voyager Login Error"/>
        <param name="SMTPHost" value="smtp.stanford.edu"/>
        <param name="BufferSize" value="512"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n"
            />
        </layout>
    </appender>
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender"> 
        <param name="Target" value="System.out"/> 
        <layout class="org.apache.log4j.PatternLayout"> 
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> 
        </layout> 
    </appender> 
    
    <category name="edu.stanford.irt.laneweb.webdash.WebdashLogin" additivity="false">
        <priority value="ERROR"/>
        <appender-ref ref="WEBDASH"/>
    </category>
    
    <category name="edu.stanford.irt.laneweb.LoginAction" additivity="false">
        <priority value="ERROR"/>
        <appender-ref ref="VOYAGER"/>
    </category>
    
    <category name="edu.stanford.irt.laneweb.JavascriptLoggerAction" additivity="false">
        <priority value="ERROR"/>
        <appender-ref ref="JAVASCRIPT_LOG"/>
    </category>
    
    <!--<root>
        <priority value="ERROR"/>
        <appender-ref ref="LOG"/>
    </root>-->
    
    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="console"/>
    </root>
    
</log4j:configuration>

