<?xml version="1.0" encoding="UTF-8"?>
<!--
  - $Id: web.xml 51550 2008-12-17 19:49:10Z ceyates@stanford.edu $
  -->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml /WEB-INF/cocoon/spring/*.xml</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    
    <filter>
		<filter-name>LanewebHTTPSFilter</filter-name>
		<filter-class>
			edu.stanford.irt.laneweb.LanewebHTTPSFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LanewebHTTPSFilter</filter-name>
		<url-pattern>/secure/*</url-pattern>
	</filter-mapping>
    
    
    <filter>
        <filter-name>GzipFilter</filter-name>
        <filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.xml</url-pattern>
    </filter-mapping>

    <servlet>
        <description>SitemapRequestHandler</description>
        <display-name>SitemapRequestHandler</display-name>
        <servlet-name>edu.stanford.irt.cocoon.spring.SitemapRequestHandler</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>edu.stanford.irt.cocoon.spring.SitemapRequestHandler</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
