.button {
    font-size: 14px;
    font-weight: 400;
    padding: 5.25px 10.5px;
    border: 1px #cccccc solid;
    border-radius: 3.5px;
    cursor: pointer;
    background-color: #f1f1f1;
    display: inline-block;
}

.button span {
    background-color: #8c1515;
    color: #ffffff;
    padding: 7px;
    border-radius: 4px;
    display: inline-block;
}
